<!--<?php
$typename = $type ? '替换词语' : '禁用词语';
print <<<EOT
-->
<div class="m"></div>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="tr4">
    <td style="text-align:center">
	<form action="$basename" method="post">
	类型: &nbsp;&nbsp;
      <select name="type" id="type" onchange="javascript:submit();">
        <option value="0" $type_0>禁用词语</option>
        <option value="1" $type_1>替换词语</option>
      </select>
      &nbsp;搜索:&nbsp;&nbsp;
      <input name="keyword" type="text" class="input" id="keyword" size="10" value="$keyword" />&nbsp;
      <input name="action" type="hidden" id="action" value="show" />
      &nbsp;
      <input type="submit" name="Submit2" value="显示" class="btn" />
	  </form>
		<input type="button" name="add" class="btn" id="add" value="添加词语" onclick="javascript:show('addword');" />
		<input type="button" name="import" class="btn" id="import" value="导入词语" onclick="javascript:show('importword');" />
		<input type="button" name="export" class="btn" id="export" value="导出词语" onclick="javascript:window.location='$basename&action=export&type=$type';" />
    (功能完善中)
    </td>
  </tr>
</table>
</div>
<div class="t" style="display:none" id="importword">
<form action="$basename" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="import" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="head"><td>批量导入词语</td></tr>
<tr class="tr3">
	<td class="t_one">选择需要导入的文件(txt)，点击提交<br />内容规则：<br />
　　1、a=>b (将词语a替换成词语b)<br />
　　2、a|b|c=>d (将词语a、b、c替换成词语d)<br /></td>
</tr>
<tr>
	<td class="t_two"><br />&nbsp;导入文件:&nbsp;&nbsp;<input name="upload" type="file" class="input" id="upload" size="40" />&nbsp;&nbsp;<input type="radio" name="type" value="0" checked="checked" />禁用词语&nbsp;<input type="radio" name="type" value="1" />替换词语&nbsp;&nbsp;<input type="submit" name="submitimport" class="btn" value="提交" /></td>
</tr>
</table>
</form>
</div>
<div class="t" style="display:none" id="addword">
<form action="$basename" method="post" name="add">
<input type="hidden" name="action" value="add" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="8">
	    <b>添加</b>{$typename}&nbsp;&nbsp;&nbsp;<b><a href="javascript:addact();">[增]</a>&nbsp;&nbsp;<a href="javascript:removeact();">[减]</a></b></td>
    </tr>
  <tr class="tr2" align="center">
    <td>{$typename}</td>
    <td>替换为</td>
  </tr>
  <tr class="tr3">
    <td class="t_two" align="center"><input name="srcword[1]" type="text" value="" size="30" /></td>
    <td class="t_one" align="center"><input name="tarword[1]" type="text" value="" size="30" /></td>
  </tr>
<!--
EOT;
for($i=2;$i<=10;$i++){
$id='act_'.$i;
print <<<EOT
-->
<tr class="tr3" align="center" id="$id" style="display:none">
    <td class="t_two" align="center"><input name="srcword[$i]" type="text" value="" size="30" /></td>
    <td class="t_one" align="center"><input name="tarword[$i]" type="text" value="" size="30" /></td>
</tr>
<!--
EOT;
}print <<<EOT
-->
<tr class="tr4">
<td align="center" colspan="2"><input type="radio" name="type" value="0" checked="checked" />禁用词语&nbsp;<input type="radio" name="type" value="1" />替换词语&nbsp;&nbsp;<input type="submit" name="submitadd" class="btn" value="提交" /></td>
</tr>
</table>
</form>
</div>
<form action="$basename" method="post" name="list">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="8">
	    <div style="float:right">{$typename}合计 {$total} 组</div><b>编辑</b>{$typename}</td>
    </tr>
  <tr class="tr2">
    <td>序号</td>
    <td>{$typename}</td>
    <td>替换为</td>
    <td>操作</td>
  </tr>
<!--
EOT;
$i = 0;
foreach($wdf as $value){
$bgcolor = $i%2==0 ? 't_one' : 't_two';
$i++;
print <<<EOT
-->
  <tr class="tr3 $bgcolor">
    <td><input name="ids[]" type="checkbox" id="ids[]" value="$value[id]" />
      $value[id]</td>
    <td><input name="srcword[{$value[id]}]" type="text" value="$value[srcword]" size="30" /></td>
    <td><input name="tarword[{$value[id]}]" type="text" value="$value[tarword]" size="30" /></td>
    <td><a href="$basename&action=del&ids=$value[id]">删除</a></td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="tr4">
    <td>操作:
      <select name="action" id="action">
        <option value="del">删除词语</option>
        <option value="edit">更新词语</option>
      </select>
    <input name="type" type="hidden" id="type" value="$type" />
    <input type="button" name="Submit3" value="全选" class="btn" onclick="CheckAll(document.list);" />
    <input type="submit" name="Submit4" value="提交" class="btn" onclick="return whole(document.list);" /></td>
    <td style="text-align:right">$pages</td>
  </tr>
</table>
</div>
</form>
<script type="text/javascript">
var act = 1;
function addact(){
	if(act < 10){
		act++;
		document.getElementById("act_"+act).style.display = "";
	}
}
function removeact(){
	if(act > 1){
		document.getElementById("act_"+act).style.display = "none";
		act--;
	}
}
function show(id){
	e = document.getElementById(id);
	if(e.style.display==''){
		e.style.display = 'none';
	}else{
		e.style.display = '';
	}
}
</script>
<!--
EOT;
?>-->