* { word-wrap:break-word; outline:none; }
body { background:#FFF; text-align:center; }
body, td, input, textarea, select, button { color:#555; font:12px Verdana, Arial, Helvetica, sans-serif; }
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin:0; padding:0; }
ul { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:12px; }
a { color: #000000; text-decoration:none; }
a:hover { text-decoration:underline; }
a img { border:none; }
em, cite, th { font-style:normal; font-weight:normal; }
table { border-collapse:collapse; }
th { text-align:left; }
label { cursor:pointer; }
/* form */
textarea, input, select { padding:2px; border:1px solid; border-color:#666 #ccc #ccc #666; background:#F9F9F9; color:#333; }
.txt, select { vertical-align:middle; }
.txt:hover, .txt:focus, textarea:hover, textarea:focus { border-color:#09C; background:#F5F9FD; }
.txtnobd { border:1px solid #FFF; background:#FFF; cursor:pointer; }
.radio, .checkbox { border:none; background:none; vertical-align:middle; }
.checkbox { height:14px; }
.btn { margin:3px 0; padding:2px 5px; *padding:4px 5px 1px;
border-color:#ddd #666 #666 #ddd; background:#DDD; color:#000; cursor:pointer; vertical-align:middle; }
.uploadbtn { width:270px; border-color:#999; }
/* title 
h3{ margin-bottom:10px; font-size:14px; color:#09C; }*/
.spectitle { border-bottom:1px dashed #F66; }
h3 { font-size: 14px; height: 20px; padding-top:5px; border-bottom: 1px dashed #D4D4D4; background-color: #F9F8F4; padding-left: 10px; }
.txt { width:200px; }
.tarea { width:360px; height:75px; }
/*container*/
#container { margin:5px auto 0px auto; width: 1003px; text-align: left; }
#header #logo { height: 70px; width: 287px; }
#header #banner { float: right; }
#menu { padding: 10px; margin: 3px auto 1px auto; border: 1px solid #D4D4D4; background: #fff; }
#main {border: 1px solid #D4D4D4; margin: 10px 10px 0 0; width:700px}
#main .title { font-size: 16px; height: 30px; padding-top:10px; border-bottom: 1px dashed #D4D4D4; text-align: center; }
#main .position { padding-top:4px; margin-bottom: 4px; height: 20px; border-bottom: 1px solid #D4D4D4; padding-left: 10px; }
#main #comment{padding:5px;}
#container #sidebar {float:right; width: 289px;padding: 1px; border: 1px solid #D4D4D4; margin: 10px 0 0 0;}
#sidebar .pright-rbox{padding: 2px;margin: 10px 0 0 0;}
.pright-rbox .title{padding-top:4px; margin-bottom: 4px; height: 20px; padding-left: 10px; font-size:14px; font-weight:bold; border-bottom: 1px solid #D4D4D4; }
.pright-rbox ul{ display:block;}
.pright-rbox ul li{ height:20px;border-bottom: 1px dashed #D4D4D4; padding:5px 0px 2px 4px}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px; }
/* circle */
#navCircle { margin: 0; padding: 0 0 20px 10px; border-bottom: 1px solid #9FB1BC; }
#navCircle li { margin: 0; padding: 0; display: inline; list-style-type: none; }
#navCircle a:link, #navCircle a:visited { float: left; font-weight: bold; padding: 0 12px 6px 12px; text-decoration: none; color: #333333; }
#navCircle a:link.active, #navCircle a:visited.active, #navCircle a:hover { padding-bottom: 6px; color: #333333; background: url(circle.gif) no-repeat bottom center; }
.page { height: 20px; padding-top:5px; background-color: #F9F8F4; padding-left: 10px; }
.ul { list-style: none; margin:0px 0px 2px 5px; padding:2px; border-bottom: #CCCCCC 1px solid; }
.t { list-style:none; height:22px; border-left:#d4d4d4 2px solid; border-bottom: #EFEFEF 1px solid; padding:2px; background-color:#F6F6F6; font-size: 14px; padding-top: 6px; }
.border { background-color:#F9F8F4; border:#D4D4D4 solid 1px; padding:2px; }
#footer { border-top:#D4D4D4 solid 1px; margin: 10px auto 0px auto; width: 100%; font-size: 14px; padding-top:5px; }
/* 评论列表 */
.reply { padding-bottom:3px; color:#999999; }
.quote { border:1px solid #999999; padding: 3px; background-color: #FFFFEE; margin-bottom: 12px; text-align:left; }
.quote span { color: #990000; font-weight:bold }
.quote p { margin: 9px 3px; line-height: 20px; text-align: left; color:#000000; }
/* 评论框 */
#commentEditor { margin:10px; }
#commentEditor #cForm { }
#commentEditor h4 { font-size:14px; height:20px; padding-top:5px; border:1px dashed #D4D4D4; border-left:none; border-right:none; background-color: #F9F8F4; padding-left: 10px; margin-bottom: 12px; }
#commentEditor #userinfo { height:25px; padding-top:5px; padding-left: 10px; }
#commentEditor #seccodeDiv { display:none; height:25px; }
#commentEditor #seccodeDiv span { margin-left:80px; padding-top:4px; height:20px; }
#commentEditor #seccodeimg { border:#FFFFEE solid 1px; position:absolute; zIndex:499; }
