	<div class="space_list">
	<!--{if $list}-->
	<table cellspacing="0" cellpadding="0" width="100%">
	<thead>
	<tr>
		<td width="30">&nbsp;</td>
		<td width="55">&nbsp;</td>
		<td>
			<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
			<td>用户名</td>
			<td width="50">性别</td>
			<td width="55"><!--{if $_GET['view']=='show'}-->竞价<!--{else}-->积分<!--{/if}--></td>
			<td width="55">人气</td>
			<td width="55">好友</td>
			<td width="50">&nbsp;</td>
			</tr>
			</table>
		</td>
	</tr>
	</thead>
	<!--{loop $list $key $value}-->
	<tr class="<!--{if $key%2==1}-->  alt<!--{/if}-->">
		<td><!--{eval echo ($start+$key+1);}--></td>
		<td><div class="avatar48"><a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="{$_SN[$value[uid]]}" /></a></div></td>
		<td>
			<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
			<td>
				<p<!--{if $ols[$value[uid]]}--> class="online_icon_p"<!--{/if}-->>
					<a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}"<!--{eval g_color($value[groupid]);}-->>{$_SN[$value[uid]]}</a>
					<!--{if $value['username'] && $_SN[$value[uid]]!=$value['username']}--><span class="gray">($value[username])</span><!--{/if}-->
					<!--{eval g_icon($value[groupid]);}-->
				</p>
			</td>
			<td width="50"><!--{if $value[sex]==2}-->美女<!--{elseif $value[sex]==1}-->帅哥<!--{else}-->保密<!--{/if}--></td>
			<td width="55" title="积分">$value[credit]</td>
			<td width="55" title="人气">$value[viewnum]</td>
			<td width="55" title="好友">$value[friendnum]</td>
			<td width="50">
				<a href="cp.php?ac=poke&op=send&uid=$value[uid]" id="a_poke_$key" onclick="ajaxmenu(event, this.id, 99999, '', -1)" title="打招呼"><img src="image/icon/poke.gif" align="absmiddle"></a>
				<!--{if !$value['isfriend']}--><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 99999, '', -1)" title="加好友"><img src="image/icon/friend.gif" align="absmiddle"></a><!--{/if}-->	
			</td>
			</tr>
			</table>
			<!--{if $ols[$value[uid]]}-->
			<div class="topline">
				当前在线(<!--{date('H:i',$ols[$value[uid]])}-->)
			</div>
			<!--{/if}-->
			<!--{if $value[note]}-->
			<div class="note">
				$value[note]
			</div>
			<!--{/if}-->
		</td>
	</tr>
	<!--{/loop}-->
	</table>
	<div class="page">$multi</div>
	<!--{else}-->
	<div class="c_form">没有相关成员。</div>
	<!--{/if}-->
	</div>

