.area { width:970px; margin: 0 auto; clear:both; padding: 0px 12px; text-align:center;}
.area0 { width:970px; margin: 0 auto; clear:both; padding: 0px;}
.title { background:url(../images/dotted.gif) repeat-x bottom; height:30px; line-height:30px; padding:0 0 2px; margin-bottom: 8px; margin-left: 5px; }
.title h3 { font-size:14px; font-weight:bold; padding:0 0 0 25px; background:url(../images/arrow.gif) no-repeat 0 6px; text-align: left; }
.title h3 span { font-size:14px; font-weight:bold; color:#777; font-family:宋体; }
.area1 { width:946px; overflow:hidden; margin: 0 auto; clear:both; border:1px solid #ccc; background-color:#eee; padding:12px; }
.area1 .cleft { overflow:hidden; float:left; width:430px; background-color:#fff; text-align:left; padding:0 10px 10px 10px; }
.area1 .cleft .btitle { padding:12px 10px 14px 10px; }
.area1 .cleft .btitle2 { padding:12px 10px 14px 10px; background:url(../images/arrowl2.gif) no-repeat right; }
.area1 .cleft .btitle h1, .area1 .cleft .btitle2 h1 { font-size:16px; font-weight:bold; line-height:120%; display:inline; }
.area1 .cleft .newstitle ul { padding:0 15px 0 0; }
.area1 .cleft .newstitle ul.active { background:url(../images/arrowl2.gif) no-repeat right; }
.area1 .cleft .newstitle li { clear:both; text-align:left; font-size:14px; line-height:23px; padding:4px 0 4px 0; background:url(../images/dotted.gif) repeat-x top; }
.area1 .cleft .newstitle li.active { background-color:#eee; }
.area1 .cleft .newstitle li span { font-size:12px; line-height:19px; color:#1f3a87; padding:0 0 0 3px; }
.area1 .cright { overflow:hidden; float:left; width:402px; margin: 0 0 0 55px; }
.area1 .cright .fpic img { border:1px solid #ccc; }
.area1 .cright .digest { text-align:left; clear:both; color:#000; line-height:150%; margin:7px 0 0; }
.area1 .cright .digest a { color:#BC2931; margin:0 0 0 5px; }
.area1 .cright .digest a:hover { color:#BC2931; }
.area1 .cright .digest a:visited { color:#BC2931; }
.col { border:#CCCCCC solid 1px; padding:0px 12px; }
/*-------------------------首页:左侧:DIGG*/
.dignews { width:300px; background:url(../images/dig_bottom.gif) center bottom no-repeat; padding-bottom:4px; margin:0px 560px 0px 0px }
.dignews .digtitle { width:300px; height:29px; line-height:29px; background:url(../images/dignews_title.gif) no-repeat; }
.dignews .digtitle span { float:left; font-weight:bold; letter-spacing:2px; margin-left: 8px; }
.dignews .digtitle ul { float:left; margin:0px 5px; display:inline; }
.dignews .digtitle ul li { float:left; text-align:center; margin-left: 10px; }
.dignews .digtitle ul li a { width:50px; display:block; color:#666666; }
.dignews .digtitle ul li a:hover { color:#FF3300; }
.dignews .digtitle ul li a.thisclass, .dignews dl dt ul li a.thisclass:hover { width:80px; padding-top:11px; line-height:18px; color:#000000; background:url(../images/dignews_nav_b.gif) center bottom no-repeat; text-decoration:none; font-size: 14px; font-weight: bold; }
.dignews dl { width:300px; }
.dignews dl dt { text-align:center; line-height:30px; border-left:1px solid #DDD; border-right:1px solid #DDD; }
.dignews dl dd { width:298px; border-left:1px solid #DDD; border-right:1px solid #DDD; overflow:hidden; display:block; }
.dignews dl dd .digbox { width:280px; margin:10px auto; padding-bottom:8px; border-bottom:1px dotted #CCC; }
.dignews dl dd .digbox .diglink { width:44px; height:36px; float:left; background:url(../images/dig_leftbg.gif) no-repeat; text-align:center; margin-right:4px; }
.dignews dl dd .digbox .diglink span { font-weight:bold; line-height:16px; color:#CC0000; }
.dignews dl dd .digbox .diglink span a { background-position: 100px; color: #ff3300; }
.dignews dl dd .digbox .diglink span a:hover { background-position: 100px; }
.dignews dl dd .digbox .diglink a { width:40px; height:18px; margin:0 auto; display:block; background:url(../images/dig_leftc.gif) left center no-repeat; }
.dignews dl dd .digbox .diglink a:hover { background:url(../images/dig_leftc.gif) right center no-repeat; }
.dignews dl dd .digbox .ntitle { float:left; }
.dignews dl dd .digbox .ntitle a { color:#003399; font-size:14px; line-height:21px; }
.dignews dl dd .digbox .ntitle span { font-size:11px; color:#999999; display: block; }
.dignews dl dd .digbox .preview { clear:both; padding-top:3px; color:#888; line-height:18px; text-align: left; }
.colist { float:right; width:660px; }
.colist .col1 { border:#CCCCCC solid 1px; width:300px; float:left; padding:0px 12px;}
.colist .col2 { border:#CCCCCC solid 1px; width:298px; float:left; margin-left:10px; padding:0px 12px; }
.colist .newsList { line-height:22px; font-size:14px; }
.colist .newsList li { background:url(../images/listdot.gif) no-repeat 0px 8px; padding:0 0 0 8px; clear:both; overflow: hidden; text-align: left; }
.colist .newsList li .date { padding:0 10px 0 0; float:right }
.col .pic { padding:0; text-align:center;margin:0 auto;}
.col .pic .title { background:url(../images/dotted.gif) repeat-x center; height:20px; margin:0; padding:0; }
.col .pic .title h4 { line-height:20px; padding:0 5px 0 17px; display:inline; background:url(../images/arrow3.gif) no-repeat 3px 2px #fff; color:#666; }
.col .pic .picList { padding:0; margin:0 auto; clear: both; }
.col .pic .picList li { float:left; padding:0 8px; text-align:center; width: 120px; }
.col .pic .picList li img { border:1px solid #ccc; padding:5px; clear: both; }
.col .pic .picList li p { margin:7px 0; }
.area2 { width:960px; overflow:hidden; margin:0 auto; clear:both; padding:0px 5px; border: 1px solid #CCCCCC; text-align: left; }
.area2 .col1 { width:455px; float:left; border-right: 1px solid #CCCCCC; padding:0px 12px 0px 0px; height:580px;}
.area2 .col2 { width:454px; float:right; border-left: 1px solid #CCCCCC; padding:0px 0px 0px 12px; height:580px;}
.area2 .title { background:url(../images/dotted.gif) repeat-x bottom; height:30px; line-height:30px; padding:0 0 3px 0; margin:0 0 12px 0; }
.area2 .title h3 { font-size:14px; font-weight:bold; padding:0 0 0 25px; background:url(../images/arrow.gif) no-repeat 0 6px; text-align: left; }
.area2 .title h3 span { font-size:14px; font-weight:bold; color:#777; font-family:宋体; }
.area2 .newsA .title { background:url(../images/dotted.gif) repeat-x center; height:20px; margin:0; padding:0; }
.area2 .newsA .title h4 { line-height:20px; padding:0 5px 0 12px; display:inline; background:url(../images/arrow2.gif) no-repeat 3px 3px #fff; color:#b00; }
.area2 .newsA { padding:5px 0 0 0; }
.area2 .newsA .btitle h1 { font-size:16px; font-weight:bold; line-height:120%; padding:0 5px 0 12px; display:inline; }
.area2 .newsA .btitle h2 { font-size:16px; font-weight:bold; line-height:120%; padding:0 5px 0 12px; display:inline; }
.area2 .newsA .btitle h4 { font-size:16px; font-weight:bold; line-height:120%; padding:0 5px 0 12px; display:inline; }
.area2 .newsA p { margin:8px 0 0; }
.area2 .newsList { line-height:22px; font-size:14px; padding:10px 0 0; }
.area2 .newsList li { background:url(../images/listdot.gif) no-repeat 10px 8px; padding:0 0 0 18px; clear:both; }
.area2 .newsList li .date { padding:0 0 0 10px; }
.area2 .picA { padding:12px 0 0 0; }
.area2 .picA .title { background:url(dotted.gif) repeat-x center; height:20px; margin:0; padding:0; }
.area2 .picA .title h4 { line-height:20px; padding:0 5px 0 17px; display:inline; background:url(../images/arrow3.gif) no-repeat 3px 2px #fff; color:#666; }
.area2 .picA .picList { padding:12px 0 0; overflow:hidden; zoom:1; }
.area2 .picA .picList li { float:left; padding:0 11px 0 12px; }
.area2 .picA .picList li img { border:1px solid #ccc; padding: 1px; }
.area2 .picA .picList li p { margin:7px 0; }
.alignR { text-align:right; }
.alignC { text-align:center; }
.pRight { padding:5px 15px 0; margin: 2px 0px 3px 0px; }
.bottomL { width:960px; height:1px; background:url(../images/areabottom.gif) no-repeat; margin:auto; clear:both; overflow:hidden; }
/*-------------------------首页:底部:友情链接*/
.flink { width:970px; margin:0 auto; border:1px solid #CCC; clear:both; }
.flink .title1 { height:26px; line-height:26px; background:url(../images/flink_title_bg.gif) repeat-x; }
.flink .title1 dl dt { width:200px; float:left; line-height:26px; text-indent:20px; font-weight:bold; letter-spacing:2px; color:#666666; }
.flink .title1 dl dd { color:#AAA; float:right; margin-right:10px; display:inline; }
.flink .title1 dl dd a { color:#666666; }
.flink .flinkcon { idth:984px; margin:0px auto 0px; overflow:hidden; padding-bottom:10px; }
.flink .flinkcon a { color:#666666; display:block; float:left; height:15px; line-height:15px; padding-right:12px; padding-left:12px; margin:10px 0px 0px -1px; white-space:nowrap; border-left:1px solid #EEE; }
/*--------------------*/
