/* Imports ----------------------------------------*/
@import url("reset.css");
@import url("form.css");
/* Elements ----------------------------------------*/
body {
	font-family: "宋体", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;
}

p {
	margin: 0 0 1em 0;
}

/*--- Link Styles ---*/
a:link, a:visited {
	color: #333;
	text-decoration: none;
}

a:hover, a:active {
	color: #37b306;
	text-decoration: underline;
}

h1 {
	color:#000;
	font-size:2.125em;
}

h2 {
	color:#000;
	font-size:1.75em;
}

h3 {
	color:#000;
	font-size:14px;
}

h4 {
	color:#000;
	font-size:12px;
}

h5 {
	color:#000;
	font-size:12px;
	font-weight: normal;
}

h6 {
	color:#333;
	font-size:12px;
	font-weight: normal;
}

blockquote	{margin: 0 0 18px 18px; color:#666666; font-style: italic;}
strong		{font-weight:bold;}

/* Standard Definitions ----------------------------------------*/
.left 		{float:left;}
.right 		{float:right;}
.clearThis 	{clear:both;}
.small		{font-size:.625em;}
.large		{font-size:1em;}
.soft		{color:#D3D3D3;}
.hide,.none	{display:none;}
.pipe		{margin: 0 5px; color:#bbb;}




#sitemap {
	clear:both;
	border: 1px solid #eee;
	border-width: 1px 0;
	background: #fafafa;
	padding: 10px 0;
	line-height: 24px;
}
#sitemap:after {
	content: "";
	display: block;
	clear: both;
}
#sitemap .inner {
	width: 960px;
	margin: 0 auto;
}
#sitemap h4 {
	font-weight: bold;
}
#sitemap li {
	width: 160px;
	float: left;
}
#sitemap li li {
	float: none;
}














