/* Imports ----------------------------------------*/
@import url("reset.css");
@import url("form.css");
/* Elements ----------------------------------------*/
body, p, td, th, li {
	font-family: "宋体", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

p {
	margin: 0 0 1em 0;
}

/*--- Link Styles ---*/
a:link, a:visited {
	color: #333;
	text-decoration: none;
}

a:hover, a:active {
	color: #37b306;
	text-decoration: underline;
}

h1 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:2.125em;
}

h2 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.75em;
}

h3 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.5em;
}

h4 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.25em;
}

h5 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.125em;
}

h6 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1em;
}

blockquote	{margin: 0 0 18px 18px; color:#666666; font-style: italic;}
strong		{font-weight:bold;}

/* Standard Definitions ----------------------------------------*/
.left 		{float:left;}
.right 		{float:right;}
.clearThis 	{clear:both;}
.small		{font-size:.625em;}
.large		{font-size:1em;}
.soft		{color:#D3D3D3;}
.hide,.none	{display:none;}
.pipe		{margin: 0 5px; color:#bbb;}


