<!--# include Template('header');#-->
<!--header----main-->
<script language="JavaScript" src="script/xhr.js"></script>
<script type="text/javascript" language="JavaScript" src="script/comment.js"></script>
<script language="javascript">
var tid = $tid;
var mid = $mid;
var cid = $cid;
var flag = 0;
init_message(10);
</script>
<div class="main" id="read">
	<div class="area-4">
		<div class="area-4-bot">
			<div class="read-content left">
				<div><h1><a href='{@$comment::title[url]@}' target=_blank>{@$comment::title[title]@}</a></h1>	
				</div>
				<div style="clear:left" id="comment__c">
				</div>
			</div>
			<div class="sidebar right">
				<div class="box2">
					<h2 class="green">{$catedb[$cid][cname]} 热门评论</h2>
					<ul class="list1 left">
<cms type="comment" action="showHotComment" cid="$cid" num="10" />
<loop>
						<li><a href="$val[url]">{@substrs($val[title],32)@}</a>[{$val[comnum]}][<a href="comment.php?job=main&cid=$val[cid]&mid=$val[mid]&tid=$val[tid]">评</a>]</li>
</loop>
					</ul>
				</div>
				<div class="box2">
					<h2 class="green">站内热门评论</h2>
					<ul class="list">
<cms type="comment" action="showHotComment" cid="all" num="10" />
<loop>
						<li><a href="$val[url]">{@substrs($val[title],32)@}</a>[{$val[comnum]}][<a href="comment.php?job=main&cid=$val[cid]&mid=$val[mid]&tid=$val[tid]">评</a>]</li>
</loop>
					</ul>
				</div>
			</div>


		</div>
	</div>
</div>
<!---main----foot-->
<!--# include Template('foot');#-->