<!--# include Template('header');#-->
<!--header----main-->

<div class="main" id="read">
	<div class="area-4">
		<div class="area-4-bot">
			<div class="read-content left">
				<div class="box710">
					<div class="box710b">
						<div class="box710t">
							<div style="width:700px; margin:auto">
								<h1>$view[title] </h1>
								<div class="dd">{@get_date($view[postdate])@}　来源: $view[fromsite] 作者：$view[author]  网友评论 <span id='comnum'>$view[comnum]</span> 条 浏览次数 <span id='hits'>$view[hits]</span>
									<!--#if($mid==-2){#-->
									<a href="$view[bbsurl]" target="_blank">转入论坛浏览</a>
									<!--#}elseif($mid==-1){#-->
									<a href="$view[blogurl]" target="_blank">转入blog浏览</a>
									<!--#}#-->
								</div>
								<div class="text" id="content">
									<!--#if($view[intro]){#-->
									<div class="intro">$view[intro]</div>
									<!--#}#-->
									<!--#if($view[photo] && strpos($view[content],$view[photo])===false){#-->
									<div style="text-align:center"><img src="$view[photo]" class="pic" /></div>
									<!--#}#-->
									$view[content] </div>
								<!--#if($mid>0){#-->
								<div style="text-align:center; padding:3px;">
									<!--#$prev=$cont->jsGetPrev(20);#-->
									上一篇：$prev
									<!--#$next=$cont->jsGetNext(20);#-->
									下一篇：$next
								</div>
								<!--#}#-->
								<h2 class="h21">相关主题：$view[tags]</h2>
								<ul class="list">
									<!--#foreach($view[links] as $val){#-->
									<li><em>{@get_date($val[postdate])@}</em><a href="$val[url]">{@substrs($val[title],45)@}</a></li>
									<!--#}#-->
								</ul>
								<div class="dd"></div>
								<!--#if($catedb[$cid][comment] && $mid>0){#-->
								<h2 class="h21">网友评论</h2>
								<div id="comment__c" ></div>
								<script language="JavaScript" src="script/xhr.js"></script>
								<script type="text/javascript" language="JavaScript" src="script/comment.js"></script>
								<script language="javascript">
var tid = $tid;
var mid = $mid;
var cid = $cid;
var flag = 0;
init_message(5);
</script>
								<!--#}#-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar right">
				<div class="box230">
					<div class="box230b">
						<div class="box230t">
							<h3>{$catedb[$cid][cname]} 热门推荐</h3>
							<cms action="thread" mid="{$catedb[$cid][mid]}" where="photo!=''" cid="$cid" num="1" order="hits DESC" />
							<loop>
								<div class="pic left"><a href="$val[url]" title="$val[title]"><img src="{@miniimg($val[photo],75,75)@}" alt="$val[title]"  width="75" height="75" /></a></div>
							</loop>
							<ul class="list1 left">
								<cms action="thread" mid="{$catedb[$cid][mid]}" num="2,4" cid="$cid" />
								<loop>
									<li><a href="$val[url]">{@substrs($val[title],32)@}</a></li>
								</loop>
							</ul>
							<div class="clear"></div>
							<ul class="list">
								<cms action="thread" mid="{$catedb[$cid][mid]}" num="5,15" cid="$cid" order="hits" />
								<loop>
									<li><a href="$val[url]">{@substrs($val[title],32)@}</a></li>
								</loop>
							</ul>
						</div>
					</div>
				</div>
				<div class="box230">
					<div class="box230b">
						<div class="box230t">
							<h3>本类最新文章</h3>
							<ul class="list">
								<cms action="thread" num="10" cid="$cid" mid="{$catedb[$cid][mid]}" />
								<loop>
									<li><a href="$val[url]">{@substrs($val[title],32)@}</a></li>
								</loop>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>
<script language="javascript" src="script/imagecontrol.js"></script>
<script language="javascript">
// JavaScript Document
function anchor(anId){
	var href=window.location.href;
	position = href.indexOf(href,'#');
	href = href.substr(0,position);
	window.location.href = href + "#"+ anId;
}

var preUrl  = "$view[preUrl]";
var nextUrl = "$view[nextUrl]";
if (preUrl.indexOf('http')==-1) {
	preUrl	= "$very[url]/"+ preUrl;
}
if (nextUrl.indexOf('http')==-1) {
	nextUrl	= "$very[url]/"+ nextUrl;
}
document.onkeydown=function nextpage(event) {
	var nowevent = window.event || event;
	if (nowevent.keyCode==37 && preUrl) location=preUrl;
	if (nowevent.keyCode==39 && nextUrl) location=nextUrl;
}

</script>
<!---main----foot-->
<!--# include Template('foot');#-->
