<!--{template cp_header}-->
<h2 class="title"><img src="image/icon/profile.gif">个人设置</h2>
<div class="tabs_header">
	<a href="cp.php?ac=advance" class="r_option">&raquo; 高级管理</a>
	<ul class="tabs">
		<li$actives[profile]><a href="cp.php?ac=profile"><span>个人资料</span></a></li>
		<li$actives[avatar]><a href="cp.php?ac=avatar"><span>我的头像</span></a></li>
		<!--{if $_SCONFIG['videophoto']}-->
		<li$actives[videophoto]><a href="cp.php?ac=videophoto"><span>视频认证</span></a></li>
		<!--{/if}-->
		<li$actives[credit]><a href="cp.php?ac=credit"><span>我的积分</span></a></li>
		<!--{if $_SCONFIG['allowdomain'] && $_SCONFIG['domainroot'] && checkperm('domainlength')}-->
		<li$actives[domain]><a href="cp.php?ac=domain"><span>我的域名</span></a></li>
		<!--{/if}-->
		<!--{if $_SCONFIG[sendmailday]}-->
		<li$actives[sendmail]><a href="cp.php?ac=sendmail"><span>邮件提醒</span></a></li>
		<!--{/if}-->
		<li$actives[privacy]><a href="cp.php?ac=privacy"><span>隐私筛选</span></a></li>
		<li$actives[theme]><a href="cp.php?ac=theme"><span>个性化设置</span></a></li>
	</ul>
</div>
<div class="c_form">
	<form method="post" action="cp.php?ac=domain&op=">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>空间域名</h2>
			<p>域名可使用最少 $domainlength 个 ，最多 30 个的字母或数字组合，且必须字母开头。</p>
		</caption>
		<!--{if $space[domain] && $dcredit}-->
		<tr>
			<th width="100">积分</th>
			<td><img src="image/credit.gif" align="absmiddle"> 修改域名将需要支付积分 $dcredit 个，您现在有积分 $space[credit] 个</td>
		</tr>
		<!--{/if}-->
		<tr>
			<th width="100">空间域名</th>
			<td>http://<input type="text" name="domain" value="$space[domain]" size="10" class="t_input" />.{$_SCONFIG[domainroot]}</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="domainsubmit" value="修改域名" class="submit" /></td>
		</tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{template footer}-->