<!--{eval $_TPL['titles'] = array('动态');}-->
<!--{template cp_header}-->

<!--{if $space[self]}-->
<div class="c_header">
	<h2>动态</h2>
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="cp.php?ac=home">好友动态</a></li><!--{/if}-->
		<li$actives[all]><a href="cp.php?ac=home&view=all">网站近况</a></li>
		<li$actives[me]><a href="cp.php?ac=home&view=me">我的动态</a></li>
	</ul>
</div>
<!--{/if}-->

<div class="side_right">
	<div class="wide">
	
		<!--{if empty($_SCONFIG['showall'])}-->
		<h1 class="l_text"><!--{if $_GET['view']=='me'}-->个人动态<!--{elseif $_GET['view']=='all'}-->网站近况<!--{else}-->好友动态<!--{/if}--></h1>
		<!--{/if}-->
		
		<div class="box feed">
		<!--{if $list}-->
			<!--{loop $list $day $values}-->
			<h4><!--{if $day=='today'}-->今天<!--{elseif $day=='yesterday'}-->昨天<!--{else}-->$day<!--{/if}--></h4>
			<ul id="feed_ul">
			<!--{loop $values $value}-->
				<!--{template space_feed_li}-->
			<!--{/loop}-->
			</ul>
			<!--{/loop}-->
		<!--{else}-->
			<h4>今天</h4>
			<ul id="feed_ul">
				<li>还没有动态。</li>
			</ul>
		<!--{/if}-->
		</div>
		<div class="page">$multi[html]</div>
	</div>
	<div class="narrow">
	
		<!--{if $notices}-->
		<div class="inbox_notice">
			<h2>通知 <a href="cp.php?ac=pm&view=notice" class="title_action">查看全部</a></h2>
			<ul>
			<!--{loop $notices $type $count}-->
				<li><a href="cp.php?ac=pm&view=notice&type=$type"><strong>$count</strong> 条新$noticetypes[$type]</a></li>
			<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
		
		<!--{if $addfriendlist}-->
		<script>
			function myfriend(id) {
				var liid = id.substr(6);
				$('friend_'+liid).style.display = "none";
			}
		</script>
		<div class="f_request">
			<h2>好友 <a href="cp.php?ac=friend&op=request" class="title_action">查看全部</a></h2>
			<ul>
				<!--{loop $addfriendlist $value}-->
				<li id="friend_$value[uid]">
					<strong><a href="space.php?uid=$value[uid]">$value[username]</a></strong>
					<!--{if $value[note]}-->$value[note]<!--{else}-->申请好友<!--{/if}-->
					<p><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_f_r_$value[uid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">批准</a><span class="pipe">|</span>
					<a href="cp.php?ac=friend&op=ignore&uid=$value[uid]&confirm=1" id="a_f_i_$value[uid]" onclick="ajaxmenu(event, this.id, 1, 'myfriend')">拒绝</a></p>
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
		
		<!--{if $pokelist}-->
		<script>
			function mypoke(id) {
				var liid = id.substr(6);
				$('poke_'+liid).style.display = "none";
			}
			function mypoke_all(id) {
				$('poke_ul').style.display = "none";
			}
		</script>
		<div class="poke">
			<h2>招呼 <a href="cp.php?ac=poke&op=ignore" id="a_poke" onclick="ajaxmenu(event, this.id, 1000, 'mypoke_all')" class="title_action">全部忽略</a></h2>
			<ul id="poke_ul">
				<!--{loop $pokelist $value}-->
				<li id="poke_$value[uid]">
					<strong><a href="space.php?uid=$value[uid]">$value[username]</a></strong>
					<!--{if $value[note]}-->$value[note]<!--{else}-->打个招呼<!--{/if}-->
					<p>
						<a href="cp.php?ac=poke&op=reply&uid=$value[uid]" id="a_p_r_$value[uid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">回复</a><span class="pipe">|</span>
						<a href="cp.php?ac=poke&op=ignore&uid=$value[uid]" id="a_p_i_$value[uid]" onclick="ajaxmenu(event, this.id, 1, 'mypoke')">忽略</a></p>
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
		
		<!--{if $space[self]}-->
		<!--{if empty($_SCONFIG['closeinvite'])}-->
		<div>
			<h2>邀请好友</h2>
			<ul>
				<li>邀请好友一起加入进来，分享点点滴滴。<a href="cp.php?ac=invite">邀请好友</a></li>
			</ul>
		</div>
		<!--{/if}-->
		<div>
			<h2>寻找好友</h2>
			<ul>
				<li>找找站内有更多志同道合的朋友吗？<a href="cp.php?ac=friend&op=find">立即找找看</a></li>
			</ul>
		</div>
		<!--{/if}-->
		
		<!--{ad/rightside}--><!-- 右侧栏广告-->
		<br>
	</div>
</div>
<!--{template cp_footer}-->