<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<title><!--{if $_TPL['titles']}--><!--{loop $_TPL['titles'] $value}--><!--{if $value}-->$value - <!--{/if}--><!--{/loop}--><!--{/if}--><!--{if $space}-->$space[spacename] - <!--{/if}-->$_SCONFIG[sitename]</title>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<style type="text/css">
@import url(template/$_SC[template]/common.css);
<!--{if !empty($space['theme'])}-->
@import url(theme/$space[theme]/style.css);
<!--{/if}-->
<!--{if !empty($space['css'])}-->
$space[css]
<!--{/if}-->
</style>
<!--{if $space[uid]}-->
<link rel="alternate" type="application/rss+xml" href="rss.php?uid=$space[uid]" title="$space[username]" />
<!--{/if}-->
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=1" />
</head>
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div id="wrap">

	<div id="header">
		<h1>$mtag[tagname]</h1>
		<a href="mtag.php?id=$mtag[fieldid]">$mtag[title]</a>
	</div>
	<div class="space_nav">
		<ol>
			<li><a href="mtag.php?tagid=$mtag[tagid]">首页</a></li>
			<li><a href="mtag.php?tagid=$mtag[tagid]&do=thread">列表</a></li>
			<li><a href="mtag.php?tagid=$mtag[tagid]&do=member">成员</a></li>
			<li>
				<!--{if $mtag['ismember']}-->
				<a href="cp.php?ac=thread&tagid=$tagid">发起新话题</a>
				<!--{else}-->
				<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999)">加入该群组</a>
				<!--{/if}-->
			</li>
		</ol>
	</div>
	<div id="container">
		<div id="mainarea">
<!--{else}-->
<!--{eval 
	obclean();
	@header("Expires: -1");
	@header("Cache-Control: no-store, private, post-check=0, pre-check=0, max-age=0", FALSE);
	@header("Pragma: no-cache");
	@header("Content-type: application/xml; charset=$_SC[charset]");
	echo '<'."?xml version=\"1.0\" encoding=\"$_SC[charset]\"?>\n";
	echo "<root><![CDATA[";
}-->
<!--{/if}-->