<!--{eval $_TPL['titles'] = array('留言');}-->
<!--{template space_header}-->

<div class="side_right">
	<div class="main">
			
		<div class="post_list a_list" id="comment">
		
			<!--{if $cid}-->
			<div class="notice">
				当前只显示与你操作相关的单个留言，<a href="space.php?uid=$space[uid]&do=wall">点击此处查看全部留言</a>
			</div>
			<!--{/if}-->
		
			<ol id="comment_ol" class="comment_ol">
			<!--{loop $list $value}-->
				<!--{template space_comment_li}-->
			<!--{/loop}-->
			</ol>
		</div>
		<div class="page">$multi[html]</div>
		
		<p>留言</p>
		<form action="cp.php?ac=comment" method="post" class="quickpost">
			<textarea name="message" rows="5" cols="60"></textarea>
			<div class="pf-wall-act">
				<input type="hidden" name="refer" value="space.php?uid=$space[uid]&do=wall" />
				<input type="hidden" name="id" value="$space[uid]">
				<input type="hidden" name="idtype" value="uid">
				<input type="submit" name="commentsubmit" class="submit" value="留言" />
			</div>
		</form>
		<br />
	</div>
	
	<!--{template space_wall_sidebar}-->
	
</div>
<!--{template footer}-->