UL.jqueryFileTree {
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

UL.jqueryFileTree A {
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

/* Core Styles */
.jqueryFileTree LI.directory { background: url(images/book.gif) left 2px no-repeat; }
.jqueryFileTree LI.expanded { background: url(images/book_open.gif) left 2px no-repeat; }
.jqueryFileTree LI.file { background: url(images/file.gif) left 2px no-repeat; }
.jqueryFileTree LI.wait { background: url(images/spinner.gif) left 2px no-repeat; }