/* Imports ----------------------------------------*/
@import url("reset.css");
@import url("system.css");
/* Elements ----------------------------------------*/
body {
	background-color: #FFFFFF;
	text-align: center;
}

body, p, td, th, li {
	font-family: "宋体", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

p {
	margin: 0 0 1em 0;
}

/*--- Link Styles ---*/
a:link, a:visited {
	color: #333;
	text-decoration: none;
}

a:hover, a:active {
	color: #37b306;
	text-decoration: underline;
}

h1 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:2.125em;
}

h2 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.75em;
}

h3 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.5em;
}

h4 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.25em;
}

h5 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1.125em;
}

h6 {
	color:#000;
	margin:.825em 0 .5em 0;
	font-size:1em;
}

blockquote	{margin: 0 0 18px 18px; color:#666666; font-style: italic;}
strong		{font-weight:bold;}

/* Standard Definitions ----------------------------------------*/
.left 		{float:left;}
.right 		{float:right;}
.clearThis 	{clear:both;}
.small		{font-size:.625em;}
.large		{font-size:1em;}
.soft		{color:#D3D3D3;}
.hide,.none	{display:none;}
.pipe		{margin: 0 5px; color:#bbb;}

/* Toolbar  ----------------------------------------*/
#toolbar {
	background: url(image/toolbar_bg.png) repeat-x;
	line-height: 26px;
}
#toolbar:after {
	content: "";
	display: block;
	clear: both;
}
#toolbar .inner {
	width: 960px;
	margin: 0 auto;
}
#toolbar a {
	text-decoration: none;
}
#toolbar em {
	color: #37b306;
}
#toolbar .pipe {
	color: #ccc;
}
#wrap {
	width: 960px;
	text-align: left;
	margin: 0 auto;
}
/* Header ----------------------------------------*/
#header {
}
#header h1 {
	float: left;
	margin: 0;
	padding: 0;
}
#header .search {
	float: left;
	margin: 30px 0 0 100px;
}
#header .search .search_txt {
	font-size: 14px;
	width: 300px;
	padding: 5px;
	border: 3px solid #37b306;
	color: #666;
	vertical-align: middle;
}
#header .search .search_btn {
	width: 62px;
	height: 32px;
	text-indent: -9999px;
	background: url(image/search_btn.png) no-repeat;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}
#header .banner {
	float: right;
}

/* Navigation ----------------------------------------*/
#navigation {
	background: url(image/navigation_bg.png) no-repeat;
	line-height: 36px;
	padding: 0 0 3px;
	clear: both;
}
#navigation:after {
	content: "";
	display: block;
	clear: both;
}
#navigation .main {
	float: left;
	margin: 6px;
}
#navigation .main li {
	float: left;
}
#navigation .main a {
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	width: 64px;
	height: 24px;
}
#navigation .blog a {
	background: url(image/navigation_blog.png) no-repeat;
}
#navigation .photo a {
	background: url(image/navigation_photo.png) no-repeat;
}
#navigation .group a {
	background: url(image/navigation_group.png) no-repeat;
}
#navigation .doing a {
	background: url(image/navigation_doing.png) no-repeat;
}
#navigation .blog a:hover {
	background: url(image/navigation_blog_active.png) no-repeat;
}
#navigation .photo a:hover {
	background: url(image/navigation_photo_active.png) no-repeat;
}
#navigation .group a:hover {
	background: url(image/navigation_group_active.png) no-repeat;
}
#navigation .doing a:hover {
	background: url(image/navigation_doing_active.png) no-repeat;
}
#navigation .channel {
	float: right;
	line-height: 24px;
	margin: 6px;
	padding-left: 10px;
	background: url(image/navigation_channel_bg.png) no-repeat;
}
#navigation .channel li {
	float: left;
	padding: 0 7px 0 5px;
	background: url(image/navigation_channel_pipe.png) no-repeat right;
}
#navigation .channel li.last {
	background: url(image/navigation_channel_bg.png) no-repeat right;
	padding-right: 15px;
}
#navigation .channel a {
	color: #cefabb;
	text-decoration: none;
}
#navigation .channel a:hover {
	color: #fff;
	text-decoration: none;
}

ul#nav li {float:left; list-style-type:none; margin-left:10px;}

/* Image Replacement  ----------------------------------------*/
ul#nav li a {/*Set to height of image*/ height:20px; display:block; text-indent:-9999px; outline:none;}

/*Include all of your links with unique IDs. Use the correct path to the image and set the width of each image*/
li#navHome a		{background-image: url(/images/nav/home.png); width:75px;}
li#navWork a		{background-image: url(/images/nav/work.png); width:70px;}
li#navServices a	{background-image: url(/images/nav/services.png); width:68px;}
li#navContact a		{background-image: url(/images/nav/contact.png); width:55px;}

/* CSS Rollover (Sprites) - Advanced Users! ----------------------------------------*/

/*Each link must have a unique ID - Include all of your links here - Remove if not using!*/
li#navHome a:hover, li#navWork a:hover, li#navServices a:hover, li#navContact a:hover {background-position:0 -20px; /*Set to height of image !must be negative!*/}
		
/* Container ----------------------------------------*/
#container {
	clear: both;
	line-height: 20px;
	margin: 30px 0;
}
#container:after {
	content: "";
	display: block;
	clear: both;
}








/* Footer ----------------------------------------*/
#footer
{
	line-height: 100px;
	text-align: center;
}

#footer em {
	color: #37b306;
	font-weight: bold;
}





/* article_main ----------------------------------------*/

.article_list {
	background: url(image/article_list_bg.png) repeat-y right;
}
.article_list:after {
	content: "";
	display: block;
	clear: both;
}
.article_list_main {
	width: 480px;
	padding: 0 0 0 20px;
	float: left;
}
.article_list_main .pagelist {
	text-align: center;
	padding: 0 0 10px;
}
.article_list_main .pagelist strong {
	color: #ff6600;
	border-left: 1px solid #ddd;
	padding: 3px 10px;
}
.article_list_main .pagelist a {
	border-left: 1px solid #ddd;
	padding: 3px 10px;
	font-weight: bold;
}
.article_list_main .pagelist a:hover {
	background: #fafafa;
}
.article_list_side {
	float: left;
	width: 160px;
}
.article_list_side h2 {
	margin: 0;
	padding: 0;
}
.article_list_side ul.categorys {
	padding: 40px 0 10px;
	background: url(image/list_cates_title.png) top no-repeat;
}
.article_list_side ul.categorys li {
	margin: 0 0 0 30px;
}
.article_list_side ul.tags {
	padding: 40px 0 10px;
	background: url(image/list_tags_title.png) top no-repeat;
}
.article_list_side ul.tags li {
	margin: 0 0 0 30px;
}
.article_list_side .panel {
	margin: 0 0 10px;
	border: 1px solid #ddd;
}
.article_list_main dt a {
	color: #37b306;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}
.article_list_main dt .subtitle {
	color: #808080;
}
.article_list_main dd {
	border-bottom: 1px dashed #ddd;
	padding: 0 0 15px;
	margin: 0 0 15px;
}
.article_list_main dd .image {
	float: right;
	margin: 0 0 0 20px;
}
.article_list_main dd .description {
	color: #999;
}
.article_list_main dd .tag {
	background: url(image/ico_tag.png) no-repeat left center;
	padding: 0 0 0 35px;
	height: 20px;
	line-height: 20px;
}
.article_list_main dd .tag a {
	color: #808080;
}
.article_list_main dd .relate a {
	color: #568e1a;
}

.article_content {
	background: url(image/article_content_bg.png) repeat-y right;
}
.article_content:after {
	content: "";
	display: block;
	clear: both;
}
.article_content_side {
	float: left;
	width: 75px;
	padding-right: 15px;
}
.article_content_side dl.tags dt a {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	background: url(image/arrow_g_0.png) no-repeat right center;
	line-height: 28px;
}
.article_content_side dl.tags dt a:hover {
	background: url(image/arrow_0.png) no-repeat right center;
}
.article_content_side dl.tags dd {
	display: none;
	border: 1px solid #ddd;
	background: #fff;
	padding: 10px;
}
.article_content_main {
	float: left;
	width: 550px;
	padding: 0 0 0 20px;
}
.article_content_main .navbar {
	color: #999;
	line-height: 30px;
	border-bottom: 1px solid #eee;
}
.article_content_main h1 {
	padding: 15px 0 0;
	margin: 0;
	line-height: 26px;
	font-size: 20px;
	font-family: '黑体';
}
.article_content_main .sponsor {
	color: #999;
	padding: 0 0 15px;
	line-height: 26px;
}
.article_content_main .content {
	border-top: 3px solid #eee;
	padding: 30px 0;
	font-size: 14px;
	line-height: 30px;
}
.article_content_main .content p {
	font-size: 14px;
}
.article_content_main .tag {
	background: url(image/ico_tag.png) no-repeat left center;
	padding: 0 0 0 35px;
	height: 40px;
	line-height: 40px;
}
.article_content_main .toolbar {
	color: #999;
	padding: 5px;
	border: 1px solid #eee;
	background: #fafafa;
}
.article_side {
	width: 280px;
	float: right;
}
.article_side .ad {
	text-align: center;
}
.article_side .panel {
	margin: 10px 20px;
}
.article_side .panel h3 {
	color: #333;
	border-top: 1px solid #ddd;
	padding: 10px 0;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}
.article_side .panel .content {
	border: 1px solid #ddd;
	padding: 10px;
	background: #fff;
}

