<!--<?php
print <<<EOT
-->
<div class="m"></div>

<form action="$basename" method="post" name="FORM">
<div class="t">
<input type="hidden" id="action" name="action" value="show" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">文章调用JS代码生成</td>
  </tr>
  <tr class="line">
    <td>调用范围</td>
    <td>
      <input value="tid" name="type" type="radio" class="input" $type_tid /> 单文章调用(TID)
      <input value="cid" name="type" type="radio" class="input" $type_cid /> 栏目内容调用(CID)
      <input value="mid" name="type" type="radio" class="input" $type_mid /> 模型内容调用(MID)
    </td>
  </tr>
  <tr class="line">
    <td>
      TID或CID或MID
    </td>
    <td>
      <input type="text" id="id" name="id" class="input" size="70" value="$id" />
      多ID逗号隔开,暂不支持整合栏目
    </td>
  </tr>
  <tr class="line">
    <td>附加显示</td>
    <td>文章开头:&nbsp;&nbsp;
      <input value="0" name="pre" type="radio" class="input" $pre_0 />0.&lt;li&gt;
      <input value="1" name="pre" type="radio" class="input" $pre_1 />1.◇
      <input value="2" name="pre" type="radio" class="input" $pre_2 />2.·
      <input value="3" name="pre" type="radio" class="input" $pre_3 />3.○
      <input value="4" name="pre" type="radio" class="input" $pre_4 />4.●
      <input value="5" name="pre" type="radio" class="input" $pre_5 />5.-
      <input value="6" name="pre" type="radio" class="input" $pre_6 />6.□-
      <br />
      文章结尾:&nbsp;&nbsp;
      <input type="checkbox" class="input" value="1" name="end[author]" $author/>
      作者
      <input type="checkbox" class="input" value="1" name="end[hits]" $hits/>
      点击量
      <input type="checkbox" class="input" value="1" name="end[comnum]" $comnum/>
      评论数
      <input type="checkbox" class="input" value="1" name="end[postdate]" $postdate/>
      发布时间
      <input type="checkbox" class="input" value="1" name="end[channel]" $channel/>
      栏目名称
    </td>
  </tr>
  <tr class="line">
    <td>标题长度</td>
    <td><input type="text" id="length" name="length" class="input" value="$length" /></td>
  </tr>
<!--
  <tr class="line">
    <td>开始时间 - 结束时间</td>
    <td>
      <input type="text" name="stime" id="stime" size="20" class="input" onclick="ShowCalendar(this.id);" />
      -
      <input type="text" name="etime" id="etime" size="20" class="input" onclick="ShowCalendar(this.id);" />
     </td>
  </tr>
-->
  <tr class="line">
    <td>显示数目</td>
    <td><input type="text" id="num" name="num" class="input" value="$num" /></td>
  </tr>
  <tr class="line">
    <td>排序</td>
    <td>
      <select id="order" name="order">
        <option value="postdate" $order_postdate>最新发布文章</option>
        <option value="comnum" $order_comnum>热门评论文章</option>
        <option value="hits" $order_hits>热门浏览文章</option>
      </select>
    </td>
  </tr>
  <tr class="line">
    <td>推荐</td>
    <td>
      <select id="digest" name="digest">
        <option value="4" $digest_>所有主题</option>
        <option value="0" $digest_0>普通主题</option>
        <option value="1" $digest_1>栏目推荐</option>
        <option value="2" $digest_2>站点推荐</option>
        <option value="3" $digest_3>头条推荐</option>
      </select>
  </tr>
</table>
</div>
<div class="sub">
  <input type="submit" name="submit" id="submit" value="提 交" class="btn" />
  <input type="reset" name="reset" id="reset" value="重 置" class="btn" />
</div>
</form>
<!--<script language="javascript" src="script/date.js"></script>-->

<form action="$basename" method="post" name="FORM1">
<input type="hidden" name="action" value="view" />
<div class="t">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="head">
      <td colspan="2">JS调用代码</td>
    </tr>
    <tr class="tr3">
      <td>调用代码</td>
      <td><input type="text" id="jscode" name="jscode" class="input" size="100" value="$jscode" onmouseover="FORM1.jscode.select();" />
      <input type="submit" class="btn" value="查看效果">
      <input type="button" class="btn" value="复制代码(ie)" onclick="CopyCode(document.getElementById('jscode'));"></td>
    </tr>
    <tr class="tr3">
      <td>演示效果</td>
      <td>
        $script
      </td>
    </tr>
  </table>
</div>
</form>
<script language="JavaScript">
function CopyCode(obj){
  try{
    obj.select();
    var js=obj.createTextRange();
    js.execCommand("Copy");
  }catch(e){}
}
</script>
<!--
EOT;
?>-->