<!--# include Template('header');#-->
<!--header----main-->
<div class="main" id="read">
  <div class="area-4">
    <div class="area-4-bot">
      <div class="read-content left">
        <div class="postion"><a href="$sys[url]">$sys[title]</a> &gt; 公告 &gt; 正文</div>
        <div class="note-content">
<!--#foreach($notice as $val){#-->
          <h2 class="blue">$val[title]<div class="gray fn smalltxt">{@get_date($val[postdate])@}</div></h2>
          <div class="dd2">$val[content]</div>
<!--#}#-->
        </div>
      </div>
      <div class="sidebar right">
        <div class="box2">
          <h2 class="green">历史公告</h2>
          <ul class="list">
<!--#foreach($notice as $val){#-->
          <li>$val[title]</li>
<!--#}#-->
          </ul>
        </div>
       </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<!---main----foot-->
<!--# include Template('foot');#-->