div.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}
#upload-table {
	zoom:1;
}
.uploadr-messages {
	margin-top:1em;
}
.uploadr-messages ul {
	list-style-type:none;
}
.uploadr-messages ul, .uploadr-messages ul li, .uploadr-messages ul li p {
	margin:0;
	padding:0;
}
.uploadr-messages li {
	zoom:1;
}
.uploadr-messages ul li {
	display:none;
}
.uploadr-messages ul li img {
	float:left;
	display:inline;
	margin:0 1em 5px 0;
	vertical-align:middle;
}
.uploadr-messages ul li.warn {
	background:#ffffdb;
	padding:1em;
}
.uploadr-messages ul li.note {
	margin-top:1em;
	text-align:center;
}
#uploadr-messages.oversize, #uploadr-messages.overlimit {
	display:block;
}
#uploadr-messages.oversize .oversize, #uploadr-messages.overlimit .overlimit {
	display:block;
}
#uploadr-messages .oversize p, #uploadr-messages .no-video p {
	line-height:28px;
}
#uploadr-messages.oversize.overlimit .oversize {
	background-color:transparent;
	margin-bottom:1em;
}
#uploadr-complete-messages li {
	display:none;
}
#uploadr-complete-messages.ok li {
	margin:-4px 0 -22px 0;
}
#uploadr-complete-messages.ok .ok, #uploadr-complete-messages.one-failed .one-failed, #uploadr-complete-messages.some-failed .some-failed, #uploadr-complete-messages.all-failed .all-failed {
	display:block;
}
#uploadr-complete-messages li p {
	font-size:1.5em;
	padding:1em;
}
#uploadr-complete-messages li.one-failed p, #uploadr-complete-messages li.some-failed p, #uploadr-complete-messages li.all-failed p {
	line-height:28px;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	margin-left:0;
	margin-bottom:8px;
}
#uploadr-complete-messages li.ok p {
	padding-left:0;
	padding-top:0;
	padding-bottom:0;
}
#uploadr-complete-messages li.ok img {
	float:none;
	display:inline;
	margin:0 1em 0 0;
	vertical-align:middle;
}
#uploadr-complete-messages li.one-failed img, #uploadr-complete-messages li.some-failed img, #uploadr-complete-messages li.all-failed img {
	display:inline;
	margin:0 .5em 0 0;
	vertical-align:middle;
}
#uploadr-complete-messages li a {
	font-weight:bold;
}
.step1-error .message p {
	font-size:1.6em;
	color:#a7a7a7;
}
#Main {
	width:788px;
}
#uploadr {
	position:relative;
	background:#f7f7f7;
	zoom:1;
	margin-top:1em;
}
#uploadr.pro .ad {
	display:none;
}
#uploadr.pro .uploadr-messages .upgrade {
	display:none;
}
#uploadr .step1, #uploadr .step2, #uploadr .step1-error {
	display:none;
}
#uploadr.step1 .step1, #uploadr.step1-error .step1-error, #uploadr.step2 .step2 {
	display:block;
}
#yuploadcontrol {
	position:absolute;
	position:fixed;
	top:0;
	right:0;
	width:1px;
	height:1px;
	overflow:hidden;
}
#yuploadcontrol object, #yuploadcontrol embed {
	margin-left:1px;
	margin-top:1px;
}
#tmpl-upload-item {
	display:none;
}
.upload-container {
	position:relative;
	background:#f7f7f7;
	padding:32px 16px 16px 24px;
	margin-top:1.3em;
}
.upload-container, .upload-container .upload-table-wrapper {
	min-height:270px;
}
#upload-table {
	clear: both;
}
#upload-table .head, #upload-table .head * {
}
#upload-table .head div {
	color:#999;
}
#upload-table .head div, #upload-table .foot div {
	white-space:nowrap;
}
#upload-table .head div {
	font-size:12px;
}
#upload-total-files {
	float:left;
	display:inline;
}
#upload-total-files .plural, #upload-total-files .single {
	display:none;
}
#upload-total-files.plural .plural, #upload-total-files.single .single {
	display:inline;
}
#upload-total-bytes {
	float:right;
	display:inline;
	margin-right:13px;
}
#upload-table.overlimit #upload-total-bytes {
	color:#dd5f5f;
}
#upload-table.overlimit #upload-remove-files {
	background:#0075e2;
}
#upload-table.overlimit #upload-remove-files:hover {
	background:#999;
}
#upload-table.overlimit #moderation_container, #upload-table.overlimit #upload-buttons {
	display:none;
}
#upload-table.overlimit .upload-add-more {
	visibility:hidden;
}
#upload-table ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.upload-container ul.upload {
	position:relative;
	margin-top:-1em;
	margin-top:0;
}
.uploadr-bg {
	position:relative;
	background:#fff url(uploader_list_background.png) 0 0 repeat-x;
}
.uploadr-scroll {
	position:relative;
	height:216px;
	overflow:auto;
	overflow-x:hidden;
	border:1px solid #ccc;
}
#uploadr-list {
	position:relative;
	list-style-type:none;
	margin:0;
	padding:0;
}
.uploadr-scroll, .upload-container .upload .foot, .uploadr-bg {
	width:400px;
}
#upload-container.pro .uploadr-scroll, #upload-container.pro .upload .foot, #upload-container.pro .uploadr-bg {
	width:736px;
}
#upload-container.pro .uploadr-status {
	width:734px;
}
#upload-container .upload .body li, #upload-container.pro .uploadr-status {
}
#upload-container.firefox .upload .body li {
	width:400px!important;
}
#upload-container.pro.firefox .upload .body li {
	width:736px!important;
}
.upload-container .upload .foot {
	border:1px solid #ccc;
	border-top:none;
	background:#e4e4e4;
	z-index:2;
}
.upload-container .uploadr-status, .upload-container .uploadr-status div {
	height:14px;
}
.upload-container .uploadr-status {
	position:relative;
	margin-top:1.5em;
	width:398px;
	border:2px inset #fff;
	background:#fff;
	overflow:hidden;
}
.upload-container .uploadr-status div {
	position:relative;
	width:0;
	overflow:hidden;
	background:#f09;
}
#upload-container .uploadr-status {
	display:none;
}
#upload-container.uploading .uploadr-status {
	display:block;
}
#upload-container.active .upload-add-more, #upload-container.active .head .select, #upload-container.active .body .select .remove, #upload-container.active .foot .select {
	visibility:hidden!important;
}
#upload-container.active .default-only {
	display:none;
}
.upload-container .upload ul, .upload-container .upload li {
	clear:both;
}
.upload-container .upload .body li {
	border-bottom:1px solid #e4e4e4;
	line-height:22px;
	font-size:12px;
}
.upload-container .upload .body li.selected {
	background:#ffffdb;
}
.upload-container .upload .body li div.select .remove {
	display:block;
	width:10px;
	margin-left:15px;
	background:transparent url(http://l.yimg.com/g/images/upload/trash_can.gif.v2) 0 50% no-repeat;
	background-color:transparent!important;
	text-decoration:none;
}
.upload-container .upload .body li div.select .remove:hover {
	background-position:-10px 50%;
}
.upload-container .upload .body li div.select .remove:focus {
	outline:none;
}
.upload-container .upload .body li.uploading {
	background:#fff url(http://l.yimg.com/g/images/upload/file_upload_progress.gif) -800px 0 no-repeat;
}
.upload-container .upload .body li.ok, .upload-container .upload .body li.processing, .upload-container .upload .body li.error {
	background-color:#fff;
	background-image:url(http://l.yimg.com/g/images/upload/file_upload_progress.gif);
	background-repeat:no-repeat;
}
.upload-container .upload .body li div {
	overflow:hidden;
}
.upload-container .upload .body li.oversize div {
	color:#999;
}
.upload-container .upload .body li.oversize .name {
	text-decoration:line-through;
}
.upload-container .upload .body li.oversize div.select {
	background-color:#ffffd4;
}
#upload-container.active .upload .body li.oversize {
	display:none;
}
#upload-container.active .upload .body li.oversize div {
	color:#999;
}
#upload-container.active .upload .body li.oversize div.select {
	background-color:transparent;
}
.upload-container .upload .body li.ok div.select {
	background:transparent url(http://l.yimg.com/g/images/upload/icon_checkmark.gif) 50% 24px no-repeat;
	background-position:50% 24px;
}
.upload-container .upload .body li.ok div.select .remove {
	visibility:hidden;
}
#upload-container.complete .body li.error {
	background-color:#ffffd4;
}
.upload-container .upload .body li.error div.select {
	background-image:url(http://l.yimg.com/g/images/upload/icon-error-exclamation.gif);
	background-position:50% 32px;
	background-repeat:no-repeat;
}
.upload-container .upload div.name, .upload-container .upload div.size, .upload-container .upload div.select {
	display:table-cell;
}
.upload-container .upload .foot div.name, .upload-container .upload .foot div.size, .upload-container .upload .foot div.select {
	float:left;
	display:inline;
	line-height:30px;
	font-weight:bold;
}
.upload-container .upload div.name {
	width:260px;
	text-indent:1em;
}
#upload-container.pro .upload div.name {
	width:596px;
}
.upload-container .upload .foot div.name {
	width:333px;
}
#upload-container.pro .upload .foot div.name {
	width:669px;
}
.upload-container .upload div.size {
	width:60px;
	padding-right:20px;
	text-align:right;
}
.upload-container .upload .head div.size {
}
.upload-container .upload div.select {
	width:50px;
}
.upload-container .upload .head div.select {
}
.upload-container .upload .foot div.select {
	width:65px;
}
.upload-container .upload .body div.select {
	width:50px;
	text-align:center;
}
.upload-container .cancel-upload {
	color:#999;
}
#upload-total-files .divider {
	margin:0 6px;
	color:#d7d7d7;
}
#upload-remove-files {
	line-height:30px;
	padding:3px 8px;
	background:#bbb;
	margin-left:-5px;
	color:#fff;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}
#upload-remove-files:hover {
	background:#999;
}
#upload-options {
	zoom:1;
}
#upload-options label, #upload-options .remove {
	font-weight:normal;
	font-size:12px;
}
#photos, #screenshots, #other, #hidden {
	margin-left:-1em;
}
p.cancel-upload {
	text-indent:7px;
	padding-top:8px;
}
#upload-buttons {
	position:relative;
	z-index:3;
}
#upload-buttons .bab {
	float:left;
	display:inline;
}
#upload-controls {
	width:420px;
}
#uploadr.pro #upload-controls {
	width:700px;
}
#upload-buttons p {
	display:none;
}
#upload-buttons.default p.default, #upload-buttons.uploading p.uploading {
	display:block;
}
#upload-buttons .not-allowed {
	cursor:default;
}
#upload-buttons .not-allowed strong {
	color:#aaa;
}
#upload-options h4 a {
	font-weight:normal;
	font-size:11px;
}
#upload-templates {
	display:none;
}
#moderation .content-type {
	float:right;
	display:inline;
	width:334px;
	margin-right:-18px;
}
#moderation .safety {
	float:left;
	display:inline;
	width:170px;
}
#moderation_container .safety, #moderation_container .content-type, #moderation_container .privacy {
}
#moderation_container .privacy {
	float:left;
	display:inline;
	width:230px;
}
#moderation_container {
	margin-top:.5em;
}
#moderation_header {
	float:left;
	display:inline;
}
#moderation_toggle {
	float:left;
	display:inline;
	margin-left:.5em;
	clear:right;
}
#moderation_toggle .moderation_hide, #moderation_toggle .moderation_show {
	display:none;
	margin:0;
	padding:0;
}
#moderation_toggle .moderation_show {
	display:inline;
}
#moderation_toggle.open .moderation_show {
	display:none!important;
}
#moderation_toggle.open .moderation_hide {
	display:inline;
}
#moderation_header span.divider {
	font-size:11px;
	font-weight:normal;
	color:#999;
}
#privacy-controls span.note {
	color:#999;
	font-size:11px;
}
#uploadr .feature-note {
	color:#999;
	font-size:12px;
	margin-top:.5em;
}
#uploadr .uploadr-debug {
	display:block;
	font-size:x-small;
	font-family:"lucida console", lucida, terminal, system, arial, verdana;
	font-weight:normal;
	color:#000;
}
#video_restricted {
	position:relative;
	width:734px;
	background:#fdf3d8;
	border:2px solid #f1e8ce;
	display:none;
}
#video_restricted.open {
	display:block;
}
#video_restricted .video-only, #video_restricted .mixed-content, #video_restricted .default, #video_restricted .non-default {
	display:none;
}
#video_restricted.video-only .video-only, #video_restricted.video-only.default .video-only .default, #video_restricted.video-only.non-default .video-only .non-default, #video_restricted.mixed-content .mixed-content, #video_restricted.mixed-content.default .mixed-content .default, #video_restricted.mixed-content.non-default .mixed-content .non-default {
	display:block;
}
#video_restricted .content {
	position:relative;
	padding:0 8px 8px 8px;
	margin-left:40px;
	zoom:1;
}
#video_restricted .content h3 {
	font-size:14px;
	font-weight:bold;
}
#video_restricted .content .icon {
	position:absolute;
	left:.5em;
	top:0;
	margin:-5px 0 0 -40px;
}
#video_restricted h3 {
	color:#000;
}
div.system-message {
	background:#dce8f6;
}
div.system-message p {
	padding:8px;
	font-size:13px;
}
div.system-message img {
	margin-right:5px;
	margin-top:-2px;
*margin-top:0;
	vertical-align:middle;
}
#upload-flash-box {
	position:absolute;
	left:0;
	top:0;
	width:96px;
	height:32px;
	z-index:999;
}
div.enabled {
	position:relative;
}
#upload-add-files.hover, #upload-add-more.hover {
	background-color:#0063DC;
	color:#fff;
}
/*----------------------------------*/
.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}