<!--<?php
print <<<EOT
-->
<div class="m"></div>
<!--
EOT;
if(!$action || $action=='show'){
print <<<EOT
-->
<form action="$basename" method="post" name="FORM">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="5">更新网站地图</td>
  </tr>
  <tr class="tr3">
    <td>文章数量</td>
    <td><input id='sitecount' type='input'  value="$very[sitecount]" name='sitecount'>(为空则默认为5000)
  </tr>
  <tr class="tr3">
    <td>地图类型</td>
    <td><input id='sitetype' type='radio'  value='google' name='sitetype' $google_check> google地图 
&nbsp; <input id='sitetype' type='radio' value='baidu' name='sitetype' $baidu_check> baidu地图</td>
  </tr>

</table>
</div>

<div class='t' id='modules' name='modules' style="display:none;"></div>

<div class="sub">
	<input name="action" type="hidden" id="action" value="create">
    <input class="btn" type="submit" value="开始更新">
</div>
</form>
<div class="t" id="module" style="display:none;" disabled>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr class="line">
		<td><b>请选择需要生成地图的模型</b></td>
		<td>
<!--
EOT;
foreach($mids as $val){
print <<<EOT
-->
<INPUT id="mid" type='radio' value="$val[mid]" name="mid"> $val[mname]
<!--
EOT;
}
print <<<EOT
-->
		</td>
	</tr>

</table>
</div>

<script language="JavaScript">
	function getObj(id){
		return document.getElementById(id);
	}

	function showcode(idName){
		getObj(idName).style.display = "block"; 
		getObj(idName).innerHTML = getObj('module').innerHTML;
	}
	
	function hidecode (idName) {
		getObj(idName).style.display = "none";
		getObj(idName).innerHTML='';
	}
</script>
<script language="JavaScript">
if(getObj('sitetype').value=='baidu')
showcode('modules');
</script>
<!--
EOT;
}
?>-->