<div id="commentEditor">
  <form action="<!--{$site.url}-->/comment.php?do=replay" method="post" name="cForm" target="cIframe" id="cForm">
    <h4>我来说两句</h4>
    <div id="userinfo">用户名：
      <input id="cUsername" name="username" type="text"/>
      密码：
      <input id="cPassword" name="password" type="password"/>
      <!--{if $isanonymous}-->(游客发言不需要密码)<!--{/if}--> <a href="<!--{$site.url}-->/register.php" target="_blank">注册</a></div>
      <div class="alert">请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。</div>
    <div class="textBox">
      <!--{if $iseditor}-->
      <script type="text/javascript" src="<?=$iCMS->dir?>javascript/editor.js"></script>
      <textarea id="cCommentext" name="commentext" rows="8" class="editor-mini"></textarea>
      <!--{else}-->
      <textarea id="cCommentext" name="commentext" rows="8" style="width:<!--{$style.width}-->;height:<!--{$style.height}-->"></textarea>
      <!--{/if}-->
    </div>
    <div id="seccodeDiv">验证码：
      <input id="cSeccode" name="seccode" type="text" style="width:60px;" />
      <span><a title="换一张验证码图片" onclick="$('#cSeccode').click();return false;" href="#">换一张</a> 把图片上的文字填写到小输入框里 </span></div>
    <div class="send">
      <input id="cQuote" name="quote" value="0" type="hidden">
      <input id="cTitle" name="title" value="<!--{$title}-->" type="hidden">
      <input id="cAid"	name="aid" value="<!--{$aid}-->" type="hidden">
      <input id="cMid"	name="mid" value="<!--{$mid}-->" type="hidden">
      <input id="cSid"	name="sortid" value="<!--{$sort.id}-->" type="hidden">
      <input name="action" value="save" type="hidden"><input name="iframe" value="1" type="hidden">
     <input type="submit" value="发 表"/>
    </div>
  </form>
  <iframe name="cIframe" width="0" height="0" style="display:none;"></iframe>
</div>
<script type="text/javascript">
$(function(){
//验证码
	$("#cSeccode").click(function(){
/*		var offset 	= $(this).offset();
		var top = offset.top-$(this).height()-12;
		var left= offset.left;
*/		$("#seccodeimg").remove(); 
		var $img = $('<img />')/*{{{*/
			.attr('id',"seccodeimg")
			.attr('src',SiteDir+"/include/seccode.php?"+Math.random())
//			.css({top: top+'px', left: left+"px"})
			.insertAfter(this);
//鼠标移开后删除验证码事件
/*	}).mouseout(function(){
		$("#seccodeimg").remove(); 
*/
	}); 
//提交事件
	$("#cForm").submit(function (){
		var param={"username":$("#cUsername").val(),"password":$("#cPassword").val(),"seccode":$("#cSeccode").val(),
			"title":$("#cTitle").val(),"aid":$("#cAid").val(),"mid":$("#cMid").val(),"sortid":$("#cSid").val(),"quote":$("#cQuote").val(),
			"iseditor":<!--{if $iseditor}-->1<!--{else}-->0<!--{/if}-->,
			"commentext":'',"action":'save'
		}
		if(param.seccode==""){
			$("#seccodeDiv").show();
			$("#cSeccode").click().select();
			return false;
		}
		<!--{if !$isanonymous}-->
		if(param.username==""){
			alert("用户名不能为空!");
			$("#cUsername").focus();
			return false;
		}
		if(param.password==""){
			alert("密码不能为空!");
			$("#cPassword").focus();
			return false;
		}
		<!--{/if}-->
		<!--{if $iseditor}-->
		var cEditor = FCKeditorAPI.GetInstance('commentext');
		param.commentext=cEditor.GetXHTML(true);
		<!--{else}-->
		param.commentext=$("#cCommentext").text();
		<!--{/if}-->
		if(param.commentext==""){
			alert("评论内容不能为空!");
			return false;
		}
		$.post(SiteDir+"/comment.php?do=replay",param,
			function(o){
				alert(o.msg);
				$("#cSeccode").val("");
				$("#seccodeimg").attr('src',SiteDir+"/include/seccode.php?"+Math.random());
				if(o.state=="1")window.location.reload();
			},"json");
	  return false;
	}); 
});
</script>
