<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="<!--{$site.dir}-->/images/user/usercp.css" rel="stylesheet" type="text/css" />
<title>系统提示—<!--{$msg}--></title>
</head>
<div class="container" id="cpcontainer">
  <div class="infobox">
    <h4 class="infotitle1"><!--{$msg}--></h4>
    <img src="<!--{$site.dir}-->/images/user/ajax_loader.gif" class="marginbot" />
    <p class="marginbot"><a href="<!--{$url}-->" class="lightlink">如果您的浏览器没有自动跳转，请点击这里</a></p>
    <script type="text/JavaScript">setTimeout("window.location.replace('<!--{$url}-->');", <!--{$t}-->*1000);</script>
  </div>
</div>
</BODY>
</HTML>
