<!--{'<'|cat:'?xml version="1.0" encoding="UTF-8"?'|cat:'>'}-->
<rss version="2.0">
  <channel>
    <title><!--{$site.title|strconver}--></title>
    <image>
      <title><!--{$site.url}--></title>
      <link><!--{$site.url}--></link>
      <url><!--{$site.url}-->/images/logo.gif</url>
    </image>
    <description><!--{$site.description|strconver}--></description>
    <link><!--{$site.url}--></link>
    <language>zh-cn</language>
    <docs></docs>
    <generator><!--{$site.url}--></generator>
    <ttl>60</ttl>
<!--{iCMS:list loop='true' row='100' sortid=$DreamCMS.GET.id}-->
    <item>
      <title>
        <![CDATA[<!--{$list.title|strconver}-->]]>
      </title>
      <link>
        <![CDATA[<!--{$list.url|gethttpurl}-->]]>
      </link>
      <pubDate>
        <![CDATA[<!--{$list.pubdate|date:"Y-m-d"}-->]]>
      </pubDate>
      <source>
        <![CDATA[<!--{$list.source|strconver}-->]]>
      </source>
      <author>
        <![CDATA[<!--{$list.author|strconver}-->]]>
      </author>
      <description>
        <![CDATA[<!--{$list.description|strconver}-->]]>
      </description>
    </item>
<!--{/iCMS}-->
  </channel>
</rss>
