<!--{'<'|cat:'?xml version="1.0" encoding="UTF-8"?'|cat:'>'}-->
<document>
   <webSite><!--{$site.url}--></webSite>
   <webMaster><!--{$site.email}--></webMaster>
<!--{iCMS:list loop="true" row="10000"}-->
   <item>
      <link><!--{$list.url|gethttpurl}--></link>
      <title><!--{$list.title|strconver}--></title>
      <text><!--{$list.description|strconver}--></text>
      <image><!--{$list.pic|gethttpurl}--></image>
      <category><!--{$list.sort.name|strconver}--></category>
      <pubDate><!--{$list.pubdate|date:"Y-m-d"}--></pubDate>
   </item>
<!--{/iCMS}-->
</document>