<!--{capture assign=html}-->
<!--{iCMS:comment row='5' orderby='new' loop='true' mid=$mid sortid=$sortid}-->
<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="background:#FAFAFA;height:28px;line-height:28px;border: #CCCCCC 1px dashed;">
  <tr>
    <td><span id="lou_<!--{$comment.id}-->" style='color:#990000'><!--{$comment.lou}-->楼</span> <strong><span id="comment_username_<!--{$comment.id}-->"><!--{$comment.username}--></span></strong> 于<span id="comment_time_<!--{$comment.id}-->"><!--{$comment.addtime|date:"Y-m-d"}--></span>评论道： </td>
    <td align="right"><a href='javascript:digg("up",<!--{$comment.aid}-->,<!--{$comment.id}-->)'><img src='<!--{$site.tplurl}-->/images/good.gif' border='0'>鲜花(<span id='up_<!--{$comment.id}-->'><!--{$comment.up}--></span>)</a> <a href='javascript:digg("against",<!--{$comment.aid}-->,<!--{$comment.id}-->)'><img src='<!--{$site.tplurl}-->/images/bad.gif' border='0'>鸡蛋(<span id='against_<!--{$comment.id}-->'><!--{$comment.against}--></span>)</a> <a href='javascript:quote(<!--{$comment.id}-->)'>引用</a> <a href='javascript:reply(<!--{$comment.id}-->)'>回复</a></td>
  </tr>
</table>
<div style="margin:16px;font-size:14px"><span id="comment_contents_<!--{$comment.id}-->"><!--{$comment.contents}--></span><!--{if $comment.reply}-->
  <blockquote style='background-color:#EDF9FF;border:#66CCFF solid 1px; padding:2px;'><!--{$comment.reply}--></blockquote><!--{/if}-->
</div>
<!--{iCMSelse}-->
暂无评论
<!--{/iCMS}-->
<!--{/capture}-->
document.write("<!--{ $html|html2js }-->");