RewriteEngine On
RewriteBase /
# 首页
RewriteRule ^index\.html$ index.php
# 独立页面、栏目、文章、评论、搜索、留言、标签
RewriteRule ^(list|show)\/(.*)$ $1.php?id\/$2
RewriteRule ^index\/page\/(.*)\.html$ index.php?page\/$1\.html
RewriteRule ^index\/(.*)\.html$ index.php?p\/$1\.html
RewriteRule ^comment\/(.*)$ comment.php?aid\/$1
RewriteRule ^tag\/(.*)$ tag.php?t\/$1
RewriteRule ^search\/(.*)$ search.php?keyword\/$1
