<!--{eval $_TPL['titles'] = array('相册');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<div class="searchbar">
<form method="get" action="network.php">
	<input name="key" value="" size="26" class="t_input" type="text">
	<input name="searchsubmit" value="搜索相册" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<!--{if $_GET[view]=='me'}-->
	<input type="hidden" name="username" value="$space[username]" />
	<!--{/if}-->
	<input type="hidden" name="ac" value="album" />
</form>
</div>
<h2 class="title"><img src="image/app/album.gif">相册</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=$do"><span>好友最新相册</span></a></li><!--{/if}-->
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的相册</span></a></li>
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>大家的相册</span></a></li>
		<li class="null"><a href="cp.php?ac=upload">上传新图片</a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "相册";
}-->
<!--{template space_menu}-->
<!--{/if}-->


<!--{if $count}-->
<div class="album_list">
	<table cellspacing="6" cellpadding="0">
		<tr>
		<!--{loop $list $key $value}-->
			<td width="50%" class="album">
				<table cellspacing="0" cellpadding="0">
					<tr>
						<td class="image"><a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]"><img src="$value[pic]" alt="$value[albumname]" /></a></td>
						<td>
						<!--{if $value['friend']}-->
							<span class="r_option locked gray">
							<a href="$theurl&friend=$value[friend]" class="gray">
							<!--{if $value['friend'] == 1}-->仅好友可见
							<!--{elseif $value['friend'] == 2}-->指定好友可见
							<!--{elseif $value['friend'] == 3}-->仅自己可见
							<!--{elseif $value['friend'] == 4}-->凭密码可见<!--{/if}-->
							</a>
							</span>
						<!--{/if}-->
							<h6><a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]"><!--{if $value[albumname]}-->$value[albumname]<!--{else}-->默认相册<!--{/if}--></a></h6>
							<!--{if $space[friend]}--><p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p><!--{/if}-->
							<p class="gray">
								<!--{if $value[picnum]}-->$value[picnum] 张照片<br><!--{/if}-->
								更新: <!--{date('Y-m-d H:i', $value[updatetime], 1)}-->
							</p>
							<!--{if $value[uid]==$_SGLOBAL[supe_uid]}--><p><a href="cp.php?ac=album&op=edit&albumid=$value[albumid]">管理相册</a><span class="pipe">|</span><a href="cp.php?ac=upload&albumid=$value[albumid]">上传图片</a></p><!--{/if}-->
						</td>
					</tr>
				</table>
			</td>
			<!--{if $key%2==1}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		<tr>
	</table>
</div>

<!--{if $pricount}-->
<div class="notice" style="margin-top:10px;">本页有 $pricount 个相册因作者的隐私设置而隐藏</div>
<!--{/if}-->

<div class="page">$multi</div>
<!--{else}-->
<div class="c_form">没有可浏览的相册。</div>
<!--{/if}-->

<!--{template footer}-->