/* 评论列表 */
.reply { padding-bottom:3px; color:#999999; }
.quote { border:1px solid #999999; padding: 3px; background-color: #FFFFEE; margin-bottom: 12px; text-align:left; }
.quote span { color: #990000; font-weight:bold }
.quote p { margin: 9px 3px; line-height: 20px; text-align: left; color:#000000; }
/* 评论框 */
#commentEditor { margin:10px; }
#commentEditor #cForm { }
#commentEditor h4 { font-size:14px; height:20px; padding-top:5px; border:1px dashed #D4D4D4; border-left:none; border-right:none; background-color: #F9F8F4; padding-left: 10px; margin-bottom: 12px; }
#commentEditor #userinfo { height:25px; padding-top:5px; padding-left: 10px; }
#commentEditor #seccodeDiv { display:none; height:25px; }
#commentEditor #seccodeDiv span { margin-left:80px; padding-top:4px; height:20px; }
#commentEditor #seccodeimg { border:#FFFFEE solid 1px; position:absolute; zIndex:499; }
