input.txt {
	background-color:#FFFFFF;
	border-color:#AAAAAA #E0E0E0 #E0E0E0 #AAAAAA;
	border-style:solid;
	border-width:1px;
	height:17px;
	margin-top:2px;
	padding-bottom:2px;
	padding-left:5px;
	padding-top:3px;
}