<!--<?php

if(!$action){
print <<<EOT
-->
<form action="$basename" method="post">
  <div class="t">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="head">
        <td colspan="7">$cname  <a href="$basename&action=add&up=$cid">增加新栏目</a></td>
      </tr>
      <tr class="tr2">
        <td width="3%">&nbsp;</td>
        <td>CID</td>
        <td>分类名</td>
        <td>内容模型</td>
        <td>排序权重</td>
        <td>&nbsp;</td>
        <td>栏目操作</td>
      </tr>
      <!--
EOT;
foreach($categorydb as $value){
!$value[module] && $value[module]='外部链接';
print <<<EOT
-->
      <tr class="tr3">
        <td><img src="images/admin/cate.gif" align="absmiddle" /></td>
        <td>$value[cid]</td>
        <td>$value[cname]</td>
        <td>$value[module]</td>
        <td><input name="taxis[$value[cid]]" type="text" class="txt" id="taxis[$value[cid]]" value="$value[taxis]" size="5" maxlength="2" /></td>
        <td>
<!--
EOT;
if($value[mid]!=0){
print <<<EOT
-->
		<a href="$basename&up=$value[cid]">查看子分类</a> <a href="$admin_file?adminjob=category&action=add&up=$value[cid]">添加子分类</a>
<!--
EOT;
}print <<<EOT
-->
		 <a href="$basename&action=edit&cid=$value[cid]">编辑分类</a> <a href="$basename&action=del&cid=$value[cid]" onClick="return confirm('确定要删除分类么?');" style="color:#FF0000">删除分类</a></td>
        <td>
<!--
EOT;
if($value[mid]!=0){
if($value[type]){
print <<<EOT
-->
		<a href="$admin_file?adminjob=category&action=viewlist&cid=$value[cid]" target="_blank">查看首页</a>
<!--
EOT;
}print <<<EOT
-->
		<a href="$admin_file?adminjob=content&action=view&cid=$value[cid]">查看内容</a> <a href="$admin_file?adminjob=edit&action=add&cid=$value[cid]">添加内容</a>
<!--
EOT;
}print <<<EOT
-->&nbsp;
		</td>
      </tr>
      <!--
EOT;
}print <<<EOT
-->
    </table>
  </div>
  <div class="sub">
    <input name="action" type="hidden" id="action" value="taxis">
    <input type="submit" name="Submit" value="提交" class="btn">
  </div>
</form>
<!--
EOT;
}elseif($action=='edit' || $action=='add'){
print <<<EOT
-->
<form action="$basename" method="post" name="editcate">
  <div class="t">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="head">
        <td colspan="2">编辑栏目</td>
      </tr>
      <tr class="tr2">
        <td colspan="2">基本信息[必须填写]</td>
      </tr>
      <tr class="line">
        <td width="20%">上级栏目</td>
        <td width="80%"><select name="up" id="up">
        <option value="0">站点根分类</option>

	  $cate_select

          </select></td>
      </tr>
      <tr class="line">
        <td>栏目名称</td>
        <td><input name="cname" type="text" class="txt" id="cname" value="$cname" /></td>
      </tr>
      <tr class="line">
        <td>栏目类型</td>
        <td>

		<input type="radio" name="type" value="1" $type_1 />
          正常发布此栏目
          <input type="radio" name="type" value="2" $type_2 />
          导航栏中隐藏栏目
		  		<input type="radio" name="type" value="0" $type_0 />
		  不需要栏目页面

		  </td>
      </tr>
      <tr class="line">
        <td>内容模型</td>
        <td><select name="mid" id="mid" onchange="ShowSet(this.value);" $ifchange>
     		<option value="0">外部链接</option>
	$mod_select


          </select>        </td>
      </tr>
      <tr>
        <td colspan="2"><div id='more'>
            <div id='blog' style="display:none;">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr class="line">
                  <td width="20%">调用分类ID</td>
                  <td width="80%"><input name="bloginfo[fid]" type="text" class="txt" value="$bloginfo[fid]" /></td>
                </tr>
				<tr class="line">
                  <td>内容页浏览方式</td>
                  <td><input name="bloginfo[viewtype]" type="radio" value="1" $viewtype_Y>
                    在CMS站点浏览
                    <input name="bloginfo[viewtype]" type="radio" value="0" $viewtype_N>
                    转入blog浏览</td>
                </tr>
                <tr class="line">
                  <td>是否只调用精华</td>
                  <td><input name="bloginfo[digest]" type="radio" value="1" $ifdigest_Y />
                    是
                    <input name="bloginfo[digest]" type="radio" value="0" $ifdigest_N />
                    否 </td>
                </tr>
                <tr class="line">
                	<td>调用时间限制</td>
                	<td><input name="bloginfo[postdate]" type="text" class="txt" id="bloginfo[postdate]" value="$bloginfo[postdate]" size="5" />
                		天 </td>
                	</tr>
                <tr class="line">
                	<td>&nbsp;</td>
                	<td>&nbsp;</td>
                </tr>
              </table>
            </div>
            <div id='bbs' style="display:none;">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr class="line">
                  <td width="20%">调用板块ID</td>
                  <td width="80%"><input class="txt" name="bbsinfo[fid]" type="text" value="$bbsinfo[fid]" />
                    (可以用逗号,区分多个版块id,如果留空调用所有板块)</td>
                </tr>
				<tr class="line">
                  <td>内容页浏览方式</td>
                  <td><input name="bbsinfo[viewtype]" type="radio" value="1" $viewtype_Y>
                    在CMS站点浏览
                    <input name="bbsinfo[viewtype]" type="radio" value="0" $viewtype_N>
                    转入论坛浏览</td>
                </tr>
                <tr class="line">
                  <td>是否只调用精华</td>
                  <td><input name="bbsinfo[digest]" type="radio" value="1" $ifdigest_Y>
                    是
                    <input name="bbsinfo[digest]" type="radio" value="0" $ifdigest_N>
                    否 </td>
                </tr>
                <tr class="line">
                  <td>主题排序方法</td>
                  <td><input name="bbsinfo[taxis]" type="radio" value="1" $taxis_Y>
                    主题时间
                    <input name="bbsinfo[taxis]" type="radio" value="0" $taxis_N>
                    回复时间 </td>
                </tr>
                <tr class="line">
                  <td>调用帖浏览数</td>
                  <td><input name="bbsinfo[hits]" type="text" class="txt" id="bbs[hits]" value="$bbsinfo[hits]" size="5" />
                    (只调用浏览数大于这个值的主题,留空不作限制)</td>
                </tr>
                <tr class="line">
                  <td>调用帖回复数</td>
                  <td><input name="bbsinfo[replies]" type="text" class="txt" id="bbs[replies]" value="$bbsinfo[replies]" size="5" />
                    (只调用回复数大于这个值的主题,留空不作限制)</td>
                </tr>
                <tr class="line">
                  <td>调用主题时间段</td>
                  <td><input name="bbsinfo[postdate]" type="text" class="txt" id="bbs[postdate]" value="$bbsinfo[postdate]" size="5" />
                    (只调用多少天以内发表的主题,留空不作限制)</td>
                </tr>
                <tr class="line">
                  <td>调用回复时间段</td>
                  <td><input name="bbsinfo[lastpost]" type="text" class="txt" id="bbs[lastpost]" value="$bbsinfo[lastpost]" size="5" />
                    (只调用多少天以内回复过的主题,留空不作限制) </td>
                </tr>
              </table>
            </div>
			<div id='link' style="display:none;">
              <table width="100%" cellpadding="0" cellspacing="0">
			       <tr class="line">
						<td width="20%">连接地址</td>
						<td width="80%"><input name="link" type="text" class="txt" id="linkurl" value="$link" size="50" $ifdisabled /> (连接到一个外部网址)</td>
		 			</tr>
			  </table>
			  </div>
          </div></td>
      </tr>
<!--
      <tr class="line">
        <td>栏目类型</td>
        <td><input name="iflink" type="radio" value="0" onclick="document.getElementById('link').disabled='disabled';document.getElementById('advance').style.display='';" $iflink_N />
          内部栏目
          <input type="radio" name="iflink" value="1"  onclick="document.getElementById('link').disabled='';document.getElementById('advance').style.display='none';" $iflink_Y />
          外部栏目 </td>
      </tr>
-->
    </table>
  </div>
<div id="advance" class="t">
  <table width="100%" cellpadding="0" cellspacing="0">
	<tr class="head">
		<td colspan="2">更多</td>
	</tr>
	<tr class="tr2">
	  <td colspan="2">高级模式[选择性填写]</td>
	</tr>
	<tr class="line">
	  <td width="20%">唯一标识符</td>
	  <td width="80%"><input name="varname" type="text" class="txt" id="varname" value="$vars[name]" /> (可以使用该标识符代替CID进行CMS内容调用,)</td>
	</tr>
	<tr class="line">
	  <td>栏目简介</td>
	  <td>
	 $description_input <br />(栏目的简单描述，可用于Rss输出栏目摘要)</td>
	</tr>
	<tr class="line">
	  <td>栏目Meta关键字</td>
	  <td><input name="metakeyword" type="text" class="txt" id="metakeyword" value="$metakeyword" size="50" /> (有利于搜索引擎的搜索)</td>
	</tr>
	<tr class="line">
	  <td>栏目Meta描述</td>
	  <td><input name="metadescrip" type="text" class="txt" id="metadescrip" value="$metadescrip" size="50" /> (有利于搜索引擎的搜索)</td>
	</tr>
	<tr class="line">
	  <td>内容页发布形式</td>
	  <td>
		<input type="radio" name="htmlpub" value="0" $htmlpub_N>
		动态发布
		<input type="radio" name="htmlpub" value="1" $htmlpub_Y>
		静态发布 (是否将栏目文章自动生成Html文件)</td>
	</tr>
	<tr class="line">
	  <td>列表页发布形式</td>
	  <td>
		<input type="radio" name="listpub" value="0" $listpub_N />
		动态发布
		<input type="radio" name="listpub" value="1" $listpub_Y />
		静态发布 (是否将栏目列表自动生成Html文件)</td>
	</tr>
	<tr class="line">
	  <td>静态列表页更新时间</td>
	  <td>
	  <input name="autoupdate" type="text" class="txt" id="autoupdate" value="$autoupdate" size="5" />
	  分钟(0表示关闭) (是否将静态栏目列表页栏目首页自动更新)</td>
	</tr>
	<tr class="line">
	  <td>是否自动发布</td>
	  <td>
		<input name="autopub" type="radio" value="1" $autopub_Y>
		自动发布
		<input type="radio" name="autopub" value="0" $autopub_N />
		手动发布 (添加文章之后自动发布出去还是手动发布)</td>
	</tr>
	<tr class="line">
	  <td>是否允许评论</td>
	  <td><input type="radio" name="comment" value="1" $comment_Y />
		开启评论
		<input type="radio" name="comment" value="0" $comment_N />
		关闭评论</td>
	</tr>
	<tr class="line">
	  <td>是否开启文章水印</td>
	  <td>
		<input type="radio" name="copyctrl" value="1" $copyctrl_Y />
		开启水印
		<input type="radio" name="copyctrl" value="0" $copyctrl_N />
		关闭水印 (防止文章被复制)</td>
	</tr>
	<tr class="line">
	  <td>静态文件发布点</td>
	  <td><input name="path" type="text" class="txt" id="path" value="$path" size="50" /> (相对于站点{$sys[htmdir]}目录下的子目录,最后不要加斜杠,请不要随意更改)</td>
	</tr>
	<tr class="line">
	  <td>栏目首页模板</td>
	  <td><input name="tpl_index" type="text" class="txt" id="tpl_index" value="$tpl_index" size="50" />
		<img src="images/admin/selecttpl.png" name="Submit2" onclick="selectTpl('tpl_index');" align="absmiddle" style="cursor:pointer" /></td>
	</tr>
	<tr class="line">
	  <td>内容页模板</td>
	  <td><input name="tpl_content" type="text" class="txt" id="tpl_content" value="$tpl_content" size="50" />
		<img src="images/admin/selecttpl.png" name="Submit22" onclick="selectTpl('tpl_content');" align="absmiddle" style="cursor:pointer" /></td>
	</tr>
  </table>
</div>
  <div class="sub">
    <input name="action" type="hidden" id="action" value="$action">
    <input name="step" type="hidden" id="step" value="2">
    <input name="cid" type="hidden" id="cid" value="$cid">
    <input name="oldmodule" type="hidden" id="oldmodule" value="$mid" />
    <input name="htmlpub_old" type="hidden" id="htmlpub_old" value="$htmlpub" />
    <input name="varid" type="hidden" id="varid" value="$vars[id]" />
    <input type="submit" name="Submit" value=" 提 交 " class="btn">
  </div>
</form>
<script type="text/JavaScript">
<!--
function selectTpl(name){
	window.open('$basename&action=selectTpl&inputname='+name);
	return;
}
function ShowSet(value){
	var divname='';
	value = parseInt(value);
	switch(value){
		case -2:
			divname='bbs';
			break;
		case -1:
			divname = 'blog';
			break;
		default:
			break;
	}

	var more = document.getElementById('more');
	var divs = more.getElementsByTagName('div');
	for(var i=0; i<divs.length; i++){
		if(divs[i].id!=divname){
			divs[i].style.display = 'none';
		}else{
			divs[i].style.display = 'block';
		}
	}
	if(divname!=''){
		document.getElementById('advance').style.display="";
		document.getElementById('linkurl').disabled="disabled";
	}else if(value>0){
		document.getElementById('advance').style.display="";
		document.getElementById('linkurl').disabled="disabled";
	}else if(value==0){
		document.getElementById('advance').style.display="none";
		document.getElementById('link').style.display="";
		document.getElementById('linkurl').disabled="";
		document.getElementById('linkurl').focus();
	}else if(value<0){
		document.getElementById('advance').style.display="";
		document.getElementById('linkurl').disabled="disabled";
	}

}
ShowSet("$mid");
//-->
</script>
<!--
EOT;
}
?>-->
