<!--<?php
print <<<EOT
-->
<link rel="stylesheet" href="./css/calendar.css" type="text/css">
<script language="javascript">

var	ftpweb = '$sys[ftpweb]';
var	path = '$sys[url]/$sys[attachdir]';
var basename = '$basename';
var _img = null;
var inputname = '$inputname';
var inputtype = '$inputtype';

function insertTid(title,src,tid){
	if(window.dialogArguments){
		var win = window.dialogArguments;
	}else{
		var win = window.opener;
	}
	var revalue = "<a href='"+src+"'>"+title+"</a>"+"<br />";
	var frame = 'win.'+inputname+"___Frame";
	if(inputtype=='input'||inputtype=='textarea'){
		win.document.getElementById(inputname).value +=revalue;
	}else if(inputtype=='basic'||inputtype=='edit') {
		eval(frame).insertHTMLToEditor(revalue,inputname);
		window.focus();
	}else if(inputtype=='mselect'){
		parent.window.opener.add(inputname, tid, title);
		window.focus();
	}
}

function goclick(element){
	if(document.all){
		parent.document.getElementById(element).click();
	}else{
		var evt = parent.document.createEvent("MouseEvents");
		evt.initEvent("click",true,true);
		parent.document.getElementById(element).dispatchEvent(evt);
	}
}

function changeCid (cid) {
	
	var time = new Date();
	var timestamp = time.valueOf();
	document.location = basename+"&action=selecttids&cid="+cid+"&inputtype="+inputtype+"&inputname="+inputname+"&time="+timestamp;
}

function searchTid() {
	var time = new Date();
	var timestamp = time.valueOf();
	var mid		= document.getElementById('mid').value;
	var cid		= document.getElementById('cid').value;
	var step	= document.getElementById('step').value;
	var s_type	= document.getElementById('s_type').value;
	var ordering	 = document.getElementById('ordering').value;
	var keyword		 = document.getElementById('keyword').value;
	try {
		var keyword_type = document.getElementById('keyword_type').value;
		throw "an error";
	}
	catch (e) {
		s_type = 'simple';
	}

	document.location = basename+"&action=searchtids&cid="+cid+"&inputtype="+inputtype+"&inputname="+inputname+"&time="+timestamp+"&mid="+mid+"&step="+step+"&s_type="+s_type+"&ordering="+ordering+"&keyword="+keyword+"&keyword_type="+keyword_type;
}

function searchTidByDate(){
	var time = new Date();
	var timestamp = time.valueOf();
	var searchdate = document.getElementById('searchdate').value;
	document.location = basename+"&action=searchtids&inputtype="+inputtype+"&inputname="+inputname+"&time="+timestamp+"&searchdate="+searchdate+"&step=2&s_type=date";
}

</script>

<script type="text/javascript" src="./script/date.js"></script>
<body scroll="yes">
<div class="t">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr class="head">
		<td>栏目切换&nbsp;&nbsp;&nbsp;
			<select name="menu1" onchange="changeCid(this.value)">
			$cate_select
			</select>
		</td>
	  </tr>
	</table>
</div>
<div class="t">
	<form method="post" action="search.php">
	  <div style="float:left;clear:left"><select name="mid" id="mid" onchange="getCid(this.value)">
<!--
EOT;
foreach($moduledb as $val){
if($val[mid]<=0 || !$val[search]) continue;
print <<<EOT
-->
	<option value="$val[mid]">$val[mname]</option>
<!--
EOT;
}print <<<EOT
-->
	  </select></div>
	  <div id='searchfield' style="float:left;clear:none"></div>
	  <div style="float:left;clear:none"><select name="ordering" id="ordering" >
	  <option value="newest" $select_newest>新的排在最前面</option>
	  <option value="oldest" $select_oldest>旧的排在最前面</option>
	  <option value="popular" $select_popular>点击量最多的</option>
	  </select></div>
	  <div style="float:left;clear:right"><input name="keyword" type="text" class="topsearch" id="keyword" value='$keyword'/><input name="s_type" type="hidden" id="s_type" value="advance" /><input name="step" type="hidden" id="step" value="2" /> <input onclick="searchTid()" type='button' value='GO' name='search'></div>
	</form>
	<div style="float:left">按日期搜索：<input name="searchdate" type="text" class="topsearch" id="searchdate" onfocus="return ShowCalendar('searchdate');"/><input onclick="searchTidByDate()" type='button' value='GO' name='search'></div>
</div>
<div class="t" style="float:left">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr class="head">
			<td colspan="5">{$cname} </td>
		</tr>
		<tr class="tr2">
			<td>序号</td>
			<td>标题</td>
			<td>插入</td>
			<td>发布者</td>
			<td>添加时间</td>
		</tr>
<!--
EOT;
foreach($content as $value){
if(!$value[url]) continue;
$value[title]=strip_tags($value[title]);
$imgadd = $value[photo] ? "<img src=\"images/admin/img.gif\" align=\"absmiddle\" alt=\"图文\" />" : '';
$addtid="<img src=\"images/admin/insert.gif\" style=\"cursor:pointer;\" align=\"absmiddle\" onClick=\"insertTid('$value[title]','$value[url]','$value[tid]');\" alt=\"插入此文章\">";
$value[title]=substrs($value[title],40);
$value[postdate] = get_date($value[postdate],'m-d H:i');
$value[title] = strip_tags($value[title]);
print <<<EOT
-->
		<tr class="tr3">
			<td>$value[tid]</td>
			<td>$value[title] $imgadd</td>
			<td>$addtid</td>
			<td>$value[publisher]</td>
			<td>$value[postdate]</td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
		<tr>
			<td colspan="5">$pages</td>
		</tr>
	</table>
</div>
<script language="JavaScript" src="script/xhr.js"></script>
<script language="JavaScript" type="text/javascript">
	document.onload = getCid(1);
	function getCid(mid)
	{
		var time = new Date();
		var timestamp = time.valueOf();
		var x    = new XHR("gotCidValue");
		var url = "search.php?action=ajax&mid="+mid+'&time='+timestamp;
		//document.write(url);
		x.get(url);
	}
	function gotCidValue(ret) {
		if(ret != null || ret !='error'){
			document.getElementById('searchfield').innerHTML=ret;
		}else {
			alert("获取栏目失败");
		}
	}
</script>
<!--
EOT;
?>-->
