<!--<?php

if($extensionset == 'about'){
print <<<EOT
-->
<div class="t" style="width:50%">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="head">
  <td colspan="2">$infodb[name] 扩展相关信息</td>
</tr>
<tr class="line">
  <td width="30%">名称</td>
	<td>$infodb[name]</td>
</tr>
<tr class="line">
  <td>版本号</td>
	<td>$infodb[version]</td>
</tr>
<tr class="line">
  <td>开发时间</td>
	<td>$infodb[creationDate]</td>
</tr>
<tr class="line">
  <td>版权所有</td>
	<td>$infodb[copyright]</td>
</tr>
<tr class="line">
  <td>授权说明</td>
	<td>$infodb[license]</td>
</tr>
<tr class="line">
  <td>开发者</td>
	<td>$infodb[author]</td>
</tr>
<tr class="line">
  <td>Email</td>
	<td>$infodb[authorEmail]</td>
</tr>
<tr class="line">
  <td>更多信息</td>
	<td>$infodb[authorUrl]</td>
</tr>
<tr class="line">
  <td>简介</td>
	<td>$infodb[description]</td>
</tr>
</table>
</div>
<div class="sub">
	<input type="button" class="btn" onclick="javascript:window.history.go(-1);" value="返 回" />
</div>
<!--
EOT;
}else{
print <<<EOT
-->
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr class="head"><td colspan="2">扩展安装步骤</td></tr>
<tr class="tr3"><td>
	<div style="line-height:20px;margin:5px 0 5px 20px;">
	1. 将扩展文件上传到<b>扩展目录(extensions/)</b><br />2. 在“<b>未安装扩展</b>”列表中选择安装您需要的扩展
	</div>
</td></tr></table>
</div>
<form action="$basename" method="post">
<input type="hidden" name="extensionset" value="edit">
<div class="t">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr class="head"><td colspan="7">已安装扩展</td></tr>
		<tr class="tr2">
			<td width="25%">名称</td>
			<td width="10%">状态</td>
			<td width="10%">管理</td>
			<td>目录</td>
			<td width="10%">版本号</td>
			<td width="10%">信息</td>
			<td width="10%">卸载</td>
		</tr>
<!--
EOT;
$i=0;
foreach($installdb as $value){
$t_style = ++$i%2 ? 't_one' : 't_two';
print <<<EOT
-->
		<tr class="tr3 $t_style">
			<td><input type="text" name="name[$value[dir]]" value="$value[name]" class="txt" size="30" /></td>
			<td>
				<select name="ifopen[$value[dir]]">
					<option value="0" ${$value[dir].'_0'}>禁用</option>
					<option value="1" ${$value[dir].'_1'}>启用</option>
				</select>
			</td>
			<td><a href="$basename&extensionset=manage&E_name=$value[dir]" title="点击管理此扩展">管理</a></td>
			<td>$value[dir]</td>
			<td>$value[version]</td>
			<td><a href="$basename&extensionset=about&extdir=$value[dir]&type=install" title="点击查看此扩展相关信息">关于</a></td>
			<td><a style="cursor:pointer;" onclick="return uninstall('$value[uninstall]')" title="卸载此扩展">卸载</a></td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<div class="sub">
	<input type='submit' class="btn" id="submit1" value='提 交'>
</div>
</form>
<!--
EOT;
if($uninstalldb){
print <<<EOT
-->
<div class="t">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr class="head"><td colspan="6">未安装扩展</td></tr>
	<tr class="tr2">
		<td width="25%">名称</td>
		<td>目录</td>
		<td width="10%">默认状态</td>
		<td width="10%">版本号</td>
		<td width="10%">信息</td>
		<td width="10%">安装</td>
	</tr>
<!--
EOT;
$i=0;
foreach($uninstalldb as $value){
$value[ifopen] = $value[ifopen] ? '启用' : '禁用';
$t_style = ++$i%2 ? 't_one' : 't_two';
print <<<EOT
-->
	<tr class="tr3 $t_style">
		<td>$value[name]</td>
		<td>$value[dir]</td>
		<td>$value[ifopen]</td>
		<td>$value[version]</td>
		<td><a href="$basename&extensionset=about&extdir=$value[dir]&type=uninstall" title="点击查看此扩展相关信息">关于</a></td>
		<td><a style="cursor:pointer;" onclick="return install('$value[url]')" title="安装此扩展">安装</a></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<!--
EOT;
}
if($upgradedb){
print <<<EOT
-->
<div class="t">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr class="head"><td colspan="7">可更新扩展</td></tr>
	<tr class="tr2">
		<td width="25%">名称</td>
		<td>目录</td>
		<td width="10%">已安装版本</td>
		<td width="10%">可更新版本</td>
		<td width="10%">信息</td>
		<td width="10%">更新</td>
	</tr>
<!--
EOT;
$i=0;
foreach($upgradedb as $value){
$t_style = ++$i%2 ? 't_one' : 't_two';
print <<<EOT
-->
	<tr class="tr3 $t_style">
		<td>$value[name]</td>
		<td>$value[dir]</td>
		<td>$value[oldversion]</td>
		<td>$value[version]</td>
		<td><a href="$basename&extensionset=about&extdir=$value[dir]&type=upgrade" title="点击查看此扩展相关信息">关于</a></td>
		<td><a style="cursor:pointer;" onclick="return upgrade('$value[url]')" title="安装此扩展">更新</a></td>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<!--
EOT;
}print <<<EOT
-->
<script language="JavaScript">
function uninstall(chars){
	if(!confirm("卸载扩展将同时删除扩展相关的数据，您确定要卸载此扩展吗?"))
		return false;
	location.href=chars;
}
function install(chars){
	if(!confirm("您确定要安装此扩展吗?"))
		return false;
	location.href=chars;
}
function upgrade(chars){
	if(!confirm("您确定要升级此扩展吗?"))
		return false;
	location.href=chars;
}
</script>
<!--
EOT;
}?>-->