<!--<?php
print <<<EOT
-->
<div class="m"></div>
<div class="t">
<form action="$basename" method="post">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="tr4"><td>
  	<div style="float:right"><input type="button" onClick="window.location='$basename&action=face';return false;" value="管理评论表情" class="btn" /></div>
	  查看各内容模型下评论内容
    <select name="" onChange="window.location='$basename&mid='+this.value">
<!--
EOT;
foreach($this->moduledb as $key=>$val){
if($key<=0){continue;}
print <<<EOT
-->
    <option value="$key" ${'select_'.$key}/>$val[mname]</option>
<!--
EOT;
}print <<<EOT
-->
    </select>
			&nbsp;&nbsp;查看指定文章评论内容,文章ID:&nbsp;&nbsp;
      <input name="tid" type="text" class="input" id="tid" size="10" />
      <input name="action" type="hidden" id="action" value="search" />
      <input type="submit" name="Submit2" value="显 示" class="btn" />
	</td></tr>
</table></form>
</div>
<!--
EOT;
if($action=='show'||$action=='search'){
print <<<EOT
-->
<form action="$basename" method="post" name="FORM">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="6">评论信息管理</td>
    </tr>
  <tr class="tr2">
    <td>&nbsp;</td>
    <td>原文标题</td>
    <td>评论人</td>
    <td>评论时间</td>
    <td>评论内容</td>
    <td>操作</td>
  </tr>
<!--
EOT;
foreach($result as $val){
print <<<EOT
-->
  <tr class="tr3">
    <td width="10"><input name="ids[$val[tid]][]" type="checkbox" id="ids[$val[tid]]" value="$val[id]"></td>
    <td><a href="$val[url]" target="_blank">$val[title]</a></td>
    <td>$val[author]&nbsp;($val[fromip])</td>
    <td>$val[postdate]&nbsp;</td>
    <td>$val[message]</td>
    <td><a href="$basename&action=delsingle&cid=$val[cid]&tid=$val[tid]&id=$val[id]">删除</a></td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="page">$pages</div>
<div class="sub">
  <input name="action" type="hidden" id="action" value="delall">
  <input name="mid" type="hidden" id="mid" value="$this->mid">
  <input type="button" name="Submit" value="全选" onClick="CheckAll(document.FORM);" class="btn" />
  <input type="submit" name="Submit2" value="删除选中评论" onClick="return confirm('您确定要删除选中的评论？')"class="btn" />
</div>
</form>
<!--
EOT;
}elseif($action=='face'){
print <<<EOT
-->
<form action="$basename" method="post">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="5">评论表情管理</td>
    </tr>
  <tr class="tr2">
    <td>ID</td>
    <td>表情图片</td>
    <td>说明文字</td>
    <td>排序</td>
    <td>管理操作</td>
  </tr>
<!--
EOT;
foreach($result as $val){
print <<<EOT
-->
  <tr class="tr3">
    <td>$val[id]</td>
    <td><img src="$val[facepath]" /></td>
    <td><input class="input" name="faceintro[$val[id]]" value="$val[faceintro]" size="50"/></td>
    <td><input class="input" name="taxis[$val[id]]" value="$val[taxis]" size="10"/></td>
    <td>[<a href="$basename&action=delface&id=$val[id]" onClick="if(!confirm('确定删除此表情?')) return false;">删除</a>]</td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="sub">
<input name="action" type="hidden" id="action" value="edit">
<input type="submit" name="Submit4" value="提交修改" class="btn" />
</div>
</form>

<form action="$basename" method="post">
<input type="hidden" name="id" value="$id">
<input type="hidden" name="action" value="addface">
<div class="t" style="width:60%">
<table cellspacing="1" cellpadding="0" border="0">
<tr class="head">
	<td colspan="3">表情管理（表情图片路径:扩展目录/images/comment/,该目录下尚未被添加的表情）</td>
</tr>
<tr class="tr2">
	<td width="15%">添 加</td>
	<td>图片路径</td>
	<td width="40%">图片预览</td>
</tr>
<!--
EOT;
foreach($smiles_new as $value){print <<<EOT
-->
<tr class="line">
	<td><input type="checkbox" name="add[]" value="$value[path]"></td>
	<td>$value[path]</td>
	<td><img src="$value[src]"></td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="sub">
	<input type="button" class="btn" value="全 选" onclick="CheckAll(this.form)">
	<input type="submit" class="btn" value="添 加">
</div>
</form>
<!--
EOT;
}?>-->