<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMS - Powered by PHPWind.Net</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="style/admin/admin.css" rel="stylesheet" />
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="script/jquery.cms.js"></script>
</head>

<body>
<!--
EOT;
if($action=='search'){
print <<<EOT
-->
<base target="_self">
<!--
<div class="t">
<form action="$basename" method="post" onSubmit="this.submit.disabled=true;">
  <table width="100%" cellspacing="0" cellpadding="6" align="center">
	<tr>
	<td align="center">帮助关键字:&nbsp;&nbsp;
	<input name="keyword" class="txt" value="" size="35" />
	<input type="submit" value=" 搜 索 " class="btn" />
	</td><td align="left">
	<input type="button" value="返 回" class="btn" onclick="javascript:parent.history.go(-1);" />
	<input type="button" value="关 闭" class="btn" onclick="javascript:parent.close();" />
	</td></tr>
  </table>
</form>
</div>-->
search
<!--
EOT;
}elseif($action=='gethelp'){
foreach($helpmsg as $c){
print <<<EOT
-->
<base target="_self">
<!--
<div class="t">
<form action="$basename" method="post" onSubmit="this.submit.disabled=true;">
  <table width="100%" cellspacing="0" cellpadding="6" align="center">
	<tr>
	<td align="center">帮助关键字:&nbsp;&nbsp;
	<input name="keyword" class="txt" value="" size="35" />
	<input type="submit" value=" 搜 索 " class="btn" />
	</td><td align="left">
	<input type="button" value="返 回" class="btn" onclick="javascript:parent.history.go(-1);" />
	<input type="button" value="关 闭" class="btn" onclick="javascript:parent.close();" />
	</td></tr>
  </table>
</form>
</div>-->
<div class="t">
<table width="100%" cellpadding="0" cellspacing="0">
<tr class="tr2"><td>$c[title]</td></tr>
<tr class="tr3"><td>
	$c[content]
</td></tr>
</table>
</div>
<!--
EOT;
}}elseif($action=='minihelp'){
if($content){
print <<<EOT
-->
var HelpLang = new Array();
<!--
EOT;
foreach($content as $k=>$v){
print <<<EOT
-->
HelpLang['$k'] = '$v[content]';
<!--
EOT;
}print <<<EOT
-->
showMiniHelp('$title');
<!--
EOT;
}}
print <<<EOT
-->
</body>
</html>
<!--
EOT;
?>-->