<!--<?php
if(!$action || $action =="view"){
print <<<EOT
-->
<script language="javascript">
var path = '$sys[url]/$sys[attachdir]';
var _img = null;

function showpic(filepath){
	var preview = document.getElementById('preview');
	document.getElementById('picture').innerHTML="正在加载图片，请稍侯...";
	_img = new Image();
	_img.src = path+"/"+filepath;
	preview.style.display='';
	checkLoadFinished(1);			
}

function hidePreview(){
	document.getElementById('preview').style.display='none';
}

function checkLoadFinished(count) {
	if (count > 1000) { document.getElementById('picture').innerHTML = '发生错误，加载图片超时'; return; }
	var state = '';
	if (document.all) state = _img.readyState;
	else state = _img.complete ? 'complete' : '';
	if(state!='complete') { window.setTimeout("checkLoadFinished(" + (count + 1) + ")",50); return; }
	var MaxW = 300; var MaxH = 200;
    var dW=_img.width; var dH=_img.height;
    if(dW>MaxW || dH>MaxH) {  a=dW/MaxW; b=dH/MaxH;if(b>a){ a=b; } dW=dW/a; dH=dH/a; }
    if(dW > 0 && dH > 0) { _img.width=dW; _img.height=dH; }

	var picture = document.getElementById("picture");
	var childs = picture.childNodes; for (var i = 0; i < childs.length; ++i) picture.removeChild(childs[i]);
	_img.style.border="#E3E3E3 5px solid";
	picture.appendChild(_img);
	document.getElementById('loading').style.display="none";
}
</script>
<base target="_self">
<div id="quote" style="background-color:#FFFFFF; position:absolute; right:5px; top:5px; width:400px; display:none" class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td><div style="float:right"><img src="images/admin/close.gif" onClick="hideQuote();" style="cursor:pointer"></div>图片引用情况</td>
  </tr>
  <tr>
    <td>
	<div id='quoteinfo' style="text-align:center; width:100%">
	</div></td>
  </tr>
</table>
</div>
<div id="loading" style="color:white;background-color:blue;position:absolute;padding:5px;display:none;
	top:250px; left:300px; z-index:90"><label id="DownloadInfo" style="display:block;color:#FFF;">正在加载图片，请稍候...</label></div>
<div id="preview" style="background-color:#FFFFFF; position:absolute; right:5px; top:5px; width:400px; display:none" class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td><div style="float:right"><img src="images/admin/close.gif" onClick="hidePreview();" style="cursor:pointer"></div>图片预览区域</td>
  </tr>
  <tr>
    <td>
	<div id='picture' style="padding:10px;text-align:center; width:100%">
	</div></td>
  </tr>
</table>
</div>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="text-align:left">
	<form action="$basename" method="post">
	类型: &nbsp;&nbsp;
      <select name="type" id="type">
        <option value="all" selected="selected">所有附件</option>
        <option value="rar">压缩文件</option>
        <option value="flash">媒体文件</option>
		<option value="img">图片文件</option>
		<option value="txt">文档文件</option>
      </select> 
      &nbsp;&nbsp;每页数量:&nbsp;&nbsp;
      <input name="displaynum" type="text" class="input" id="displaynum" size="5" maxlength="3" />
      &nbsp;&nbsp;名称关键字搜索:&nbsp;&nbsp;
      <input name="keyword" type="text" class="input" id="keyword" size="10" />&nbsp;
      <input name="action" type="hidden" id="action" value="view" />
      &nbsp;
      <input type="submit" name="Submit2" value="显示" class="btn" />
	  </form>
	  </td>
  </tr>
</table>

</div>
<form action="$basename" method="post" name="file">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="7">附件资源管理 (此处附件显示无法做到完全准确，只能作为参考) </td>
  </tr>
  <tr class="tr2">
    <td width="5%">&nbsp;</td>
    <td>原始文件名</td>
    <td>描述</td>
    <td>文件保存路径</td>
    <td>文件大小</td>
    <td>上传时间</td>
    <td>管理</td>
  </tr>
<!--
EOT;
foreach($files as $file){
print <<<EOT
-->
  <tr class="tr3">
    <td><input name="aid[]" type="checkbox" id="del[]" value="$file[aid]" $file[disable] /></td>
    <td><img src="$file[icon]" width="16" height="16" hspace="5" align="absmiddle" /><a href="$file[url]">$file[filename] </a></td>
    <td>$file[fileintro]&nbsp;</td>
    <td>$file[filepath]</td>
    <td>$file[filesize]</td>
    <td>$file[uploadtime]<br /></td>
    <td>
<!--
EOT;
if($file[tid]){
print <<<EOT
-->
	<a href="javascript:void(0);" onclick="return viewQuote('$file[aid]');"><img src="images/admin/quote.gif" align="absmiddle" alt="查看引用" /></a>
<!--
EOT;
}else{
print <<<EOT
-->
	<a href="$basename&action=del&aid=$file[aid]"><img src="images/admin/delete.gif" align="absmiddle" alt="删除" onClick="return confirm('您确定要删除此附件？');"/></a>
<!--
EOT;
}print <<<EOT
-->	</td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="pages">$pages</div>
<div class="sub">
  <input name="path" type="hidden" id="path" value="$path" />
  <input name="action" type="hidden" id="action" value="del" />
  <input type="button" name="Submit2" value="全选" class="btn" onclick="CheckAll(document.file);" />
  <input type="submit" name="Submit" value="删除" onClick="return confirm('您确定要删除选中的附件？');" class="btn" />
</div>
</form>
<script language="javascript" src="script/xhr.js"></script>
<script language="javascript">
function viewQuote(aid){
	var x = new XHR('showQuote');
	x.get("$basename&action=viewquote&aid="+aid);
	return false;
}

function showQuote(res){
	document.getElementById('quote').style.display = '';
	document.getElementById('quoteinfo').innerHTML = res;
}

function hideQuote(){
	document.getElementById('quote').style.display = 'none';
}
</script>

<script type="text/javascript" src="script/mootools-release-1.11.js"></script>
<script type="text/javascript" src="script/upload.js"></script>
<script type="text/javascript">
sBrowseCaption='浏览文件';
sRemoveToolTip='Remove from queue';
var facncy 	= '$sys[hash]';
var meloader = null;
window.addEvent('load', function(){
var uploader = new FancyUpload($('file-upload'), {
		url:"$admin_file?adminjob=file_upload&step=2&admin_name=$admin_name&admin_password=$admin_password&fancy="+facncy,
		swf: 'images/Swiff.Uploader.swf',
		multiple: true,
		queued: true,
		queueList:'upload-queue',
		instantStart: false,
		allowDuplicates: false,
		types: {'All Files (*.*)': '*.*'},
		onAllComplete:function() {
			window.parent.mainFrame.location.reload();
		}
	});
$('upload-clear').adopt(new Element('input', { type: 'button', events: { click: uploader.clearList.bind(uploader, [false])}, value: '清除已完成' }));
meloader = uploader;
});
function check(){
	if (meloader.fileList.length < 1) {
		alert('请选择要上传的文件！');
		return false;
	}
	$('mysub').click();
	return true;
}
</script>
<!--
EOT;
if(!strpos($_SERVER[HTTP_USER_AGENT],'MAXTHON')){
print <<<EOT
-->
<div id="ajaxupload" style="display:none" disabled>
	<object width="1" height="1" id="Swiff1" type="application/x-shockwave-flash" data="images/Swiff.Uploader.swf?onLoad=Swiff.vars.Swiff1.onLoad">
		<param name="allowScriptAccess" value="sameDomain" />
		<param name="movie" value="images/Swiff.Uploader.swf?onLoad=Swiff.vars.Swiff1.onLoad" />
		<param name="bgcolor" value="#ffffff" />
		<param name="scale" value="noscale" />
		<param name="salign" value="lt" />
		<param name="wmode" value="transparent" />
	</object>
</div>
<!--
EOT;
}
print <<<EOT
-->
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="7">批量上传 (选择文件时按住ctrl即可多文件选择,不兼容所有浏览器) </td>
  </tr>
  <tr>
  <td>
<form action="" id="upload" method="post" enctype="multipart/form-data">
	<fieldset>
		<fieldset class="actions">
			<input type="file" id="file-upload" name="file-upload" />
			<input type="button" value="开始上传" onclick="check()"/>
			<input type="submit" id="mysub" style="display:none" />
			<span id="upload-clear"></span>
		</fieldset>
		<ul class="upload-queue" id="upload-queue">
			<li style="display: none" /></li>
		</ul>
	</fieldset>
</form>
</td></tr>
</table>
</div>
<!--
EOT;
}elseif($action=='viewquote'){
print <<<EOT
-->
<table width="100%" cellpadding="0" cellspacing="0">
<!--
EOT;
foreach($q as $v){
print <<<EOT
-->
<tr class="tr">
  <td>所属内容模型</td>
  <td>栏目</td>
  <td>TID</td>
  <td>标题</td>
</tr>
<tr class="tr3">
  <td>$v[mname]</td>
  <td>$v[cname]</td>
  <td>$v[tid]</td>
  <td>$v[title]</td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<!--
EOT;
}
?>-->