<!--<?php
if(!$action || $action =="view"){
print <<<EOT
-->
<form action="$basename" method="post">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="text-align:left">
	类型: &nbsp;&nbsp;
      <select name="type" id="type">
        <option value="all" selected="selected">所有附件</option>
        <option value="rar">压缩文件</option>
        <option value="flash">媒体文件</option>
		<option value="img">图片文件</option>
		<option value="txt">文档文件</option>
      </select> 
      &nbsp;&nbsp;每页数量:&nbsp;&nbsp;
      <input type="text" name="displaynum" id="displaynum" size="5" maxlength="3" class="txt" />
      &nbsp;&nbsp;名称关键字搜索:&nbsp;&nbsp;
      <input type="text" name="keyword" id="keyword" size="10" class="txt" />&nbsp;
      <input type="hidden" name="action" id="action" value="view" />
      &nbsp;
      <input type="submit" name="submit" value="显示" class="btn" />
	  </td>
  </tr>
</table>
</div>
</form>
<form action="$basename" method="post" name="file">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="8">附件资源管理 (此处附件显示无法做到完全准确，只能作为参考) </td>
  </tr>
  <tr class="tr2">
    <td width="20"><a href="javascript:void(0);" onclick="$('input[name=\'aid[]\']').click()">#</a></td>
    <td width="20">&nbsp;</td>
    <td>原始文件名</td>
    <td>描述</td>
    <td>文件保存路径</td>
    <td>文件大小</td>
    <td>上传时间</td>
    <td>管理</td>
  </tr>
<!--
EOT;
foreach($files as $file){
print <<<EOT
-->
  <tr class="tr3">
    <td><input type="checkbox" name="aid[]" value="$file[aid]" $file[disable] /></td>
    <td><img src="$file[icon]" width="16" height="16" hspace="5" /></td>
    <td><a href="$file[url]">$file[filename] </a></td>
    <td>$file[fileintro]&nbsp;</td>
    <td>$file[filepath]</td>
    <td>$file[filesize]</td>
    <td>$file[uploadtime]<br /></td>
    <td>
<!--
EOT;
if($file[tid]){
print <<<EOT
-->
	<a href="javascript:void(0);" onclick="return viewQuote('$file[aid]');"><img src="images/admin/quote.gif" alt="查看引用" width="16" height="16" align="absmiddle" /></a>
<!--
EOT;
}else{
print <<<EOT
-->
	<a href="$basename&action=del&aid=$file[aid]" onclick="return confirm('您确定要删除此附件？');"><img src="images/admin/delete.gif" alt="删除" width="16" height="16" align="absmiddle" /></a>
<!--
EOT;
}print <<<EOT
-->	</td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="pages">$pages</div>
<div class="sub">
  <input type="hidden" name="path" id="path" value="$path" />
  <input type="hidden" name="action" id="action" value="del" />
  <input type="submit" name="submit" value="删除" onclick="return confirm('您确定要删除选中的附件？');" class="btn" />
</div>
</form>
<!--
EOT;
}elseif($action=='viewquote'){
print <<<EOT
-->
<table width="100%" cellpadding="0" cellspacing="0">
<!--
EOT;
foreach($q as $v){
print <<<EOT
-->
<tr class="tr">
  <td>所属内容模型</td>
  <td>栏目</td>
  <td>TID</td>
  <td>标题</td>
</tr>
<tr class="tr3">
  <td>$v[mname]</td>
  <td>$v[cname]</td>
  <td>$v[tid]</td>
  <td>$v[title]</td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table>
<!--
EOT;
}
?>-->