<!--<?php
print <<<EOT
-->
<div style="margin:10px; line-height:150%; text-align:center">
CMS v$wind_version Code &copy; PHPWind.Net <br />
$wind_spend<br />
<br />
</div>
<script language="javascript">
var agt = navigator.userAgent.toLowerCase();
var is_ie = ((agt.indexOf("msie") != -1) && (agt.indexOf("opera") == -1));
var is_gecko= (navigator.product == "Gecko");
var top=parent.topFrame;
if(typeof(top)=='object'){
	var loadMsg=top.document.getElementById('loadMsg');
	if(loadMsg!=undefined){
		loadMsg.style.display='none';
	}
}
ifcheck = true;

function getObj(id){
	return document.getElementById(id);
}

function window_open(url){
	if(is_ie){
		showModalDialog(url,window,'dialogWidth=650px;dialogHeight=500px;help:no;status:no;');
	}else{
		window.open(url,'','width=650,height=500,status=no');
	}
}

function CheckAll(form){
	for (var i=0;i<form.elements.length-2;i++){
		var e = form.elements[i];
		if(e.type=='checkbox') e.checked = ifcheck;
	}
	ifcheck = ifcheck == true ? false : true;
}

var selectCheck = 0;
function whole(form){
	for (var i=0;i<form.elements.length-2;i++){
		var e = form.elements[i];
		if(e.type=='checkbox'){
			if(e.checked==true) selectCheck++;
		}
	}
	if(selectCheck<=0){
		alert("请选择操作对象");
		return false;
	}
}

function GetCookie(name){
	var searchname=name+"=";
	var offset=document.cookie.indexOf(searchname);
	if(offset==-1) return false;
	var start=offset+searchname.length;
	var end=document.cookie.indexOf(";",start);
	if(end==-1) end=document.cookie.length;
	var value=unescape(document.cookie.substring(start,end));
	return value;
}

function SetCookie(name,value,Minutes){
	var exp = new Date();
	exp.setTime(exp.getTime() + Minutes*60000);
	document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
}

function ietruebody(){
	return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body;
}
function  randomvalue(low,high){
	return Math.floor(Math.random()*(1 + high -low) + low);
}
</script>
<!--
EOT;
if($GLOBALS[admin_name] && $adminjob && !$sys[hidehelp]){
print <<<EOT
-->
<script language="javascript">
function showHelpMsg(){
	if(IsBrowser()=='msie'){
		showModalDialog("$GLOBALS[admin_file]?adminjob=faq&action=",window,'dialogWidth=650px;dialogHeight=500px;help:no;status:no;');
	}else{
		window.open("$GLOBALS[admin_file]?adminjob=faq",'','width=650,height=500,status=no');
	}
}
function showMiniHelp(name){
	if(GetCookie(name)){
		return false;
	}else{
		if(HelpLang){
			if(typeof(HelpLang) == 'object'){
				var strlen = HelpLang.length;
				var x = randomvalue(0,strlen-1);
				var themsg = HelpLang[x];
			}else if(typeof(HelpLang) == 'string'){
				var themsg = HelpLang;
			}
			var helpInfo = document.createElement('div');
			var helpHead = document.createElement('div');
			var helpMsg	 = document.createElement('div');
			helpInfo.id	 = 'userhelp';
			helpInfo.className	= 'help';
			helpHead.className	= 'helpHead';
			helpMsg.className	= 'helpMsg';
			helpHead.innerHTML	= '<span title="关闭帮助信息" style="float:right;padding-right:5px;cursor:pointer;" onclick="closeHelp(\''+name+'\');">X</span>您知道吗？';
			helpMsg.innerHTML	= themsg;
			helpInfo.appendChild(helpHead);
			helpInfo.appendChild(helpMsg);
			document.body.appendChild(helpInfo);
			window.onscroll=changeHelpPos;
			window.onresize=changeHelpPos;
		}else{
			//alert('undefined help msg');
		}
	}

}
function closeHelp(name){
	SetCookie(name,1,1);
	document.getElementById('userhelp').style.display = 'none';
}
function changeHelpPos(){
	var userhelp = document.getElementById('userhelp');
	userhelp.style.top = ietruebody().scrollTop+ietruebody().clientHeight-parseInt(userhelp.offsetHeight)+'px';
	userhelp.style.left = ietruebody().scrollLeft+ietruebody().clientWidth-parseInt(userhelp.offsetWidth)+'px';
}
</script>
<script language="javascript" src="$GLOBALS[admin_file]?adminjob=faq&title=$adminjob&action=minihelp"></script>
<!--
EOT;
}?>-->