<!--<?php
print <<<EOT
-->
<frameset rows="57,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="$admin_file?adminjob=top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="180,*" frameborder="no" border="0" framespacing="0">
    <frame src="$admin_file?adminjob=tree" name="leftFrame" scrolling="auto" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="$admin_file?adminjob=main" name="mainFrame" scrolling="auto" noresize="noresize" id="mainFrame" title="mainFrame" />
  </frameset>
</frameset>
<noframes>
<body>
  <p>Please Use IE 5.0</p>
</body>
</noframes>
<!--
EOT;
?>-->
