<!--<?php
print <<<EOT
-->
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:291px;
	top:52px;
	width:248px;
	height:93px;
	z-index:10;
}
.leftmenu td,.leftmenu2 td{
	height:30px;
	color:#333333;
	padding-left:30px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.leftmenu td{
	background-image:url(images/admin/bg_menu.png);
}
.leftmenu2 td{
	background-image:url(images/admin/bg_menu2.png);	
}
.leftH td {
	color:#333;
	padding:2px 0px 3px 20px;
	text-align: left;color:#000000;
	font-size:14px;
	height:30px;
	background-image:url(images/admin/bg_head.gif);
	font-weight:bold;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #333333;
}
-->
</style>
<div class="m"></div>
<div id="menus" style="margin:0 5px 0 5px; width:170px;">
<!--
EOT;
foreach ($menu_father as $key=>$val){
print <<<EOT
-->
<div class="t" id="$key">
<table border="0" cellspacing="0" cellpadding="0" width=100%>
  <tr class="leftH">
    <td>$val</td>
  </tr>
<!--
EOT;
foreach ($menu_child[$key] as $k=>$v){
print <<<EOT
-->
  <tr id='tr_$k' class="leftmenu" onmouseover="changeBg('tr_$k',1);" onmouseout="changeBg('tr_$k',0);">
    <td><a href="$admin_file?adminjob=$k" target="mainFrame">$v</a></td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
}print <<<EOT
-->
</div>
<!--
EOT;
?>-->