<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMS - Powered by PHPWind.Net</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<link href="style/admin/login.css" rel="stylesheet" type="text/css" />
<body>
<div class="form">
	<div class="formBox">
	<form action="$admin_file" method="post" target="_parent" name="login">
        <h6>User Name:</h6>
          <input name="username" type="text" size="30" class="txt" /></td>
        <h6>Password:</h6>
          <input name="password" type="password" size="30" class="txt" />
<!--
EOT;
if($sys[ckadmin]){
print <<<EOT
-->
      <div class="ckadmin"><input name="ck" type="text" class="input" size="4" /><img src="ck.php" name="ck" align="absmiddle" id='ck' onclick="return showck();" /></div>
<!--
EOT;
}print <<<EOT
-->

        <input type="hidden" name="action" value="in" />
        <input type="submit" name="Submit" value="登录" class="btn" />

	</form>
    </div>

</div>
<script language="JavaScript">
document.login.username.focus();
function showck(){
	var nowtime	 = new Date().getTime();
	var ck=document.getElementById('ck');
	ck.src='ck.php?nowtime='+nowtime;
	return false;
}
</script>
</body>
</html>
<!--
EOT;
?>-->