<!--<?php
print <<<EOT
-->
<form action="$basename" method="post">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">博客整合设置</td>
    </tr>
    <tr class="line">
        <td>是否整合博客</td>
        <td><input type="radio" name="config[aggreblog]" value="1" $aggreblog_Y />
          整合
            <input type="radio" name="config[aggreblog]" value="0" $aggreblog_N />
          不整合</td>
  </tr>
  <tr class="line">
    <td>博客程序类型</td>
    <td><select name="config[blog_type]" id="blog_type">
      $blogSelect
    </select>    </td>
  </tr>
  <tr class="line">
    <td width="25%">博客网址</td>
    <td width="75%"><input name="config[blog_url]" type="text" class="input" id="blog_url" value="$sys[blog_url]" size="50">
    （后面不要加/）</td>
  </tr>
  <tr class="line">
    <td>博客数据库服务器</td>
    <td><input name="config[blog_dbhost]" type="text" class="input"  value="$sys[blog_dbhost]" /></td>
  </tr>
  <tr class="line">
    <td>博客数据库用户名</td>
    <td><input name="config[blog_dbuser]" type="text" class="input"  value="$sys[blog_dbuser]" /></td>
  </tr>
  <tr class="line">
    <td>博客数据库密码</td>
    <td><input name="config[blog_dbpw]" type="password" class="input" id="config[blog_dbpw]" value="$sys[blog_dbpw]" /></td>
  </tr>
  <tr class="line">
    <td>博客数据库名</td>
    <td><input name="config[blog_dbname]" type="text" class="input" id="blog_dbname" value="$sys[blog_dbname]"></td>
  </tr>
  <tr class="line">
    <td>博客数据库编码</td>
    <td><input name="config[blog_charset]" type="text" class="input" id="config[blog_dbname]" value="$sys[blog_charset]" /></td>
  </tr>
  <tr class="line">
    <td>博客数据库前缀</td>
    <td><input name="config[blog_dbpre]" type="text" class="input" id="blog_dbpre" value="$sys[blog_dbpre]"></td>
  </tr>
  <tr class="line">
    <td>博客附件目录</td>
    <td><input name="config[blog_attachdir]" type="text" class="input" id="blog_attachdir" value="$sys[blog_attachdir]" /> 
    (如果为远程附件地址，请填写附件网址) </td>
  </tr>
  <tr class="line">
    <td>博客图片目录</td>
    <td>
		<input name="config[blog_imgdir]" type="text" class="input" id="blog_imgdir" value="$sys[blog_imgdir]" />
	</td>
  </tr>
</table>
</div>
<div class="sub">
  <input name="step" type="hidden" id="step" value="2">
  <input type="submit" name="Submit" value=" 提 交 " class="btn">
</div>
</form>
<!--
EOT;
?>-->