<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMS - Powered by PHPWind.Net</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="style/admin/admin.css" rel="stylesheet" />
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="script/jquery.cms.js"></script>
</head>

<body>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
	<form action="$basename" method="post" name="show">
	栏目: <select name="cid" id="cid">$cate_select</select>&nbsp;
	搜索类型: 
      <select name="type" id="type">
        <option value="1" $type_1>操作员</option>
        <option value="2" $type_2>删除时间</option>
      </select>
      &nbsp;
	  <input type="text" name="keyword" id="keyword" value="$keyword" size="10" class="txt" />
      &nbsp;每页数量:&nbsp;
      <input type="text" name="num" id="num" value="$num" size="5" maxlength="3" class="txt" />
      <input type="hidden" name="action" id="action" value="show" />
      &nbsp;
      <input type="submit" name="submit" value="显示" class="btn" />
	  </form>
		<input type="button" value="清空栏目内容" class="btn" onclick="javascript:if(confirm('确定要清空本栏目的所有项目?'))window.location='$basename&action=del&cid=$cid';" /> <input type="button" value="还原栏目内容" class="btn" onclick="javascript:if(confirm('确定要还原本栏目的所有项目?'))window.location='$basename&action=undo&cid=$cid';"/>
	  </td>
  </tr>
</table>
</div>
<form action="$basename" method="post" name="list">
<div class="t">
<table border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="9"><div style="float:right">内容合计 {$total}  条</div>{$cname} 回收站</td>
  </tr>
  <tr class="tr2">
    <td width="20"><a href="javascript:void(0);" onclick="$('input[name=\'tids[]\']').click()">#</a></td>
    <td>序号</td>
    <td>标题</td>
    <td>发布者</td>
    <td>操作员</td>
    <td>删除时间</td>
    <td>操作</td>
  </tr>
<!--
EOT;
foreach($content as $value){
$value[title]=substrs($value[title],50);
print <<<EOT
-->
  <tr class="tr3">
    <td><input type="checkbox" name="tids[]" value="$value[tid]" /></td>
    <td>$value[tid]</td>
    <td>$value[title]</td>
		<td>$value[publisher]</td>
    <td>$value[admin]</td>
    <td>$value[deltime]</td>
    <td>
		<a href="$basename&action=del&cid=$cid&tids=$value[tid]" onclick="return confirm('您确定要删除此内容？');"><img src="images/admin/cross.gif" alt="删除" width="16" height="16" align="absmiddle" /></a>
		<a href="$basename&action=undo&cid=$cid&tids=$value[tid]" onclick="return confirm('您确定要还原此内容？');"><img src="images/admin/update.gif" alt="还原" width="16" height="16" align="absmiddle" /></a>
</td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <select name="action" id="action">
	      <option value="del"  selected="selected">清空内容</option>
	      <option value="undo">还原内容</option>
	    </select>
	    <input type="hidden" name="cid" id="cid" value="$cid" />
	    <input type="submit" name="Submit4" value="提交" class="btn" /></td>
    <td style="text-align:right">$pages</td>
  </tr>
</table>
</div>
</form>
</body>
</html>
<!--
EOT;
?>-->