<!--<?php
print <<<EOT
-->
<script language="javascript">
var inputname = '$inputname';
function insertTpl(value){
	window.opener.document.getElementById(inputname).value=value;
	window.close();
	return;
}
</script>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0" id='filetable'>
	<tr class="head">
		<td colspan="4">用户模板管理</td>
	</tr>
	<tr class="tr2">
		<td width="20">&nbsp;</td>
		<td>文件名</td>
		<td>文件大小</td>
		<td>修改时间</td>
	</tr>
<tr class="tr3">
	<td colspan="4"><a href="$basename&action=selectTpl&direct=$direct&job=up">$direct</a></td>
</tr>
<!--
EOT;
$i=0;
foreach($files as $file){
$i++;
print <<<EOT
-->
  <tr class="tr3" id="tr$i">
    <td colspan="2"><img src="$file[icon]" width="16" height="16" hspace="5" align="absmiddle" />
	<span id='td$i'><a href="$file[url]"><span id='name$i'>$file[name]</span></a></span></td>
    <td>$file[size]<br /></td>
    <td>$file[time]<br />
	  <a href="javascript:void(0);" onClick="return reName($i);"></a></td>
    </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<!--
EOT;
?>-->