<!--<?php
print <<<EOT
-->
<base target="mainFrame">
<div class="t">
<table align=center cellspacing=0 cellpadding=0>
<tr class=head>
  <td>使用帮助</td>
</tr>
<tr class=line>
  <td>本功能用于检验程序正常运行所必须的目录是否具备相应的权限，如果您是Unix类主机，请通过FTP软件把相应目录设置为777属性，如果您的空间为Windows，则请检查文件夹的权限设置。</td>
</tr></table>
</div>
<div class="t">
<table width="100%" align=center cellpadding=0 cellspacing=0>
<tr class=head>
  <td colspan="3">检验信息</td>
</tr>
<tr class=tr2>
  <td>目录名称</td>
  <td>路径</td>
  <td>是否可写</td>
</tr>
<tr class=line>
  <td width="25%">静态文件发布目录</td>
  <td width="37%">$sys[htmdir]</td>
  <td width="38%">$htm_check</td>
</tr>
<tr class=line>
  <td>附件资源上传目录</td>
  <td>$sys[attachdir]</td>
  <td>$img_check</td>
</tr>
<tr class=line>
	<td>图片缩略图保存目录</td>
	<td>{$sys[attachdir]}/s</td>
	<td>$imgs_check</td>
</tr>
<tr class=line>
  <td>图片本地化临时目录</td>
  <td>{$sys[attachdir]}/temp</td>
  <td>$imgtemp_check</td>
</tr>
<tr class=line>
  <td>用户自定义模板目录</td>
  <td>{$user_tplpath}</td>
  <td>$usertpl_check</td>
</tr>
<tr class=line>
	<td>广告JS缓存目录</td>
	<td>script/cms</td>
	<td>$jscache_check</td>
</tr>
<tr class=line>
  <td>数据资料保存目录</td>
  <td>data</td>
  <td>$data_check</td>
</tr>
<tr class=line>
  <td>模板编译缓存目录</td>
  <td>data/tpl_cache</td>
  <td>$tpl_check</td>
</tr>
<tr class=line>
  <td>动态查询数据缓存</td>
  <td>data/sql</td>
  <td>$sql_check</td>
</tr>
<tr class=line>
  <td>RSS文件缓存目录</td>
  <td>data/rss</td>
  <td>$rss_check</td>
</tr>
<tr class=line>
  <td>缓存资料保存目录</td>
  <td>data/cache</td>
  <td>$cache_check</td>
</tr>
</table>
</div>
<!--
EOT;
?>-->