<!--<?php
print <<<EOT
-->
<div class="m"></div>
<div class="t">
<table cellspacing=0 cellpadding=0>
<tr class=head><td>提示信息</td></tr>
<tr class="tr3"><td>
1.　为了保证后台的安全性,系统只允许论坛创始人和管理员删除操作日记<br />
2.　系统必须保留前100条后台管理日志.
</td></tr>
</table>
</div>

<form action="$basename" method="post">
<input type="hidden" name="action" value="search" />
<div class="t">
<table cellspacing=0 cellpadding=0>
<tr class=head><td>搜索</td></tr>
<tr class="tr3">
<td>关键字 <input class="input" type="text" name="keyword" />
<input type="submit" value='提 交' class="btn" value="$keyword"></td></tr>
</table>
</div></form>
<div class="t">
<table cellspacing=0 cellpadding=0>
<tr class=head><td colspan=7>管理日志</td></tr>
<tr class="tr2">
	<td width="5%">&nbsp;</td>
	<td width="10%">用户名</td>
	<td width="8%">错误密码</td>
	<td width="30%">操作日志</td>
	<td width="12%">IP</td>
	<td width="15%">操作时间</td>
	<td width="25%">其他</td>
</tr>
$adlogfor
</table>
</div>
<div class="pages">$pages</div>
<div class="sub">
<!--
EOT;
if($action=='search'){print <<<EOT
-->
<a href='$basename'>查看全部日志</a>
<!--
EOT;
}print <<<EOT
-->
<a href="$j_url">删除多余管理日志</a></div>
<!--
EOT;
?>-->