<!--<?php
print <<<EOT
-->
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">更新站点缓存</td>
    </tr>
<form action="$basename" method="post">
  <tr class="line">
    <td width="25%">更新首页
      <input name="action" type="hidden" id="action" value="homepage"></td>
    <td width="75%"><input type="submit" name="Submit" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td width="25%">更新栏目缓存
      <input name="action" type="hidden" id="action" value="cate"></td>
    <td width="75%"><input type="submit" name="Submit" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td width="25%">更新模板缓存
      <input name="action" type="hidden" id="action" value="template"></td>
    <td width="75%"><input type="submit" name="Submit" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td>更新模型缓存
      <input name="action" type="hidden" id="action" value="mod" /></td>
    <td><input type="submit" name="Submit2" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td>更新数据库查询缓存
      <input name="action" type="hidden" id="action" value="sql" /></td>
    <td><input type="submit" name="Submit2" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td>更新站点评论缓存
      <input name="action" type="hidden" id="action" value="comment" /></td>
    <td><input type="submit" name="Submit2" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td>更新整合数据缓存
		<input name="action" type="hidden" id="action" value="modconfig" /></td>
    <td><input type="submit" name="Submit2" value="点击更新" class="btn" /></td>
  </tr>
</form>
<form action="$basename" method="post">
  <tr class="line">
    <td width="25%">更新所有缓存
      <input name="action" type="hidden" id="action" value="all"></td>
    <td width="75%"><input type="submit" name="Submit" value="点击更新" class="btn" /></td>
  </tr>
</form>
</table>

</div>
<!--
EOT;
?>-->