<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMS - Powered by PHPWind.Net</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="style/admin/admin.css" rel="stylesheet" />
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="script/jquery.cms.js"></script>
</head>

<body>
<form action="$basename" method="post">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">修改创始人资料</td>
    </tr>
  <tr class="line">
    <td width="25%">创始人名称</td>
    <td width="75%"><input name="creator" type="text" class="txt" id="creator" value="$manager" /></td>
  </tr>
  <tr class="line">
    <td>创始人密码</td>
    <td><input name="creator_pwd" type="password" class="txt" id="creator_pwd" /> (如果留空则保持原创始人密码)</td>
  </tr>
  <tr class="line">
    <td>创始人密码确认</td>
    <td><input name="creator_pwd2" type="password" class="txt" id="creator_pwd2" /></td>
  </tr>
</table>
</div>
<div class="sub">
  <input name="step" type="hidden" id="step" value="2">
  <input type="submit" name="Submit" value=" 提 交 " class="btn">
</div>
</form>
</body>
</html>
<!--
EOT;
?>-->