<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMS - Powered by PHPWind.Net</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style/admin/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript">  
$(function () {
    $('.tabmenu a').mouseover(function () {
        $('.tabcontent').hide().filter(this.hash).show();
        
        $('.tabmenu a').removeClass('active');
        $(this).addClass('active');
        
        return false;
    }).filter(':first').mouseover();
});
</script>
</head>
<body>


<div class="header">
	<div class="dock">
		<ul>
			<li><a href="$sys[url]" title="站点首页" target="_blank">站点首页</a></li>
			<li><a href="javascript:pubIndex();" title="更新站点首页">更新首页</a></li>
			<li><a href="$admin_file?adminjob=login&action=out" title="Login out" target="_parent" onClick="return loginOut();">退出登录</a></li>
		</ul>
	</div>
	<h1 class="logo"><a href="$admin_file?adminjob=main" target="mainFrame">cms.manage</a></h1>
	<div id="navtab" class="tabs">
		<ul class="tabmenu">
<!--
EOT;
foreach ($menu_father as $key=>$val){
print <<<EOT
-->
			<li><a href="#$key">$val</a></li>
<!--
EOT;
}
print <<<EOT
-->
		</ul>

<!--
EOT;
foreach ($menu_father as $key=>$val){
print <<<EOT
-->
		<ul class="tabcontent" id="$key">
<!--
EOT;
foreach ($menu_child[$key] as $k=>$v){
print <<<EOT
-->
				<li><a href="$admin_file?adminjob=$k" target="mainFrame">$v</a></li>
<!--
EOT;
}
print <<<EOT
-->
		</ul>
<!--
EOT;
}
print <<<EOT
-->
	</div>
</div>

<!--
EOT;
?>-->