<!--<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CMS - Powered by PHPWind.Net</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style/admin/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery.tabber.js"></script>
<script type="text/javascript">  
$(function() {
	$("#navtab").tabber({
		tabs: '.tabMenu a',
		selectedClass: 'active',
		contents: '.tabContent',
		defaultTab: ':first',
		effect: 'none',
		effectSpeed: 'fast',
		eventName: 'mouseover'
	})
});
</script>
</head>
<body>


<div class="header">
	<h1 class="logo"><a href="#" onclick="$('.dock').toggle();">cms.manage</a></h1>
	<div class="dock">
		<ul>
			<li><a href="$sys[url]" title="站点首页" target="_blank">站点首页</a></li>
			<li><a href="javascript:pubIndex();" title="更新站点首页">更新首页</a></li>
			<li><a href="$admin_file?adminjob=login&action=out" target="_parent" onclick="return confirm('您确认要离开本管理系统么?');">退出登录</a></li>
		</ul>
	</div>
	<div id="navtab" class="tabs">
		<ul class="tabMenu">
<!--
EOT;
foreach ($menu_father as $key=>$val){
print <<<EOT
-->
			<li><a href="#$key">$val</a></li>
<!--
EOT;
}
print <<<EOT
-->
		</ul>

<!--
EOT;
foreach ($menu_father as $key=>$val){
print <<<EOT
-->
		<ul class="tabContent" id="$key">
<!--
EOT;
foreach ($menu_child[$key] as $k=>$v){
print <<<EOT
-->
				<li><a href="$admin_file?adminjob=$k" target="mainFrame">$v</a></li>
<!--
EOT;
}
print <<<EOT
-->
		</ul>
<!--
EOT;
}
print <<<EOT
-->
	</div>
</div>
</body>
</html>
<!--
EOT;
?>-->