<!--<?php
print <<<EOT
-->
<style>
.frameTop{
	background: url('images/admin/top_bg.png') top left no-repeat;
	background-color:#cfe2f6;
	height: 45px;
	min-width: 610px;
	width: 100%;
	margin: 0 auto;
}
.topLogo{
	float:left;
	height:45px;
	width:280px;
	background: url('images/admin/logo.png') top left no-repeat;
}
.nav{
	padding-top: 10px;
	float: right;
}
.nav a:link,
.nav a:visited,
.nav a:active,
.nav a:hover{
	float: left;
	display: block;
	padding: 6px 8px;
	margin: 0px 5px 0px 0px;
	color: #333;
	text-decoration: none;
}
.nav a:hover{
	color: white;
	background: #8cd6ff;
}
.navPanel{
	background: #8cd6ff url('images/admin/menu.png') top left repeat-x;
	line-height: 200%;
	border-top:1px #8cd6ff solid;
}
.innerNavPanel {
	margin: 0 auto;
	width: 800px;
}
.topButtons{
	line-height: 200%;
	white-space: nowrap;
	width: 100%; /* ie6 fix */
	overflow: hidden;
	border-left: 1px solid #8cd6ff;
}
.topButtons a:link,
.topButtons a:active,
.topButtons a:visited,
.topButtons a:hover
{
	float: left;
	display: block;
	padding: 4px 20px;
	color: #333;
	font-size:12px;
	text-decoration: none;
	border-right: 1px solid #8cd6ff;
	border-left: 1px solid #fff;
	background: #F4FBE1 url('images/admin/bg_btn.png');
}
.navActive{
	color: #395500;
	background: #8cd6ff url('images/admin/bg_btn_hover.png') top left repeat-x;
}
.topButtons a:hover
{
	color: #395500;
	background: #8cd6ff url('images/admin/bg_btn_hover.png') top left repeat-x;
}
.topImage {
	float:right;
	padding:5px 8px 5px 0;
	cursor:pointer
}
</style>
<div class="frameTop">
	<div class="nav">
		<a href="$very[url]" title="站点首页" target="_blank">站点首页</a>
		<a href="javascript:void(0);" title="更新站点首页" onClick="pubIndex();">更新首页</a>
		<a href="http://www.phpwind.net" title="Offical forum" target="_blank">官方论坛</a>
		<a href="$admin_file?adminjob=login&action=out" title="Login out" target="_parent" onClick="return loginOut();">退出登录</a>	</div>
	<div class="topLogo"></div>
</div>
<div class="navPanel">
<img src="images/admin/close.png" class="topImage" onClick="closeSys();" title="关闭本系统">
<img src="images/admin/fresh.png" class="topImage" onClick="parent.mainFrame.location.reload();" title="刷新主框架">
<img src="images/admin/back.png" class="topImage" onClick="parent.mainFrame.history.go(-1);" title="后退">
	<div class="innerNavPanel">
		<div class="topButtons">
		<a href="$admin_file?adminjob=main" target="mainFrame">管理首页</a>

<!--
EOT;
foreach($menu_father as $key=>$v){
print <<<EOT
-->
		<a href="javascript:void(0);" id='$key' onclick="ShowMenu('$key');">$v</a>
<!--
EOT;
}print <<<EOT
-->
		</div>
	</div>
</div>
<div style="position:absolute;padding:5px;top:10px; right:45%;border:#98b1c8 1px solid; background-color:#ffffe1; z-index:60; display:none" id="loadMsg"><img src="images/admin/loading.gif" align="absmiddle"/>&nbsp;<span id="spnMsg">数据加载中，请稍候.....  </span></div>
<script language="javascript" src="script/xhr.js"></script>
<script language="javascript">
function ShowMenu(nav){
	var left = parent.leftFrame;
	var main = parent.mainFrame;
	if(nav=='category'){
		left.location='$admin_file?adminjob=tree';
		main.location='$admin_file?adminjob=category';
	}else{
		if(left.document.URL=='http://$_SERVER[HTTP_HOST]$admin_file?adminjob=tree'){
			left.location='$admin_file?adminjob=left&nav='+nav;
		}else{
			var Show = left.Showmenu;
			left.nav = nav;
			Show();
		}
	}
}
function closeSys(){
	var msg = confirm('您确认要离开本管理系统么?');
	if(msg){
		parent.close();
	}else{
		return false;
	}
}
function loginOut(){
	var msg = confirm("确定要退出系统么？");
	if(!msg){
		return false;
	}
/*
	var out=new XHR('out');
	var url ='$admin_file?adminjob=login&action=out';
	out.get(url);
*/
}

function pubIndex () {
	var main = parent.mainFrame;
	var frontUrl = main.location;
	main.location = '$admin_file?adminjob=category&action=pubindex&front='+encodeURIComponent(frontUrl);
}
/*

function out(res){
	if(	res == 'ok'){
		SetCookie("Adminuser",'',0);
		parent.location.href = "$admin_file";
		//parent.location.reload();
		return false;
	}else{
		alert('数据异常，无法退出登录，请直接关闭网页');
	}
}
*/
</script>
<!--
EOT;
?>-->