<!--{template header}-->
<!--{if $_SGLOBAL['guidemode']}-->
<!--{template space_guide}-->
<!--{else}-->
<!--{template cp_header}-->
<!--{/if}-->

<script type="text/javascript">
	function sendEmailCheck() {
		var email = $('email').value;
		var passwd = $('password').value;
		var x = new Ajax();
		x.get('cp.php?ac=sendmail&op=sendcheck&email=' + email+'&pwd='+passwd, function(s){
			$('checkresult').innerHTML = s;
		});
	}
</script>
<form method="post" action="cp.php?ac=profile&ref" class="c_form">

<!--{if $_SCONFIG['realname']}-->
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>我的真实姓名</h2>
		<p>本站为实名网络，使用您的真实姓名可以让朋友更快的找到您，并可以与大家进行更好的交流。</p>
	</caption>
	<tr>
		<th style="width:10em;">登录用户名</th>
		<td>
			<!--{eval echo stripslashes($space['username']);}-->
			<p>登录用户名是您登录本站需要填写的帐号，请务必牢记。<p>
		</td>
	</tr>
	<tr>
		<th>真实姓名</th>
		<td>
		<!--{if $space[name] && empty($_GET['namechange'])}-->
		<span style="font-weight:bold;"><!--{eval echo stripslashes($space['name']);}--></span>
		<!--{if $_SCONFIG['namechange']}-->[<a href="cp.php?ac=profile&namechange=1">修改</a>]<!--{/if}-->
		<!--{if $space[namestatus]}-->[<font color="red">认证通过</font>]<!--{else}--><br>等待验证中，您目前将只能使用用户名，并且一些操作可能会受到限制<!--{/if}-->
		<input type="hidden" name="name" value="<!--{eval echo stripslashes($space['name']);}-->" />
		<!--{else}-->
		<!--{if $rncredit && $_GET['namechange']}--><img src="image/credit.gif" align="absmiddle"> 本操作需要支付积分 $rncredit 个，您现在的积分 $space[credit] 个。<br><!--{/if}-->
		<!--{if empty($_SCONFIG['namechange'])}-->您的真实姓名一经确认，将不再允许再次修改，请真实填写。<br><!--{/if}-->
		<!--{if $_SCONFIG['namecheck']}-->您填写/修改真实姓名后，需要等待我们认证后才能有效，在认证通过之前，您将只能使用用户名，并且一些操作可能会受到限制。<br><!--{/if}-->
		<input type="text" id="name" name="name" value="<!--{eval echo stripslashes($space['name']);}-->" class="t_input" /> (请输入2～5个汉字)
		<!--{/if}-->
		</td>
	</tr>
</table>
<!--{/if}-->	

<table cellspacing="0" cellpadding="0" class="formtable">
<caption>
	<h2>个人资料</h2>
	<p>填写完整准确的个人资料，可以让更多的朋友找到您。</p>
</caption>
<!--{if !$_SCONFIG['realname']}-->
<tr>
	<th style="width:10em;">姓名</th>
	<td>
		<input type="text" id="name" name="name" value="<!--{eval echo stripslashes($space['name']);}-->" class="t_input" />
	</td>
</tr>
<!--{/if}-->
<tr>
	<th style="width:10em;">性别</th>
	<td>
	<!--{if empty($space[sex])}-->
		<label for="sexm"><input id="sexm" type="radio" value="1" name="sex"$sexarr[1] />男</label> 
		<label for="sexw"><input id="sexw" type="radio" value="2" name="sex"$sexarr[2] />女</label>
		<span style="font-weight:bold;color:red;">(性别选择确定后，将不能再次修改)</span>
	<!--{else}-->
		<!--{if $space[sex]==1}-->男<!--{else}-->女<!--{/if}-->
	<!--{/if}-->
	</td>
</tr>
<tr>
	<th style="width:10em;">婚恋状态</th>
	<td>
		<select id="marry" name="marry">
			<option value="0">无</option>
			<option value="1"$marryarr[1]>单身</option>
			<option value="2"$marryarr[2]>非单身</option>
		</select>
	</td>
</tr>

<tr>
	<th>生日</th>
	<td>
		<select id="birthyear" name="birthyear">
			<option value="0">无</option>
			$birthyeayhtml
		</select> 年 
		<select id="birthmonth" name="birthmonth">
			<option value="0">无</option>
			$birthmonthhtml
		</select> 月 
		<select id="birthday" name="birthday">
			<option value="0">无</option>
			$birthdayhtml
		</select> 日
	</td>
</tr>
<tr>
	<th>血型</th>
	<td>
		<select id="blood" name="blood">
			<option value="">保密</option>
			$bloodhtml
		</select>
	</td>
</tr>

<tr>
	<th>家乡</th>
	<td>
		<script type="text/javascript" src="script/city.js"></script>
		<script type="text/javascript">
		<!--
		showprovince('birthprovince', 'birthcity', '$space[birthprovince]');
		showcity('birthcity', '$space[birthcity]', 'birthprovince');
		
		//-->
		</script>
	</td>
</tr>
<tr>
	<th>居住地</th>
	<td>
		<script type="text/javascript">
		<!--
		showprovince('resideprovince', 'residecity', '$space[resideprovince]');
		showcity('residecity', '$space[residecity]', 'resideprovince');
		//-->
		</script>
	</td>
</tr>
<tr>
	<th>QQ</th>
	<td>
		<input type="text" class="t_input" name="qq" value="$space[qq]" /> 
	</td>
</tr>
<tr>
	<th>MSN</th>
	<td>
		<input type="text" class="t_input" name="msn" value="$space[msn]" /> 
	</td>
</tr>

<!--{loop $profilefields $value}-->
<tr>
	<th>$value[title]<!--{if $value[required]}-->*<!--{/if}--></th>
	<td>
		$value[formhtml]
		<!--{if $value[note]}--> <span class="gray">$value[note]</span><!--{/if}-->
	</td>
</tr>
<!--{/loop}-->

<!--{if $_SGLOBAL['guidemode']}-->
</table>
<br>
<table cellspacing="0" cellpadding="0" class="formtable">
<tr>
	<td><a href="space.php?do=home&view=guide&step=1">返回</a></td>
	<td align="center">
	<input type="hidden" name="guidemode" value="1">
	<input type="submit" name="profilesubmit" value="下一步" class="submit" />
	</td>
	<td align="right"><a href="space.php?do=home&view=guide&step=3">跳过&gt;&gt;</a></td>
</tr>
<!--{else}-->
<tr>
	<th>&nbsp;</th>
	<td><input type="submit" name="profilesubmit" value="提交" class="submit" /></td>
</tr>
<!--{/if}-->
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
<!--{template footer}-->