<!--{template header}-->
<!--{template cp_header}-->

<div class="c_form">
	<form method="post" action="cp.php?ac=password&op=">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>我的常用邮箱</h2>
			<p>您填写的邮箱是保密的，取回密码、邮件通知等都将发送到该邮箱。</p>
		</caption>
		<!--{if $space['emailcheck'] && empty($_GET['emailchange'])}-->
		<tr>
			<th width="100">常用邮箱</th>
			<td>
				$space[email] [邮箱已经验证激活] [<a href="cp.php?ac=password&emailchange=1">重新验证</a>]
			</td>
		</tr>	
		<!--{else}-->
		<!--{if empty($space['emailcheck'])}-->
		<tr>
			<th width="100">&nbsp;</th>
			<td>
			<span style="color:blue;">您的邮箱还没有通过验证。<br>为了您的账号安全，请输入您的登录密码和真实的邮箱地址，进行邮箱验证。</span></td>
		</tr>
		<!--{/if}-->
		<tr>
			<th width="100">登录密码</th>
			<td>
				<input type="password" id="password" name="password" value="" class="t_input" />
			</td>
		</tr>
		<tr>
			<th width="100">真实邮箱</th>
			<td>
				<input type="text" id="email" class="t_input" name="email" value="$space[email]" />
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="emailchecksubmit" value="验证邮箱" class="submit" /></td>
		</tr>
		<!--{/if}-->
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	
	<form method="post" action="cp.php?ac=password&op=">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>我的登录密码</h2>
		</caption>
		<tr>
			<th width="100">登录用户名</th>
			<td>$space[username]</td>
		</tr>
		<tr>
			<th width="100">旧密码</th>
			<td><input type="password" id="password" name="password" value="" class="t_input" /></td>
		</tr>
		<tr>
			<th>新密码</th>
			<td><input type="password" id="newpasswd1" name="newpasswd1" value="" class="t_input"></td>
		</tr>
		<tr>
			<th>确认新密码</th>
			<td><input type="password" id="newpasswd2" name="newpasswd2" value="" class="t_input"></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="pwdsubmit" value="修改密码" class="submit" /></td>
		</tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{template footer}-->