<!--{eval $_TPL['titles'] = array('日志');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<div class="searchbar">
<form method="get" action="network.php">
	<input name="key" value="" size="26" class="t_input" type="text">
	<input name="searchsubmit" value="搜索日志" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<!--{if $_GET[view]=='me'}-->
	<input type="hidden" name="username" value="$space[username]" />
	<!--{/if}-->
	<input type="hidden" name="ac" value="blog" />
</form>
</div>
<h2 class="title"><img src="image/app/blog.gif" />日志</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=$do"><span>好友最新日志</span></a></li><!--{/if}-->
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的日志</span></a></li>
		<li$actives[trace]><a href="space.php?uid=$space[uid]&do=$do&view=trace"><span>我踩过的日志</span></a></li>
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>大家的日志</span></a></li>
		<li class="null"><a href="cp.php?ac=blog">发表新日志</a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "日志";
}-->
<!--{template space_menu}-->
<!--{/if}-->


<div id="content" style="width:640px;">
	<!--{if $count}-->
	<div class="entry_list">
		<ul>
		<!--{loop $list $value}-->
			<li>	
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="{$_SN[$value[uid]]}" class="avatar" /></a></div>
				<div class="title">
					<a href="cp.php?ac=share&type=blog&id=$value[blogid]" id="a_share_$value[blogid]" onclick="ajaxmenu(event, this.id, 99999,'' , -1)" class="a_share">分享</a>
					<h4><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]">$value[subject]</a></h4>
					<div>
				<!--{if $value['friend']}-->
					<span class="r_option locked gray">
					<a href="$theurl&friend=$value[friend]" class="gray">
					<!--{if $value['friend'] == 1}-->仅好友可见
					<!--{elseif $value['friend'] == 2}-->指定好友可见
					<!--{elseif $value['friend'] == 3}-->仅自己可见
					<!--{elseif $value['friend'] == 4}-->凭密码可见<!--{/if}-->
					</a>
					</span>
				<!--{/if}-->
					<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a> <span class="time"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
					</div>
				</div>
				<div class="detail image_right l_text s_clear" id="blog_article_$value[blogid]">
					<!--{if $value[pic]}--><p class="image"><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]"><img src="$value[pic]" alt="$value[subject]" /></a></p><!--{/if}-->
					$value[message]
				</div>
				<div class="status">
					<!--{if $classarr[$value[classid]]}-->分类: <a href="space.php?uid=$value[uid]&do=blog&classid=$value[classid]">{$classarr[$value[classid]]}</a><span class="pipe">|</span><!--{/if}-->
					<!--{if $value[viewnum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]">$value[viewnum] 次阅读</a><span class="pipe">|</span><!--{/if}-->
					<!--{if $value[replynum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]#comment">$value[replynum] 个评论</a><!--{else}-->没有评论<!--{/if}-->
				</div>
			</li>
		<!--{/loop}-->
			
		<!--{if $pricount}-->
		<li>
			<div class="title">本页有 $pricount 篇日志因作者的隐私设置而隐藏</div>
		</li>
		<!--{/if}-->
	
		</ul>
	</div>
	
	<div class="page">$multi</div>
	
	<!--{else}-->
	<div class="c_form">还没有相关的日志。</div>
	<!--{/if}-->

</div>

<div id="sidebar" style="width:150px;">
	
	<!--{if $_GET['view']=='me'}-->
	<!--{if $classarr}-->
	<div class="cat">
	<h3>日志分类</h3>
	<ul class="post_list line_list">
		<li<!--{if !$_GET[classid]}--> class="current"<!--{/if}-->><a href="space.php?uid=$space[uid]&do=blog&view=me">全部日志</a></li>
		<!--{loop $classarr $classid $classname}-->
		<li<!--{if $_GET[classid]==$classid}--> class="current"<!--{/if}-->>
			<a href="space.php?uid=$space[uid]&do=blog&classid=$classid">$classname</a>
			<!--{if $space[self]}-->
				<a href="cp.php?ac=class&op=edit&classid=$classid" id="c_edit_$classid" onclick="ajaxmenu(event, this.id, 99999)" class="c_edit">编辑</a>
				<a href="cp.php?ac=class&op=delete&classid=$classid" id="c_delete_$classid" onclick="ajaxmenu(event, this.id, 99999)" class="c_delete">删除</a>
			<!--{/if}-->
		</li>
		<!--{/loop}-->
	</ul>
	</div>
	<!--{/if}-->
	<!--{elseif $userlist}-->
	<div class="cat">
	<h3>按作者查看</h3>
	<ul class="post_list line_list">
		<!--{loop $userlist $uid $username}-->
		<li><a href="space.php?uid=$uid&do=blog&view=me">$_SN[$uid]</a></li>
		<!--{/loop}-->
	</ul>
	</div>
	<!--{/if}-->
	
</div>
	
<!--{template footer}-->