<!--{eval $_TPL['titles'] = array('留言');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<h2 class="title"><img src="image/icon/wall.gif">留言板</h2>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "留言";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<div class="box_action">
	<h2 class="title l_status">给<!--{if $space[self]}-->自己<!--{else}-->{$_SN[$space[uid]]}<!--{/if}-->留言</h2>
</div>
<div class="space_wall_post">
	<form action="cp.php?ac=comment" id="commentform_{$space[uid]}" name="commentform_{$space[uid]}" method="post">
		<a href="###" id="message_face" onclick="showFace(this.id, 'comment_message');"><img src="image/facelist.gif" align="absmiddle" /></a><br>
		<textarea name="message" id="comment_message" rows="5" cols="60" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea>
		<input type="hidden" name="refer" value="space.php?uid=$space[uid]" />
		<input type="hidden" name="id" value="$space[uid]" />
		<input type="hidden" name="idtype" value="uid" />
		<input type="hidden" name="commentsubmit" value="true" />
		<br>
		<input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="submit" value="留言" onclick="ajaxpost('commentform_{$space[uid]}', 'comment_status', 'wall_add')" />
		<span id="comment_status"></span>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>
<br>
<div class="comments_list" id="comment">

	<!--{if $cid}-->
	<div class="notice">
		当前只显示与你操作相关的单个留言，<a href="space.php?uid=$space[uid]&do=wall">点击此处查看全部留言</a>
	</div>
	<!--{/if}-->

	<ul id="comment_ul">
	<!--{loop $list $value}-->
		<!--{template space_comment_li}-->
	<!--{/loop}-->
	</ul>
</div>
<div class="page">$multi</div>

<!--{template footer}-->