<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{king:keywords/}" />
<meta name="description" content="{king:description/}" />
<title>{king:title/} - Powered by KingCMS for PHP</title>
<link href="../style/global.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="toolbar">
	<div class="inner">
		<div class="left">
				{king:portal.menu3}
				<a href="{king:listpath/}">{king:listname/}</a>
				{/king:portal.menu3}
		</div>
		<div class="right">
				{king:user.state id="userstat"}
				<a href="#" class="k_user_login">登录</a>
				<a href="#" class="k_user_register">注册</a>
				{?king:user.state}
				你好，<em title="{king:userid/}">{king:username/}</em><span class="pipe">|</span><a href="{const:system.inst/}user/index.php">用户中心</a><span class="pipe">|</span><a href="#" class="k_user_logout">退出</a>
				{/king:user.state}
		</div>
	</div>
</div>
<div id="wrap">
	<div id="header">
		<h1><a href="{const:system.siteurl/}{const:system.inst/}"><img src="../images/logo.png"/></a></h1>

		<div class="search">
			<form>
			<input class="search_txt" type="text" />
			<input class="search_btn" type="submit" />
			</form>
		</div>
		<div class="banner"><a href="#"><img src="../images/banner.png"/></a></div>

		<div id="navigation">
			<ul class="main">
				<li class="blog"><a href="#">博客</a></li>
				<li class="photo"><a href="#">图片</a></li>
				<li class="group"><a href="#">圈子</a></li>
				<li class="doing"><a href="#">嘀咕</a></li>
			</ul>
			<ul class="channel">
				<li><a href="#">电影</a></li>
				<li><a href="#">娱乐</a></li>
				<li><a href="#">音乐</a></li>
				<li><a href="#">游戏</a></li>
				<li><a href="#">读书</a></li>
				<li><a href="#">时尚</a></li>
				<li><a href="#">旅游</a></li>
				<li><a href="#">汽车</a></li>
				<li><a href="#">科技</a></li>
				<li><a href="#">体育</a></li>
				<li><a href="#">游戏</a></li>
				<li><a href="#">动漫</a></li>
				<li><a href="#">女人</a></li>
				<li><a href="#">教育</a></li>
				<li class="last"><a href="#">电影</a></li>
			</ul>
		</div>
	</div>




<div id="nav">
	<a href="{config:system.siteurl/}{config:system.inst/}">{config:system.sitename/}</a> / {king:nav line="/" /}
</div>

<div id="container">
	<h4 class="title">{king:title/}</h4>
	{king:inside/}
</div>

<div id="footer">
	<span class="block fl w500 left">
		<a href="#">栏目1</a>
		<a href="#">栏目1</a>
		<a href="#">栏目1</a>
		{king:menu3 line="|"/}

		{king:menu/}
	</span>
	<span class="block fl right">
		&copy 2004-2009 KingCMS.com All rights reserved.<br/>
		{config:system.info/} {config:system.beian/}
	</span>
</div>


</body>
</html>