<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{king:keywords/}" />
<meta name="description" content="{king:description/}" />
<title>{king:title/} {king:config.system.sitename/}</title>
<link type="text/css" href="/style/global.css" rel="stylesheet" />
<script type="text/javascript" src="/script/jquery.js"></script>
<script type="text/javascript" src="/system/js/jquery.kc.js"></script>
<script type="text/javascript" src="/script/common.js"></script>
</head>
<body>

<div id="toolbar">
	<div class="inner">
		<div class="left">
				{king:portal.menu3}
				<a href="{king:listpath/}">{king:listname/}</a>
				{/king:portal.menu3}
		</div>
		<div class="right">
				{king:user.state id="userstat"}
				<a href="#" class="k_user_login">登录</a>
				<a href="#" class="k_user_register">注册</a>
				{?king:user.state}
				你好，<em title="{king:userid/}">{king:username/}</em><span class="pipe">|</span><a href="{const:system.inst/}user/index.php">用户中心</a><span class="pipe">|</span><a href="#" class="k_user_logout">退出</a>
				{/king:user.state}
		</div>
	</div>
</div>
<div id="wrap">
	<div id="header">
		<h1><a href="/"><img src="../images/logo.png"/></a></h1>

		<div class="search">
			<form>
			<input class="search_txt" type="text" />
			<input class="search_btn" type="submit" />
			</form>
		</div>
		<div class="banner"><a href="#"><img src="../images/banner.png"/></a></div>

		<div id="navigation">
			<ul class="main">
				<li class="blog"><a href="#">博客</a></li>
				<li class="photo"><a href="#">图片</a></li>
				<li class="group"><a href="#">圈子</a></li>
				<li class="doing"><a href="#">嘀咕</a></li>
			</ul>
			<ul class="channel">
				{king:portal.list listid1='0'}
				<li><a href="{king:listpath/}">{king:listname/}</a></li>
				{/king:portal.list}
				<li class="last"><a href="#">商机</a></li>
			</ul>
		</div>
	</div>

	<div id="container">
		{king:inside/}
	</div>

	<div id="footer">
			&copy; 2009 <em>LUDOU</em>
			{king:portal.menu3 line="<span class='pipe'>|</span>"}
				<a href="{king:listpath/}">{king:listname/}</a>
			{/king:portal.menu3}
	</div>
</div>

</body>
</html>