<!--<?php
print <<<EOT
-->
<div class="m"></div>
<div class="t">
<table cellspacing="0" cellpadding="0">
	<tr class="tr4">
	  <td><input type="button" name="Submit5" value="添加导航" class="btn" onclick="window.location='$basename&job=add';"/>
	  <input type="button" name="Submit6" value="头部导航栏" class="btn" onclick="window.location='$basename&job=viewhead';"/>
	  <input type="button" name="Submit7" value="底部导航栏" class="btn" onclick="window.location='$basename&job=viewfoot';"/>
	  <input type="button" name="Submit8" value="更新缓存" class="btn" onclick="window.location='$basename&action=navcache';"/>
	  <input type="button" name="Submit9" value="模板接口" class="btn" onclick="window.location='$basename&job=tplapi';"/>
	 </td>
	</tr>
</table>
</div>
<!--
EOT;
if($job=="tplapi"){
print <<<EOT
-->
<div class="t">
<table cellspacing="0" cellpadding="0">
  <tr class="head"><td colspan="2">模板调用接口</td></tr>
	<tr class="tr3">
	  <td width="20%">第一种站点常量调用</td>
    <td>头部导航栏
    <input type="text" name="ifapi1" value="&lt;sys name=&quot;const&quot; value=&quot;EXT_navhead&quot; /&gt;" class="txt" size="70" /><br />
    底部导航栏
    <input type="text" name="ifapi2" value="&lt;sys name=&quot;const&quot; value=&quot;EXT_navfoot&quot; /&gt;" class="txt" size="70" />
    </td>
	</tr>
	<tr class="tr3">
	  <td width="20%">第二种JAVASCRIPT调用</td>
    <td>头部导航栏
    <textarea rows="5" cols="70">&lt;script language=&quot;javascript&quot; src=&quot;script/cms/nav_head.js&quot;&gt;&lt;/script&gt</textarea><br />
    底部导航栏
    <textarea rows="5" cols="70">&lt;script language=&quot;javascript&quot; src=&quot;script/cms/nav_foot.js&quot;&gt;&lt;/script&gt;</textarea>
    </td>
	</tr>

</table>
</div>
<!--
EOT;
}elseif(!$job || $job=="add" || $job=="edit"){
print <<<EOT
-->
<form action="$basename" method="post">
<div class="t">
<table cellspacing="0" cellpadding="0">
	<tr class="head">
	  <td colspan="2">导航自定义</td>
	</tr>
	<tr class="line">
	  <td width="20%">栏目名称</td>
	  <td width="80%"><input name="title" type="text" class="txt"  id="title" value="$title"></td>
  </tr>
	<tr class="line">
	  <td>字体样式</td>
	  <td><select name="color" id="color">
	    <option value="" selected>标题颜色</option>
$color_select</select>
	    <input name="b" type="checkbox" id="b" value="1" $b_check>
	    粗体
	    <input name="ii" type="checkbox" id="ii" value="1" $i_check>
	    斜体
	    <input name="u" type="checkbox" id="u" value="1" $u_check>
	    下划线</td>
  </tr>
	<tr class="line">
	  <td>栏目链接</td>
	  <td><input name="link" type="text" class="txt"  id="link" value="$link" size="50">
      （如果是外部链接，要加http://）</td>
  </tr>
	<tr class="line">
	  <td>文字说明</td>
	  <td><input name="alt" type="text" class="txt"  id="alt" value="$alt">
      （鼠标悬浮于链接文字上时的说明内容）</td>
  </tr>
	<tr class="line">
	  <td>打开方式</td>
	  <td><input type="radio" name="target" value="0" $tar_check_N />
	    本窗口
        <input type="radio" name="target" value="1" $tar_check_Y />
        新窗口</td>
	  </tr>
	<tr class="line">
	  <td>栏目类型</td>
	  <td><input type="radio" name="pos" value="head" $head_check />
	    头部导航
        <input type="radio" name="pos" value="foot" $foot_check />
        底部导航</td>
  </tr>
	<tr class="line">
	  <td>位置排序</td>
      <td><input name="view" type="text" class="txt"  id="view" value="$view" size="5" /></td>
  </tr>
</table>
</div>
<div style="text-align:center"><input name="nid" type="hidden" id="nid" value="$nid" />
	<input name="action" type="hidden" id="action" value="$actionvalue">
	  <input type="submit" class="btn" name="submit" value="提交"></div>
</form>
<!--
EOT;
}elseif($job=="viewhead" || $job=="viewfoot"){
print <<<EOT
-->
<form action="$basename" method="post">
<div class="t">
<table cellspacing="0" cellpadding="0">
	<tr class="head">
	  <td colspan="4">自定义导航列表</td>
	</tr>
	<tr class="tr2">
	  <td>编号</td>
	  <td>链接预览</td>
	  <td>排序</td>
	  <td>操作</td>
	</tr>
<!--
EOT;
$i=0;
foreach($nav as $n){
$i++;
print <<<EOT
-->
<tr class="tr3">
	  <td>$i</td>
	  <td><a href="$n[link]" target="_blank" title="$n[alt]">$n[title]</a></td>
	  <td><input name="view[$n[nid]]" type="text" class="txt"  id="view[$n[nid]]" value="$n[view]" size="5" /></td>
	  <td><a href="$basename&action=del&nid=$n[nid]"><img src="images/admin/delete.gif" alt="删除" width="16" height="16" align="absmiddle" /></a> <a href="$basename&job=edit&nid=$n[nid]"><img src="images/admin/edit.gif" alt="编辑" width="16" height="16" align="absmiddle" /></a></td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<div style="text-align:center">
<input name="action" type="hidden" id="action" value="editview" />
<input type="submit" class="btn" name="Submit2" value="提交" /></div>
</form>
<!--
EOT;
}?>-->