<!--<?php
print <<<EOT
-->
<div class="m"></div>
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">投稿使用说明</td>
  </tr>
  <tr class="line">
    <td>前台投稿链接</td>
	<td>extensions.php?E_name=contribute<br />可以用自定义导航栏添加此链接，或者将此链接放到前台模板里面</td>
  </tr>
</table>
</div>
<form action="$basename" method="post" name="form">
<div class="t">
<input type="hidden" id="step" name="step" value="2" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">投稿设置</td>
  </tr>
  <tr class="line">
    <td>
      投稿页标题
    </td>
    <td>
      <input name="title" type="text" class="txt" id="title" value="$contribute[title]" size="30" />
    </td>
  </tr>
  <tr class="line">
    <td>
      投稿页说明
    </td>
    <td>
		<textarea name="intro" id="intro" cols="120" rows="40" class="wysiwyg">$contribute[intro]</textarea>
    </td>
  </tr>
  <tr class="line">
    <td>
      请选择支持投稿的栏目
    </td>
    <td>
      <select name="discate[]" size="5" multiple id="discate">
      $cate_select
	  </select>
	  (按住Ctrl键进行多选操作)
    </td>
  </tr>
  <tr class="line">
    <td>
      投搞文章是否需要审核
    </td>
    <td>
		<input type="radio" name="checkcontribute" value="1" $checkcontribute_Y />是
		<input type="radio" name="checkcontribute" value="0" $checkcontribute_N />否
    </td>
  </tr>
  <tr class="line">
    <td>
      是否开启验证码
    </td>
    <td>
		<input type="radio" name="ckcontribute" value="1" $ckcontribute_Y />开启
		<input type="radio" name="ckcontribute" value="0" $ckcontribute_N />关闭
    </td>
  </tr>
</table>
</div>
<div class="sub">
  <input type="submit" name="submit" id="submit" value="提 交" class="btn" />
  <input type="reset" name="reset" id="reset" value="重 置" class="btn" />
</div>
</form>

<!--
EOT;
?>-->