<!--# include Template('header');#-->

<style type="text/css">
.thread-t-d{ line-height:200%;}
.themeimg span{ cursor:pointer}

#box-ctb-list{ width:360px; position:absolute ; padding:.3em .5em; margin:0; border:1px solid #ACADA6; border-top-color:#E5E6E0; border-left-color:#E5E6E0; background:#FDFEF1; }
#box-ctb-list h5{ border-bottom:1px solid #D5D5D5; font-size:14px; font-weight:100; line-height:160%}
#box-ctb-list ul{ float:left; padding:.5em 0}
#box-ctb-list ul li{ padding-right:2em; float:left; width:30%; padding-right:3%; height:24px; line-height:24px; overflow:hidden}
#box-ctb-list ul li a{ color:#5998CB; padding:2px}
#box-ctb-list ul li a:hover{ background:#5998CB;color:#fff; text-decoration:none}



</style>

<div class="main">

	<div class="area-3">
		<div class="area-3-bot">
			<div class="thread-content">
			
				<div class="box710">
					<div class="box710b">
						<div class="box710t">
<!--#if(!$action){#-->
							<div class="content">
								<div class="thread-t">
									<h1>$contribute[title]</h1>
									<div class="thread-t-d">
									　　$contribute[intro]
									</div>
								</div>
							</div>
							<div class="side">
<script language="javascript">
function  show(id) {
	var showobj=document.getElementById(id);
	if (showobj.style.display=='') {
		showobj.style.display='none';
	}else {
		showobj.style.display='';
	}

}
</script>							
								<div class="themeimg"><span><img src="images/tougaobt.gif" onclick="show('box-ctb-list')" /></span></div>
								
								<div id="box-ctb-list" style="display:none">
								
								<h5>选择投稿板块</h5>
								
								<ul>
	<!--#
	foreach($contribute[cids] as $cid=>$value){
	#-->
	<li><a href="$value[contributeurl]">{$value[cname]}</a></li>
	<!--#}#-->
								
								</ul>
								</div>
							</div>
<!--#}elseif($action=='refer'){#-->
<form action="$basename" method="post" name="form">
<div class="thread-t">
<table border="0" cellspacing="0" cellpadding="0" style="margin:2em auto 1em; width:80%;">
<!--#foreach($inputArea as $value){#-->
<tr class="line">
    <td style="vertical-align:top; padding:.5em">$value[fieldname] </td>
    <td style="vertical-align:top; padding:.5em">$value[input]</td>
</tr>
<!--#}#-->
</table>

<div style="width:80%;margin:0 auto 2em;text-align:center">
<!--#if($contribute[ckcontribute]){#-->
			<img id="cknum" src="ck.php" onclick="javascript:var nowtime	 = new Date().getTime();this.src='ck.php?nowtime='+nowtime;" style="cursor:pointer" align="absmiddle" /> <input name="ck" id="ck" size="7" value="验证码" onfocus="this.value='';" /><br />
<!--#}#-->
<input name="action" type="hidden" id="action" value="$action" />
<input name="step" type="hidden" id="step" value="2" />
<input name="cid" type="hidden" id="cid" value="$cid" />
<input type="submit" name="Submit" value="提交" class="btn" />
<input type="reset" name="Submit2" value="重置" class="btn" />
</div>
</div>
</form>
<!--#}#-->
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="thread-side left">

				<div class="box230">
					<div class="box230b">
						<div class="box230t">
							<h3>站点最新贴</h3>
							<ul class="list">
<cms action="thread" return="LIST" mid="{@MID_news@}" num="10" order="postdate desc" />
<loop name="LIST" value="val">
                <li><a href="{$val[url]}" target="_blank" style="{$val[titlestyle]}">{@substrs($val[title],32)@}</a></li>
</loop>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			
			

</div></div>

</div>
<script language="javascript">

function selectValue(inputname,value){
	if(value!=''){
		document.getElementById(inputname).value=value;
	}
}

</script>
<!--# include Template('foot');#-->