<!--<?php
print <<<EOT
-->
<div class="m"></div>
<form action="$basename" method="post" name="FORM1">
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="tr4">
    <td>
		<select name="key" id="key" onchange="window.location='$basename&key='+this.value;">
			<option value="0" $key_0>全部</option>
			<option value="1" $key_1>进行中</option>
			<option value="2" $key_2>已经结束</option>
			<option value="3" $key_3>未开始</option>
		</select>
		<input type="submit" name="Submit5" value="查看调查" class="btn" />
		<input type="button" name="Submit4" value="添加调查" class="btn" onclick="window.location='$basename&action=add';"/>
    <input type="button" name="Submit6" value="模板接口" class="btn" onclick="window.location='$basename&action=tplapi';"/>
    </td>
  </tr>
</table>
</div>
</form>
<!--
EOT;
if($action=='show'){
print <<<EOT
-->
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="7">站点调查管理</td>
  </tr>
  <tr class="tr2">
    <td width="10%">序号</td>
    <td>调查课题</td>
    <td width="7%">标识符</td>
    <td width="7%">总票数</td>
		<td width="10%">开始日期</td>
    <td width="10%">结束日期</td>
    <td width="20%">操作</td>
  </tr>
<!--
EOT;
foreach($polldb as $key=>$value){
print <<<EOT
-->
  <tr class="line">
    <td>$value[id]</td>
    <td>$value[subject]</td>
    <td>$value[mark]</td>
    <td>$value[stats]</td>
		<td>$value[stime]</td>
    <td>$value[etime]</td>
    <td>
			<a href="$basename&action=view&id=$value[id]">查看</a>
			<a href="$basename&action=edit&id=$value[id]">编辑</a>
			<a href="$basename&action=gethtml&id=$value[id]">获取代码</a>
			<a href="javascript:void(0)" onclick="del($value[id]);">删除</a></td>
		</td>
  </tr>
<!--
EOT;
}print <<<EOT
-->
</table>
</div>
<script language="javascript">
function del(id){
	var msg = confirm("您确定要删除此调查？");
	if(msg){
		window.location='$basename&action=del&id='+id;
		window.location.reload();
	}else{
		return false;
	}
}
</script>
<!--
EOT;
}elseif($action=='add' || $action == 'edit'){
print <<<EOT
-->
<form action="$basename" method="post" name="FORM">
<input type="hidden" name="action" value="$action" />
<input type="hidden" name="step" value="2" />
<input type="hidden" name="poll[id]" value="$id" />
<div class="t">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="head">
    <td colspan="2">添加或编辑调查课题</td>
  </tr>
  <tr class="line">
    <td width="20%">调查标题</td>
		<td><input id="subject" name="poll[subject]" value="$subject" class="input" size="70" /></td>
  </tr>
	<tr class="line">
		<td>标识符</td>
		<td><input id="mark" name="poll[mark]" value="$mark" class="input" size="20" />
      <select name="mid" id="mid" onchange="document.FORM.mark.value=this.value;">
				<option value="">默认标识符</option>
				<option value="index">首页调查</option>
			</select>
		</td>
	</tr>
	<tr class="line">
		<td>调查类型</td>
		<td>
		<input value="1" name="poll[ismulti]" class="input" type="checkbox" $ismulti_Y />
		多选
		<input value="1" name="poll[longtime]" class="input" type="checkbox" $longtime />
		长期有效<br />
		开始时间 － 结束时间
		<input type="text" name="poll[stime]" id="stime" value="$stime" size="20" class="input" onClick="ShowCalendar(this.id);" />
		&nbsp;－&nbsp;
		<input type="text" name="poll[etime]" id="etime" value="$etime" size="20" class="input" onClick="ShowCalendar(this.id);" /></td>
	</tr>

  <tr class="line">
    <td>调查简介</td>
		<td><textarea name="poll[content]" cols="70" rows="3" class="input" id="content" wrap="soft">$content</textarea></td>
  </tr>
  <tr class="line">
    <td>调查选项</td>
		<td><textarea name="poll[options]" cols="70" rows="6" class="input" id="options" wrap="soft">$options</textarea>
		<p>注：一行一选项。已经开始调查投票后，调整选项顺序会影响原有的投票结果</p></td>
  </tr>
</table>
</div>
<div class="sub">
	<input type="submit" id="submit1" name="submit1" class="btn" value="提 交" />
	<input type="reset" id="reset1" name="reset1" class="btn" value="重 置" />
</div>
</form>
<script language="javascript" src="script/date.js"></script>
<!--
EOT;
}elseif($action=='view'){
print <<<EOT
-->
<div class="t" style="width:80%">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr class="head">
			<td colspan="5">$subject</td>
		</tr>
		<tr class="tr2">
			<td colspan="5"><p>$content</p></td>
		</tr>
		<tr class="line t_two">
			<td width="60%">选项名称</td>
			<td width="10%">投票数</td>
			<td width="10%">百分比</td>
			<td width="20%"></td>
		</tr>
<!--
EOT;
$i = 0;
foreach($options as $k=>$v){
$i++;
$p = round($v[stats]/$stats,4)*100;
print <<<EOT
-->
		<tr class="tr3">
			<td><b>$i</b>&nbsp;&nbsp;&nbsp;$v[value]</td>
			<td>$v[stats]</td>
			<td>$p%</td>
			<td><img src="$ext_imgpath/bar1.gif" width="$p%" height="10" /></td>
		</tr>
<!--
EOT;
}print <<<EOT
-->
	</table>
</div>
<!--
EOT;
}elseif($action == 'tplapi'){
print <<<EOT
-->
<div class="t">
<table cellspacing="0" cellpadding="0">
  <tr class="head"><td colspan="2">模板调用接口</td></tr>
	<tr class="tr3">
	  <td width="20%">JAVASCRIPT调用</td>
    <td>单一ID调查显示
    <textarea rows="5" cols="70">&lt;script language=&quot;javascript&quot; src=&quot;extensions.php?E_name=$E_name&id=调查ID号&quot;&gt;&lt;/script&gt</textarea><br />
    标识符调查显示
    <textarea rows="5" cols="70">&lt;script language=&quot;javascript&quot; src=&quot;extensions.php?E_name=$E_name&mark=标识符&quot;&gt;&lt;/script&gt;</textarea>
    </td>
	</tr>
</table>
</div>
<!--
EOT;
}elseif($action == 'gethtml'){
print <<<EOT
-->
<div class="t">
<table cellspacing="0" cellpadding="0">
  <tr class="head"><td colspan="2">在主页模板中使用的标记：</td></tr>
	<tr>
		<td>javascript代码</td>
		<td><textarea rows="5" cols="70">$jsresult</textarea></td>
	</tr>
	<tr>
		<td>默认生成的表单HTML：</td>
		<td><textarea rows="5" cols="70">$result</textarea></td>
	</tr>
</table>
</div>
<!--
EOT;
}?>-->
