<!--<?php
print <<<EOT
-->
<!--
EOT;
if(!$job){
print <<<EOT
-->
document.write('<form action="$basename" method="post" name="FORM">');
document.write('<table border="0" cellpadding="3" cellspacing="1" width="100%"><tbody>');
document.write('<tr bgcolor="#F1F7FC"><td><b>$subject</b></td></tr>');
document.write('<tr><td><p>$content</p></td></tr>');
<!--
EOT;
foreach($options as $key=>$val){
$key++;
if(!$ismulti){
print <<<EOT
-->
document.write('<tr valign="top"><td width="25%"><input name="poll" value="$key" type="radio" />$val[value]</td></tr>');
<!--
EOT;
}else{
print <<<EOT
-->
document.write('<tr valign="top"><td width="25%"><input name="poll[$key]" value="$key" type="checkbox" />$val[value]</td></tr>');
<!--
EOT;
}}print <<<EOT
-->
document.write('</tbody></table>');
document.write('<input name="job" value="vote" type="hidden" /><input name="id" value="$id" type="hidden" />');
document.write('<input value="提交" type="submit">');
document.write('<input onclick="javascript:window.open(\'$basename&job=view&id=$id\');" value="查看" type="button">');
document.write('</form>');
<!--
EOT;
}?>-->