<!--{template cp_header}-->
<h2 class="title"><img src="image/icon/profile.gif">个人设置</h2>
<div class="tabs_header">
	<a href="cp.php?ac=advance" class="r_option">&raquo; 高级管理</a>
	<ul class="tabs">
		<li$actives[profile]><a href="cp.php?ac=profile"><span>个人资料</span></a></li>
		<li$actives[avatar]><a href="cp.php?ac=avatar"><span>我的头像</span></a></li>
		<!--{if $_SCONFIG['videophoto']}-->
		<li$actives[videophoto]><a href="cp.php?ac=videophoto"><span>视频认证</span></a></li>
		<!--{/if}-->
		<li$actives[credit]><a href="cp.php?ac=credit"><span>我的积分</span></a></li>
		<!--{if $_SCONFIG['allowdomain'] && $_SCONFIG['domainroot'] && checkperm('domainlength')}-->
		<li$actives[domain]><a href="cp.php?ac=domain"><span>我的域名</span></a></li>
		<!--{/if}-->
		<!--{if $_SCONFIG[sendmailday]}-->
		<li$actives[sendmail]><a href="cp.php?ac=sendmail"><span>邮件提醒</span></a></li>
		<!--{/if}-->
		<li$actives[privacy]><a href="cp.php?ac=privacy"><span>隐私筛选</span></a></li>
		<li$actives[theme]><a href="cp.php?ac=theme"><span>个性化设置</span></a></li>
	</ul>
</div>
<form method="post" action="admincp.php" class="c_form">
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>高级管理</h2>
		<p>通过高级管理，您可以对自己的日志、图片、留言等进行批量删除管理。<br>为了保护您的数据安全，请再次输入您的账户密码以登录高级管理平台。</p>
	</caption>
	<tr>
		<th width="120">用户名</th>
		<td>$_SGLOBAL[username] (<a href="cp.php?ac=common&op=logout">退出</a>)</td>
	</tr>
	<tr>
		<th>密码</th>
		<td><input type="password" name="password" class="t_input" /></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="hidden" name="loginsubmit" value="true" />
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="submit" name="btnsubmit" value="进入平台" class="submit" />
		</td>
	</tr>
</table>
</form>
<!--{template footer}-->