<!--{template cp_header}-->
<!--{if $_SGLOBAL['guidemode']}-->
<!--{template space_guide}-->
<!--{else}-->
<h2 class="title"><img src="image/icon/profile.gif">个人设置</h2>
<div class="tabs_header">
	<a href="cp.php?ac=advance" class="r_option">&raquo; 高级管理</a>
	<ul class="tabs">
		<li$actives[profile]><a href="cp.php?ac=profile"><span>个人资料</span></a></li>
		<li$actives[avatar]><a href="cp.php?ac=avatar"><span>我的头像</span></a></li>
		<!--{if $_SCONFIG['videophoto']}-->
		<li$actives[videophoto]><a href="cp.php?ac=videophoto"><span>视频认证</span></a></li>
		<!--{/if}-->
		<li$actives[credit]><a href="cp.php?ac=credit"><span>我的积分</span></a></li>
		<!--{if $_SCONFIG['allowdomain'] && $_SCONFIG['domainroot'] && checkperm('domainlength')}-->
		<li$actives[domain]><a href="cp.php?ac=domain"><span>我的域名</span></a></li>
		<!--{/if}-->
		<!--{if $_SCONFIG[sendmailday]}-->
		<li$actives[sendmail]><a href="cp.php?ac=sendmail"><span>邮件提醒</span></a></li>
		<!--{/if}-->
		<li$actives[privacy]><a href="cp.php?ac=privacy"><span>隐私筛选</span></a></li>
		<li$actives[theme]><a href="cp.php?ac=theme"><span>个性化设置</span></a></li>
	</ul>
</div>
<!--{/if}-->

<div class="c_form">

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2><!--{if $space[videostatus]}-->我的视频认证照片<!--{else}-->申请视频认证<!--{/if}--></h2>
		<p>
		<!--{if $space[videostatus]}-->
		以下是您认证的视频照片,
		<!--{else}-->
		您需要准备好摄像头，然后点击下面的按钮进行视频认证，
		<!--{/if}-->
		认证通过后将不能再更改
		</p>
	</caption>
	<tr>
		<td>
			<!--{if $space[videostatus]}-->
			<img src="$videophoto" id="avatar" alt="" width="400" />
			<!--{elseif $_SCONFIG['videophoto']}-->
			<a href="userapp.php?id=1036584&my_suffix=Lw%3D%3D"><img src="image/videophoto_btn.gif" alt=""></a>
			<!--{/if}-->
		</td>
	</tr>
</table>

<!--{if checkperm('managevideophoto')}-->
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>视频认证审核</h2>
		<p>您可以进入视频认证平台，自行进行设置认证审核管理</p>
	</caption>
	<tr>
		<td>
			<a href="userapp.php?id=1036584" class="submit">视频认证审核管理</a>
		</td>
	</tr>
</table>
<!--{/if}-->
	
</div>
<!--{template footer}-->
