<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '首页');}-->
<!--{template mtag_header}-->

<div class="side_right">
	<div class="main">
		<div class="box">
			<h3>公告</h3>
			<div class="article">
				<!--{if $mtag[announcement]}-->$mtag[announcement]<!--{else}-->还没有公告<!--{/if}-->
			</div>
		</div>

		<div class="box">
			<h3><a href="mtag.php?do=thread&tagid=$mtag[tagid]">讨论区</a>&nbsp;
			<a href="mtag.php?do=thread&tagid=$mtag[tagid]&view=digest">精华区</a>&nbsp;
			<!--{if $mtag['ismember']}--><a href="cp.php?ac=thread&tagid=$mtag[tagid]">＋发起新话题</a><!--{/if}--></h3>
			<!--{if $list}-->
			<div class="thread_list">
				<table cellspacing="0" cellpadding="0" class="infotable">
					<thead>
						<tr>
							<td class="subject">主题</td>
							<!--{if !$mtag}--><td class="mtag">群组</td><!--{/if}-->
							<td class="author">作者<em>回复/查看数</em></td>
							<td class="lastpost">最后回复<em>回复时间</em></td>
						</tr>
					</thead>
					<!--{loop $list $value}-->
					<tr>
						<td class="subject">
						<!--{if $value[displayorder]}--> [顶] <!--{/if}-->
						<!--{if $value[digest]}--> [精] <!--{/if}-->
						<a href="mtag.php?tagid=$mtag[tagid]&do=thread&id=$value[tid]">$value[subject]</a></td>
						<!--{if !$mtag}--><td class="mtag"><a href="mtag.php?tagid=$value[tagid]">$value[tagname]</a></td><!--{/if}-->
						<td class="author"><a href="space.php?uid=$value[uid]">$value[username]</a><em>$value[replynum]/$value[viewnum]</em></td>
						<td class="lastpost"><a href="space.php?uid=$value[lastauthorid]">$value[lastauthor]</a><em><!--{date('m-d H:i',$value[lastpost],1)}--></em></td>
					</tr>
					<!--{/loop}-->
					<tr>
						<td class="subject"><a href="mtag.php?tagid=$mtag[tagid]&do=thread">&raquo; 所有话题</a></td>
						<td>&nbsp;<br>&nbsp;</td><td></td>
					</tr>
				</table>
			</div>
			<!--{else}-->
			<div class="article l_text">还没有话题。<!--{if $space['ismember']}-->现在就去<a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起一个新话题</a>吧。<!--{/if}--></div>
			<!--{/if}-->
		</div>
	</div>
	<!--{template mtag_sidebar}-->
</div>
<div class="f_status s_clear">
	<!--{if $mtag['ismember']}-->
	<a href="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]" id="a_ignore" onclick="ajaxmenu(event, this.id, 99999)">退出群组</a>
	<!--{/if}-->
</div>
<!--{template footer}-->