	<div class="sidebar">
		<div id="space_avatar"><img src="$mtag[pic]" alt="$mtag[tagname]" width="200" /></div>
		<div id="space_action" class="box">
			<ul class="line_list blocklink">
				<!--{if $mtag['ismember']}-->
				<li><a href="cp.php?ac=thread&tagid=$mtag[tagid]" style="font-weight:bold;">＋发起新话题</a></li>
				<!--{else}-->
				<li><a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999)">选择加入该群组</a></li>
				<!--{/if}-->
				<!--{if $mtag['allowmanage']}-->
				<li><a href="cp.php?ac=mtag&op=edit&tagid=$mtag[tagid]" id="mtag_edit_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">设置群组信息</a></li>
				<li><a href="admincp.php?ac=thread&tagid=$mtag[tagid]" target="_blank">批量管理话题</a></li>
				<!--{/if}-->
			</ul>
		</div>
		<div class="box">
			<h3><a href="mtag.php?do=memver&tagid=$mtag[tagid]">成员</a></h3>
			<!--{if $mtag[membernum]}-->
			<div class="box_action">
				<p>$mtag[membernum] 个成员</p>
				<p class="action"><a href="mtag.php?do=member&tagid=$mtag[tagid]">全部</a></p>
			</div>
			<ul class="avatar_list">
			<!--{loop $memberlist $value}-->
				<li><a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="$value[username]" /></a><p><a href="space.php?uid=$value[uid]">$value[username]</a></p></li>
			<!--{/loop}-->
			</ul>
			<!--{else}-->
			<div class="l_content">
				还没有成员
			</div>
			<!--{/if}-->
		</div>
		<!--{if $musers}-->
		<div class="box">
			<h3>群主</h3>
			<div class="article">
			<!--{eval $dot='';}-->
			<!--{loop $musers $value}-->
			<!--{eval $urlvalue=rawurlencode($value);}-->
			{$dot}<a href="space.php?username=$urlvalue">$value</a>
			<!--{eval $dot='、';}-->
			<!--{/loop}-->
			</div>
		</div>
		<!--{/if}-->
	</div>
