<!--{eval $_TPL['titles'] = array('日志');}-->
<!--{template space_header}-->

<div class="side_right">
	<div class="main">
		<!--{if $list}-->
		<ul>
		<!--{loop $list $value}-->
			<li class="blog" id="blog_$value[blogid]">
				<div class="time"><div class="day"><!--{date('d',$value[dateline],0)}--></div><div class="month"><!--{date('y.m',$value[dateline],0)}--></div></div>
				<!--{if !empty($space[friend]) || $_GET['view'] == 'trace'}--><a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="$value[username]" class="avatar" /></a><!--{/if}-->
				<div class="title">
					<h4><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]">$value[subject]</a></h4>
					<a href="space.php?uid=$value[uid]">$value[username]</a>
					<!--{if $classarr[$value[classid]]}-->分类: <a href="space.php?uid=$value[uid]&do=blog&classid=$value[classid]">{$classarr[$value[classid]]}</a><span class="pipe">|</span><!--{/if}-->
					<!--{if $value[viewnum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]">$value[viewnum] 次阅读</a><span class="pipe">|</span><!--{/if}-->
					<!--{if $value[replynum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]#comment">$value[replynum] 个评论</a><!--{else}-->没有评论<!--{/if}-->
				</div>
				<div class="article">
					<!--{if $value[pic]}--><p class="image"><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]"><img src="$value[pic]" alt="$value[subject]" /></a></p><!--{/if}-->
					$value[message]
				</div>
				<!--{if $value[tag]}-->
				<div class="tags">
					<a href="space.php?uid=$value[uid]&do=tag">标签</a>:&nbsp;
					<ul class="tags_list">
						<!--{loop $value[tag] $tagid $tagname}-->
						<li><a href="space.php?uid=$value[uid]&do=tag&id=$tagid">$tagname</a></li>
						<!--{/loop}-->
					</ul>
				</div>
				<!--{/if}-->
			</li>
		<!--{/loop}-->
		</ul>
		<!--{else}-->
		<div class="article c_form">
		还没有相关的日志。
		<!--{if $space[self]}-->您可以<a href="cp.php?ac=blog">发表自己的日志</a>。<!--{/if}-->
		</div>
		<!--{/if}-->
		<div class="page">$multi[html]</div>
	</div>

	<!--{template space_blog_sidebar}-->
</div>
<!--{template footer}-->