<!--{template space_header}-->

<div class="r_content">
	<div class="main">
		<div id="space_basicinfo" class="box">
			<div class="box_content">
				<table cellspacing="0" cellpadding="0" class="infotable">
				<!--{if $space['showprofile']}-->
				<!--{if $space[sex]}-->
					<tr>
						<th>性别：</th>
						<td>$space[sex]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[birthday]}-->
					<tr>
						<th>生日：</th>
						<td>$space[birthday]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[marry]}-->
					<tr>
						<th>婚恋：</th>
						<td>$space[marry]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[reside]}-->
					<tr>
						<th>居住：</th>
						<td>$space[reside]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[birth]}-->
					<tr>
						<th>家乡：</th>
						<td>$space[birth]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[email]}-->
					<tr>
						<th>邮箱：</th>
						<td>$space[email]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[qq]}-->
					<tr>
						<th>QQ：</th>
						<td>$space[qq]</td>
					</tr>
				<!--{/if}-->
				<!--{if $space[msn]}-->
					<tr>
						<th>MSN：</th>
						<td>$space[msn]</td>
					</tr>
				<!--{/if}-->
				
				<!--{loop $fields $fieldid $value}-->
				<!--{if $space["field_$fieldid"] && empty($value['invisible'])}-->
				<!--{eval $fieldvalue = $space["field_$fieldid"]; $urlvalue = rawurlencode($fieldvalue);}-->
					<tr>
						<th>$value[title]：</th>
						<td><!--{if $value[allowsearch]}-->
							<a href="network.php?ac=space&field_$fieldid=$urlvalue&searchmode=1">$fieldvalue</a>
							<!--{else}-->$fieldvalue<!--{/if}--></td>
					</tr>
				<!--{/if}-->
				<!--{/loop}-->
				<!--{/if}-->
					<tr>
						<th>网址：</th>
						<td><a href="$space[domainurl]" onclick="javascript:setCopy('$space[domainurl]');return false;">$space[domainurl]</a></td>
					</tr>
				</table>
			</div>
		</div>
		
		<!--{if $feedlist}-->
		<div id="space_feed" class="box feed">
			<h3>个人动态</h3>
			<div class="widget_action">
				<p>最近 $feednum 条</p>
				<p class="action"><a href="space.php?uid=$space[uid]&do=feed&view=me">全部</a></p>
			</div>
			<div class="box_content">
				<ul id="feed_ul">
				<!--{loop $feedlist $value}-->
					<!--{template space_feed_li}-->
				<!--{/loop}-->
				</ul>
			</div>
		</div>
		<!--{/if}-->
	
		<!--{if $albumlist}-->
		<div id="space_photo" class="box">
			<h3>相册</h3>
			<div class="widget_action">
				<p>相册更新</p>
				<p class="action"><a href="space.php?uid=$space[uid]&do=album&view=me">全部</a></p>
			</div>
			<div class="box_content">
				<table cellspacing="0" cellpadding="0" class="thumab_list">
				<tr>
				<!--{loop $albumlist $key $value}-->
					<td width="80" style="vertical-align: top;"><a href="space.php?uid=$space[uid]&do=album&id=$value[albumid]"><img src="$value[pic]" alt="$value[albumname]" width="70" /></a></td>
					<td width="90" style="vertical-align: top;">
						<h6><a href="space.php?uid=$space[uid]&do=album&id=$value[albumid]" title="$value[albumname]">$value[albumname]</a></h6>
						<p>$value[picnum] 张照片</p>
						<p>更新于 <!--{date('m-d',$value[dateline],1)}--></p>
					</td>
					<!--{if $albumlist && $key%2==1}--></tr><tr><!--{/if}-->
				<!--{/loop}-->
				</tr>
				</table>
			</div>
		</div>
		<!--{/if}-->
	
		<!--{if $bloglist}-->
		<div id="space_blog" class="box">
			<h3>日志</h3>
			<div class="widget_action">
				<p>最新 $blognum 篇</p>
				<p class="action"><a href="space.php?uid=$space[uid]&do=blog&view=me">全部</a></p>
			</div>
			<ul class="post_list line_list">
			<!--{loop $bloglist $value}-->
				<li class="first">
					<h6><a href="space.php?uid=$space[uid]&do=blog&id=$value[blogid]">$value[subject]</a></h6>
					<div class="detail image_right">
						<!--{if $value[pic]}--><p class="image"><a href="space.php?uid=$space[uid]&do=blog&id=$value[blogid]"><img src="$value[pic]" alt="$value[subject]" /></a></p><!--{/if}-->
						$value[message]
					</div>
					<p class="stat"><a href="space.php?uid=$space[uid]&do=blog&id=$value[blogid]">阅读全文</a><span class="pipe">|</span><span class="time"><!--{date('m-d H:i',$value[dateline],1)}--></span><span class="pipe">|</span><!--{if $value[replynum]}--><a href="space.php?uid=$space[uid]&do=blog&id=$value[blogid]#comment">$value[replynum]人评论</a><!--{else}--><span class="pipe">没有评论</span><!--{/if}--></p>
				</li>
			<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
	
		<!--{if $mtaglist}-->
		<div id="space_mtag" class="box">
			<h3>群组</h3>
			<!--{loop $mtaglist $fieldid $values}-->
			<table cellspacing="0" cellpadding="0" class="formtable">
				<tr>
					<td><strong>{$_SGLOBAL[profield][$fieldid][title]}</strong></td>
				</tr>
				<tr>
					<td>
					<!--{eval $dot = '';}-->
					<!--{loop $values $key $value}-->
					$dot<a href="space.php?do=mtag&tagid=$value[tagid]" title="$value[membernum]个人有同样的选择">$value[tagname]</a>
					<!--{eval $dot = '、';}-->
					<!--{/loop}-->
					</td>
				</tr>
			</table>
			<!--{/loop}-->
		</div>
		<!--{/if}-->

		<div id="comment" class="box">
			<h3>留言板</h3>
			<div class="widget_action">
				<p>最新留言</p>
				<p class="action"><a href="space.php?uid=$space[uid]&do=wall&view=me">全部</a></p>
			</div>
			<div class="space_wall_post">
				<form action="cp.php?ac=comment" id="commentform" name="commentform" method="post">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td><textarea name="message" id="comment_message" rows="5" cols="60" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea></td>
						</tr>
						<tr>
							<td>
								<input type="hidden" name="refer" value="space.php?uid=$space[uid]" />
								<input type="hidden" name="id" value="$space[uid]">
								<input type="hidden" name="idtype" value="uid">
								<input type="hidden" name="commentsubmit" value="true" />
								<input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="submit" value="留言" onclick="ajaxpost('commentform', 'comment_status', 'wall_add')" />
								<span id="comment_status"></span>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="box_content">
				<ul class="post_list a_list" id="comment_list">
				<!--{loop $walllist $value}-->
					<!--{template space_comment_li}-->
				<!--{/loop}-->
				</ul>
				<div align="right"><a href="space.php?uid=$space[uid]&do=wall&view=me">&raquo; 所有留言</a></div>
			</div>
		</div>
	</div>
	<!--{template space_index_sidebar}-->
</div>

<div class="f_status s_clear">
	<a href="rss.php?uid=$space[uid]" id="a_rss" title="订阅 RSS">订阅</a>
	<!--{if $space['isfriend'] && !$space['self']}-->
	<a href="cp.php?ac=friend&op=ignore&uid=$space[uid]" id="a_ignore" onclick="ajaxmenu(event, this.id, 99999)">解除好友关系</a>
	<!--{/if}-->
</div>

<!--{template footer}-->